/* "b-info */
/*========================*/
.b-info
	padding-bottom 18px
	max-width 260px
	
	&-wrapper 
		@media screen and (min-width: 768px) 
			padding: 46px 0 0 30px
	
	&__title 
		color: #2c3237
		font-size: 18px
		font-weight: 500
		padding-bottom 10px
		line-height 1.2
	
	&__item 
		color: #2c3237
		font-size: 15px
		line-height: 1.2
		display flex 
		padding-bottom 8px
		
		&-part 
			&--text 
				flex 1 
				padding-right 2%
			
			&--number 
				text-align right
				width 70px
				min-width 70px    
				

/* b-balance-tabs */
/*========================*/ 
.b-balance-tabs
	padding-top 20px
	
	&__buttons 
		display flex 
		justify-content space-between 
		flex-wrap wrap
		
	& &__button 
		width 48%
		font-size 15px   
		
		@media screen and (max-width: 1200px) 
			font-size 14px
			
		&--buy 
			box-shadow inset 0 0 0 1px #E1E5E7
			background: transparent
			color #2E97DF
			
	.b-user-balance__input-topic
		font-size 0
		width 48%
		text-align center
		margin: 12px 0 0
		
		span 
			color: #2f353b
			font-size: 15px
			font-weight: 500
			display inline-block
			border-bottom 1px dashed #000000
			line-height 1
			cursor pointer
			
		&:hover span 
			border-bottom-color transparent
	
	.b-promo-input
		margin-top 10px
			
	
	.b-user-balance__money-input
		width 100%
	
	&__item 
		display none
		padding-top 20px
		border-top 1px solid #F0F1F2
			


.b-user-balance__item
	@media screen and (min-width: 768px) 
		 width 48%          

@media screen and (min-width: 1200px) 
	.b-user-balance__select-text, .b-user-balance__form-docs-link a
		margin-top 10px

@media screen and (max-width: 767px) 
	.b-user-balance__status-wrapper
		padding 0
		border none
	
	.b-user-balance__item 
		padding 20px 20px
		border-bottom 1px solid #E1E4E6
	
	.b-info
		max-width none
		

/* answer-block */
/*========================*/        
.block-preloader
	padding: 20px 0 0
	text-align: center 
	
	span 
		animation-name: preloaderAnimation
		animation-duration: 1.2s
		animation-iteration-count: infinite
		animation-fill-mode: both
		display inline-block
		vertical-align top
		width 7px
		height 7px
		margin: 4px
		border-radius 100px 
		background-color #2F353B
		
		&:nth-child(2) 
			animation-delay: .2s

		&:nth-child(3) 
			animation-delay: .4s

.block-error
	text-align center
	margin-top 20px
	line-height 1.67
	font-size 15px
	color #d61f26

		

@keyframes preloaderAnimation {
	0% {
		opacity: .2
	}
	20% {
		opacity: 1
		transform: translateY(-50%)
	}     
	100% {
		opacity: .2
	}
}

/* uploading-document */
/*========================*/
.uploading-document
	display inline-block
	vertical-align top
	margin-right 20px
	margin-top 8px
	
	i 
		font-family FontAwesome
		font-style normal
		font-size: 120%
		display: inline-block
		vertical-align: middle
		margin-right: 6px
		
		&:before 
			content: "\f1c1"