h1{
  font-weight: 500;
  line-height: 25px;
  font-size: 30px;
  margin: 6px 0 9px;
}
h2{
  font-weight: 500;
  line-height: normal;
  font-size: 25px;
  margin-top: 19px;
  margin-bottom: 8px;

  &:not(:first-child){
    margin-top: 36px;
  }

  &.centered{
    margin-top: 72px;
    margin-bottom: 60px;
    text-align: center;
    font-size: 30px;
  }

}
h3{
  font-weight: 500;
  line-height: normal;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 6px;
}
p{
  line-height: 24px;
  font-size: 15px;
  margin: 7px 0;
}
section{
  ul{
    margin: 10px 0;
    list-style: none;
    li{
      margin-bottom: 13px;
      position: relative;
      font-size: 15px;
      &:before{
        content: '';
        position: absolute;
        left: -27px;
        top: 3px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        border: 1px solid #A2AEB7;
        box-sizing: border-box;
      }
    }
  }
}
section{
  img{
    display: block;
    width: 100%;
    max-width: 460px;
    max-height: 315px;
    background: #FFFFFF;
    box-shadow: 0 0 10px rgba(162, 174, 183, 0.3);
    border-radius: 5px;
    margin: 30px auto 14px;
  }
  .image-title {
    line-height: normal;
    font-size: 14px;
    text-align: center;
    color: #697882;
  }
}
ol{
  margin: 10px 0;
  list-style: none;
  counter-reset: numb-list 0;
  li{
    margin-bottom: 14px;
    line-height: 23px;
    font-size: 15px;
    position: relative;
    &:before{
      counter-increment: numb-list;
      content: counter(numb-list)".";
      line-height: 24px;
      font-size: 15px;
      text-align: right;
      color: #A2AEB7;
      position: absolute;
      top: -1px;
      left: -25px;
    }
  }
}
.banner{
  background: #FFFFFF;
  box-shadow: 0 0 10px rgba(162, 174, 183, 0.2);
  border-radius: 5px;
  padding: 50px 20px;
  margin-bottom: 60px;
  text-decoration: none;
  transition: box-shadow .2s;
  &:hover{
    text-decoration: none;
    box-shadow: 0px 0px 20px rgba(162, 174, 183, 0.29546), 0px 0px 10px rgba(162, 174, 183, 0.29546);
  }
  .banner__logo{
    height: 100px;
    img{
      max-width: 100%;
      max-height: 100%;
      display: block;
      background: #FFFFFF;
      box-shadow: none;
      border-radius: 0;
      margin: 0;
    }
  }
  .banner__title{
    line-height: normal;
    font-size: 18px;
    text-align: center;
    color: #2F353B;
    margin: 27px 0 11px;
  }
  .banner__description{
    line-height: 25px;
    font-size: 15px;
    text-align: center;
    color: #A2AEB7;
  }
}