.main-svg-sprite
	display : none

.svg-icon
	display : inline-block
	width : 24px
	height : 24px
	fill : currentColor

	&__spinner
		fill : inherit
		width : inherit
		height : inherit
		animation-name : spinner
		animation-duration : .7s
		animation-iteration-count : infinite
		animation-timing-function : linear

	&__link
		vertical-align : top
		fill : inherit
		width : inherit
		height : inherit

@keyframes spinner
	from
		transform : rotate(0deg)
	to
		transform : rotate(360deg)


// Фикс для скролла 
.select2-container--default .select2-results > .select2-results__options
	> li 
		min-height 31px

// Отступ 
.b-personal-form__passw
	padding-top 20px
	
/* b-page-nav */
/*========================*/
.b-page-nav
	
	&__container
		display: flex 
		justify-content space-between
		align-items flex-start
		
		&:before
			content ''
			display inline-block
			width 240px
			height 0
			font-size 0
			line-height 0
	
	&__amount 
		display: flex 
		align-items center 
		width 240px
		justify-content flex-end
		
		&-title
			color: #2F353B
			font-size 16px
			margin-right 6px
	
	&__list-wrapper
		display: flex 
	
	&__prev, &__next 
		width 40px
		height 40px
		display: inline-flex 
		align-items center 
		justify-content center 
	

		&:before 
			display inline-block
			font-family: FontAwesome
			font-size 36px
			color #A7B2BB
	
	&__next:before 
		content ''
	
	&__prev:before 
		content ''
	
	@media screen and (max-width: 999px) 
		&__amount
			display none
		
		&__container 
			display: block
			
			&:before 
				content none
	
		&__list 
			display: flex 
			align-items center 
			max-width: calc(100% - 90px)
			padding: 10px 0
			overflow-x auto
			-webkit-overflow-scrolling: touch;

			&::-webkit-scrollbar-thumb
				background: #A7B2BB

			&::-webkit-scrollbar
				height: 5px;
			
			&-wrapper 
				align-items center 
				justify-content center
				
/* js-blocking */
/*========================*/
.js-blocking
	opacity .6
	pointer-events: none

@require '../_blocks/**/*.styl';