<!doctype html>
<html lang="{{app.lang}}">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="cleartype" content="on">

        <meta name="theme-color" content="{{ app.stylus.theme_color }}">

        <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
        <meta name="format-detection" content="telephone=no">
        {% if noViewport  %}
          <meta name="viewport" content="width=1440, user-scalable=no">
        {% else %}
          <meta name="viewport" content="width=device-width, initial-scale=1">
        {% endif %}

        <meta name="msapplication-tap-highlight" content="no">

        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">

        <meta name="MobileOptimized" content="320">
        <meta name="HandheldFriendly" content="True">


        <title>{{ pageTitle}}</title>


          <meta name="keywords" content="">
          <meta name="description" content="">
          <!-- cache-->
          <meta http-equiv="Cache-Control" content="public">
          <meta http-equiv="Cache-Control" content="max-age=34700">
          <link rel="shortcut icon" href="./img/favicon/favicon.ico" type="image/x-icon">
          <link rel="apple-touch-icon" href="./img/favicon/favicon.ico">
          <link rel="apple-touch-icon" sizes="72x72" href="./img/favicon/favicon.ico">
          <link rel="apple-touch-icon" sizes="114x114" href="./img/favicon/favicon.ico">

          <!-- user css-->
          <link rel="stylesheet" href="css/plugins.min.css">

          <link property="stylesheet" href="./css/template_styles.css" rel="stylesheet">
          <link property="stylesheet" href="./css/template_styles_tablet.css" rel="stylesheet" media="(min-width: 768px)">
          <link property="stylesheet" href="./css/template_styles_desktop.css" rel="stylesheet" media="(min-width: 1025px)">

          <link rel="stylesheet" href="css/style.css">


    </head>

    <body block="app" mods="{{ bodyMods }}" mix="block:{{bodyClasses}}" {% if noViewport %} class="nomobile"{% endif %}>

        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

        {% set header = layout.header %}
        {% include 'app-header.html' %}

        {% if layout.profile %}
            <!--<section class="b-profile-tabs">
                <div class="b-profile-tabs__item active"><a href="">СайтАудитор</a></div>
                <div class="b-profile-tabs__item has-child">
                    <a href="">Текстратор</a>
                    <ul class="b-profile-tabs__helper">
                        <li><a href="">Текстовый анализатор</a></li>
                        <li><a href="">Подбор тематических слов</a></li>
                        <li><a href="">Калькулятор вхождений</a></li>
                    </ul>
                </div>
            </section>-->
        {% endif %}
        {% if layout.topic %}
            <div class="b-page-topic{% if layout.topic.button %} b-btn-flex{% endif %}{% if layout.topic.class %} {{layout.topic.class}}{% endif %}">
                {% if layout.topic.button %}
                    <div class="b-page-topic__btn b-main-button b-main-button_white">
                        <a href="#">Назад</a>
                    </div>
                {% endif %}
                <h1 class="b-page-topic__text">
                  {{pagePath}}{{pageTitle}}
                  {% if pageTitleNote %}
                    <span class="b-page-topic__text-note">
                      {{pageTitleNote}}
                    </span>
                  {% endif %}
                </h1>
                  {% if bulet %}
                  <div class="b-analysis__time">
                    <div class="b-analysis__time-date">
                      <div class="b-analysis__time-date-wrap"><span class="c1">22.09.17</span><span class="c2">18:00</span></div>
                      <div class="b-analysis__select-wrap">
                        <div class="b-analysis__select b-analysis__select_date">
                          <div class="b-analysis__select-item js-date-switcher" data-targetinner=".b-analysis__time-date-wrap" data-context=".b-analysis__time-date" data-hidetarget=".b-analysis__select-wrap"><span>22.09.17</span><span>11:00</span></div>
                          <div class="b-analysis__select-item js-date-switcher" data-targetinner=".b-analysis__time-date-wrap" data-context=".b-analysis__time-date" data-hidetarget=".b-analysis__select-wrap"><span>22.09.17</span><span>14:00</span></div>
                          <div class="b-analysis__select-item js-date-switcher" data-targetinner=".b-analysis__time-date-wrap" data-context=".b-analysis__time-date" data-hidetarget=".b-analysis__select-wrap"><span>22.09.17</span><span>15:00</span></div>
                          <div class="b-analysis__select-item js-date-switcher" data-targetinner=".b-analysis__time-date-wrap" data-context=".b-analysis__time-date" data-hidetarget=".b-analysis__select-wrap"><span>22.09.17</span><span>16:00</span></div>
                          <div class="b-analysis__select-item js-date-switcher" data-targetinner=".b-analysis__time-date-wrap" data-context=".b-analysis__time-date" data-hidetarget=".b-analysis__select-wrap"><span>22.09.17</span><span>17:00</span></div>
                          <div class="b-analysis__select-item js-date-switcher" data-targetinner=".b-analysis__time-date-wrap" data-context=".b-analysis__time-date" data-hidetarget=".b-analysis__select-wrap"><span>22.09.17</span><span>18:00</span></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="b-analysis__btns">
                    <div class="b-analysis__btn-rebuild"><i class="fa fa-refresh" aria-hidden="true"></i> Перезапустить</div>
                    <div class="b-analysis__btn-download"><img src="images/icon/download.svg" alt="Перезапустить" title="Перезапустить"> Скачать ТЗ</div>
                  </div>
                  {% endif %}
                {% if more %}
                  <div class="b-page-topic__more">
                    <div class="b-projects-table__options js-slide-toggle" data-slidetoggle=".b-projects-table__options-body" data-slidecontext=".b-page-topic__more" data-slideeffect="fade" data-thisclass=".b-projects-table__options">
                      <div class="b-projects-table__option"></div>
                      <div class="b-projects-table__option"></div>
                      <div class="b-projects-table__option"></div>
                    </div>
                    <div class="b-projects-table__options-body">
                      <ul>
                        <li><a href="#"><span>Перезапустить</span></a></li>
                        <li><a href="#"><span>Скачать ТЗ</span></a></li>
                        <li class="b-delete-btn js-magnific"><a href="#b-delete-account2">Удалить проект</a></li>
                      </ul>
                    </div>
                  </div>
                {% endif %}
            </div>
        {% endif %}

        {% block main %}{% endblock %}

        {% set footer = layout.footer %}
        {% include 'app-footer.html' %}

        {% include 'modal.html' %}

        <script src="js/vendors/jquery-3.2.1.min.js"></script>
        <script src="js/plugins.min.js"></script>
        <script src="js/app.js"></script>
        <script src="js/calculator-popup.js"></script>

    </body><!-- b:w-page -->
</html>
