
html,
body
    height: 100%;

/* IE 10+ */

    
::-webkit-input-placeholder
    color : #A2AEB7
    transition .3s linear color
:-moz-placeholder
    color : #A2AEB7
    transition .3s linear color
/* FF 4-18 */
::-moz-placeholder
    color : #A2AEB7
    transition .3s linear color
/* FF 19+ */
:-ms-input-placeholder
    color : #A2AEB7
    transition .3s linear color

/* Input placeholder color
 ========================================================================== */
/* IE 10+ */
:focus::-webkit-input-placeholder
    color : transparent
:focus:-moz-placeholder
    color : transparent
/* FF 4-18 */
:focus::-moz-placeholder
    color : transparent
/* FF 19+ */
:focus:-ms-input-placeholder
    color : transparent


@media all and (min-width: 768px) 
    .b-personal-data__btn
        margin-left 200px

@media all and (min-width: 1200px) 
    .b-personal-data__btn
        margin-left 217px
        

// class
.hide 
    display none !important

/* form error */
/*========================*/   
input
    
    &.error 
        border-color #D61F26 !important

.error-text
    color #D61F26
    line-height 1
    position absolute
    font-size 13px
    padding-top 4px
    text-align: left


/* settings01 */
/*================================*/
@media all and (min-width: 768px) 
    .select2-container--default .select2-results > .select2-results__options > li
        line-height 1.2
        padding: 8px 6px 9px 10px
        
@media all and (max-width: 767px) 
    .b-user-balance__cansel-wrapper
        display:  flex 
        flex-direction column 
    
    .b-user-balance__money-push
        order -1
    
    .b-user-table__item-time .b-time
        margin-left 8px
        
@media all and (max-width: 1199px) 
    
    .select2-container--default .select2-results > .select2-results__options > li
        padding: 13px 6px 14px 10px

/* b-analysis-total__topic-date-wrap */
/*========================*/
.b-analysis-total__topic-date-wrap,
.b-analysis__time-date
    
    .b-analysis__select
        max-height 255px
/*========================*/

.b-user-robotx__textarea
    padding 8px 0 0 
    display none
        
/* b-user-robotx__select-wrapper */
/*========================*/
.b-user-robotx__select-wrapper
    padding-top 10px
    
/* b-site-content */
/*========================*/
.app--inner
    display: flex 
    flex-direction column 
    background-color #F6F8FA
    
    #header,
    #footer,
    .b-profile-tabs,
    .b-page-topic 
        flex none
        
.b-site-content
    flex 1 0 auto
    padding: 23px 30px 40px
    
    @media all and (min-width: 1200px) 
        padding-left 140px
    
    @media all and (min-width: 1200px) 
        padding-left 50px
    
    @media all and (min-width: 768px) 
        padding-left 34px

    
    &__inner 
        background-color: #fff;
        box-shadow: 0 0 10px 0 rgba(162, 174, 183, 0.2);
        max-width: 1160px;
        padding 30px 40px 50px;
    
        &--reports
            max-width 1300px
        
        &&--statistics
            max-width 860px
        
        &--challenge-check
            max-width 1380px
        
// b-page-topic
.b-page-topic__text-note
    color: #A2AEB7

.b-page-topic--checking 
    padding-right 100px
    position relative
    display: flex 
    flex-wrap wrap 
    align-items center 
    
    .b-analysis__time-date-wrap:before, .b-analysis__time-cost:before
        content none 
    
    .b-analysis__time-date-wrap span:first-child, .b-analysis__time-cost span:first-child
        padding-left 0
        
    .b-page-topic__more 
        position absolute 
        right 30px
        top 30px
        padding-right 25px
        white-space nowrap
    
    .b-projects-table__options-body
        top 30px
        right -20px

        ul
            list-style: none
    



/* nomobile */
/*========================*/
.nomobile
    min-width 1024px
    

/* input */
/*========================*/
.b-site-content,
.b-challenge-popup  
    input,
    textarea
        width 100%
        background-color: #F6F8FA;
        border-radius 3px 
        border: 1px solid #E1E4E6;
        font-size 16px
        padding: 0 10px 
    
    input   
        height 40px
        @media all and (max-width: 1199px) 
            height 50px
    
    textarea
        padding 10px
        max-width 100%
        
&[style="display: block;"]
    ul 
        list-style none  !important
        list-style-type none  !important


/* path-separator */
/*========================*/
.path-separator
    display inline-block
    vertical-align middle
    font-family: FontAwesome
    font-size 20px
    font-weight 900
    margin: 0 8px 0 12px
    
    &:before 
        content '\f054'
        display block
    