
         
.app--authorization 
    @media screen and (max-width: 1000px) 
    	background-color #fff
    
    


.b-authorization
	flex 1 0 auto
	display: flex 
	flex-direction column 
	align-items center 
	justify-content center 
	padding 30px
	
	@media screen and (max-width: 1000px) 
		padding 0
	
	
	button 
		width: 100%;
		padding: 13px 10px;
		background-color: #2f353b;
		color: #fff;
		border: none;
		cursor: pointer;
		border-radius: 2px;
		font-size: 15px;
		line-height: 25px;
		font-weight: 500;
		
		@media screen and (min-width: 1200px) 
			padding: 8px 10px
	
	&__content 
		min-height 1px !important
		float none  !important
		position relative
		box-shadow 0 0 13px rgba(0,0,0,.2)
		
		@media screen and (max-width: 1000px) 
			box-shadow none
		
		@media screen and (max-width: 480px) 
			padding: 30px 16px !important
		
		&#registration,
		&#restore-password,
		&#password-sent
			display none
		
		&#password-sent
			text-align: left 
	
	&__list 
		padding 20px 0 26px 15px
		margin 0
		font-size 18px
		
		&--hidden 
			display none

	&__find 
		color: #2f353b;
		font-size: 18px;
		font-weight: 400;
		text-decoration none
		border-bottom 1px dashed #283239
		line-height 1 !important
		
		&:hover 
			border-bottom-color transparent
			text-decoration none
	
	.sign-in__title + &__list 
		padding-top 0

.form-item 
	
	&.b-main-checkbox 
		text-align: left