.b-projects--textraktor
	
	.b-projects
		
		&-table 
			
			@media screen and (min-width: 1200px) 
				
				&__item 
					width 16.5%
					
					&:first-child 
						width 28%
					
					&:last-child 
						width 6%
				
				&__link 
					width 28%
				
				&__limit-wrap
					width 16.5%
				
				&__date
					width 16.5%
				
				&__action 
					width 16.5%
					
				
				&__start 
					width 16.5%
				
				&__options-head 
					width 6%
			
			@media screen and (max-width: 1199px) and (min-width: 768px)
				
				&__item 
					display block 
					width 24%
					
					&:first-child 
						width 40%
					
					&:last-child 
						width 12%
					
					&:nth-child(3n+2)
						display none
				
				&__limit-wrap 
					display none
				
				&__action 
					display block
					width 24%
					
				&__link,
				&__limit-wrap,
				&__date,
				&__action,
				&__start,
				&__options-head 
					order 0 !important
			
			@media screen and (max-width: 767px) 
					
				&__action
					display block
					order 3 !important
					padding 7px 0 0 23px

	
	.confirm-link
		color #DA2C36
	
	.b-projects-table__action
		font-size 15px
		color #2f353b

	.b-projects-table__start 
		a 
			display inline-block
			vertical-align middle
			margin-right 12px
			opacity .5
			transition .3s linear all 
			
			&:hover
				opacity 1
				
		.b-icon
			font-size 20px
			font-family: FontAwesome
			display inline-block
			vertical-align middle
			font-weight 900
			
			&:before 
				display block
			
			&__desktop 
				&:before 
					content: "\f108";
					color #2E97DF
			
			&__excel 
				&:before 
					content: "\f1c3";
					color #217346
			
			&__word 
				&:before 
					content: "\f1c2";
					color #2B579A
					

	.b-projects-table__date .b-icon_timer:before
		color: #a7b2bb;