{# 
Переменные

[string] title - задаем Тайтл и h1 для страницы
[string] header_logo - какой логотип показываем в header sa (СайтАудитор) / sr (Сайтрепорт) 
[string] header_class - доп класс для хедера
[boolean] auth - авторизован или нет
[string] body_class - классы для боди
[string] layout - название шаблона
[boolean] top_h1 - плашка под хедером с заголовком
[boolean] top_back - кнопка назад в плашке под хедером
[string] top_classes - доп классы для верхней плашки
[boolean] in_process - закрываем сайдбар, пока сканим сайт

#}

{% if not(title) %}
	{% set title = "Default title" %}
{% endif %}

{% if not(nomobile) %}
  {% set nomobile = 0 %}
{% endif %}

{% if not(header_logo) %}
	{% set header_logo = 'sr' %}
{% endif %}

<!DOCTYPE html>
<html lang="ru">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="cleartype" content="on">

        <meta name="theme-color" content="#3E50B4">

        <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
        <meta name="format-detection" content="telephone=no">
        
        {% if nomobile == 0 %}<meta name="viewport" content="width=device-width, initial-scale=1">
        {% else %}<meta name="viewport" content="width=1440, user-scalable=no">{% endif %}

        <meta name="msapplication-tap-highlight" content="no">

        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">

        <meta name="MobileOptimized" content="320">
        <meta name="HandheldFriendly" content="True">

        <title>{{ title }}</title>

        <meta name="keywords" content="">
        <meta name="description" content="">
        <!-- cache-->
        <meta http-equiv="Cache-Control" content="public">
        <meta http-equiv="Cache-Control" content="max-age=34700">
        <link rel="shortcut icon" href="./img/favicon/favicon.ico" type="image/x-icon">
        <link rel="apple-touch-icon" href="./img/favicon/favicon.ico">
        <link rel="apple-touch-icon" sizes="72x72" href="./img/favicon/favicon.ico">
        <link rel="apple-touch-icon" sizes="114x114" href="./img/favicon/favicon.ico">

        <!-- user css-->
        <link rel="stylesheet" href="css/plugins.min.css">

        <link property="stylesheet" href="./css/template_styles.css" rel="stylesheet">
        <link property="stylesheet" href="./css/template_styles_tablet.css" rel="stylesheet" media="(min-width: 768px)">
        <link property="stylesheet" href="./css/template_styles_desktop.css" rel="stylesheet" media="(min-width: 1025px)">

        <link rel="stylesheet" href="css/style.css">
    </head>

    <body class="app app--{{ layout }}{% if body_class %} {{ body_class }}{% endif %}{% if nomobile == 1 %} nomobile{% endif %}">
	    {% include "../parts/header.njk" %}
      {% if top_h1 == 1 %}
        <div class="b-page-topic{% if top_back == 1 %} b-btn-flex{% endif %}{% if top_classes %} {{ top_classes }}{% endif %}">                
          {% if top_back == 1 %}<div class="b-page-topic__btn b-main-button b-main-button_white">
              <a href="#">Назад</a>
          </div>{% endif %}
          {% block top_h1_content %}<h1 class="b-page-topic__text">{{ title }}</h1>{% endblock %}
        </div>  
      {% endif %}
      <!--[if lte IE 9]>
          <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
      <![endif]-->

      {% block content %}{% endblock %}

		{% include "../parts/footer.njk" %}
		
		<script src="js/vendors/jquery-3.2.1.min.js"></script>
		{% block extjs %}{% endblock %}
    <script src="js/plugins.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/calculator-popup.js"></script>
	    
	</body>
</html>