<aside class="b-inreports__aside{% if in_process == 1%} in-process{% endif %}">
	<div class="b-inreports__aside-item active">
		<div class="b-inreports__aside-menu-wrapper">
			<ul class="b-inreports__aside-menu">
				<li class="b-inreports__aside-menu-item">
					<span class="b-inreports__aside-menu-link icon-summary">Общая диагностика сайта</span>
					<ul class="b-inreports__aside-submenu">
						<li class="b-inreports__aside-submenu-item"><a href="#$" class="b-inreports__aside-submenu-link">Информация о домене</a></li>
						<li class="b-inreports__aside-submenu-item"><a href="#$" class="b-inreports__aside-submenu-link">Безопасность</a></li>
						<li class="b-inreports__aside-submenu-item">
							<a href="#$" class="b-inreports__aside-submenu-link">Репутация и доверие</a>
							<ul class="b-inreports__aside-signals">
								<li class="b-inreports__aside-signal critical">1</li>
							</ul>
						</li>
						<li class="b-inreports__aside-submenu-item">
							<a href="#$" class="b-inreports__aside-submenu-link">Robots.txt</a>
							<ul class="b-inreports__aside-signals">
								<li class="b-inreports__aside-signal critical">1</li>
							</ul>
						</li>
						<li class="b-inreports__aside-submenu-item">
							<a href="#$" class="b-inreports__aside-submenu-link">Sitemap.xml</a>
							<ul class="b-inreports__aside-signals">
								<li class="b-inreports__aside-signal critical">1</li>
								<li class="b-inreports__aside-signal warning">1</li>
							</ul>
						</li>
					</ul>
				</li>
			
				<li class="b-inreports__aside-menu-item">
					<span class="b-inreports__aside-menu-link icon-workkey">Сканирование и индексация</span>
					<ul class="b-inreports__aside-submenu">
						<li class="b-inreports__aside-submenu-item">
							<a href="#$" class="b-inreports__aside-submenu-link">Ответы сервера</a>
							<ul class="b-inreports__aside-signals">
								<li class="b-inreports__aside-signal critical">2</li>
								<li class="b-inreports__aside-signal warning">2</li>
								<li class="b-inreports__aside-signal common">2</li>
							</ul>
						</li>
						<li class="b-inreports__aside-submenu-item"><a href="#$" class="b-inreports__aside-submenu-link">Глубина сайта</a></li>
						<li class="b-inreports__aside-submenu-item">
							<a href="#$" class="b-inreports__aside-submenu-link">Структура сайта</a>
							<ul class="b-inreports__aside-signals">
								<li class="b-inreports__aside-signal common">1</li>
							</ul>
						</li>
						<li class="b-inreports__aside-submenu-item">
							<a href="#$" class="b-inreports__aside-submenu-link">Адресация и протокол</a>
							<ul class="b-inreports__aside-signals">
								<li class="b-inreports__aside-signal critical">1</li>
								<li class="b-inreports__aside-signal warning">2</li>
							</ul>
						</li>
						<li class="b-inreports__aside-submenu-item"><a href="#$" class="b-inreports__aside-submenu-link">Внутренние ссылки</a></li>
						<li class="b-inreports__aside-submenu-item">
							<a href="#$" class="b-inreports__aside-submenu-link">Внешние ссылки</a>
							<ul class="b-inreports__aside-signals">
								<li class="b-inreports__aside-signal common">1</li>
							</ul>
						</li>
						<li class="b-inreports__aside-submenu-item"><a href="#$" class="b-inreports__aside-submenu-link">Rel="canonical"</a></li>
						<li class="b-inreports__aside-submenu-item"><a href="#$" class="b-inreports__aside-submenu-link">Индексация страниц</a></li>
						<li class="b-inreports__aside-submenu-item"><a href="#$" class="b-inreports__aside-submenu-link">Ресурсы</a></li>
						<li class="b-inreports__aside-submenu-item"><a href="#$" class="b-inreports__aside-submenu-link">Счётчики посещаемости</a></li>
						<li class="b-inreports__aside-submenu-item"><a href="#$" class="b-inreports__aside-submenu-link">Производительность</a></li>						
					</ul>
				</li>
			
				<li class="b-inreports__aside-menu-item">
					<span class="b-inreports__aside-menu-link icon-text">Текстовая оптимизация</span>
					<ul class="b-inreports__aside-submenu">
						<li class="b-inreports__aside-submenu-item">
							<a href="#$" class="b-inreports__aside-submenu-link">Мета-теги</a>
							<ul class="b-inreports__aside-signals">
								<li class="b-inreports__aside-signal critical">2</li>
								<li class="b-inreports__aside-signal warning">1</li>
							</ul>
						</li>
						<li class="b-inreports__aside-submenu-item"><a href="#$" class="b-inreports__aside-submenu-link">Заголовки и теги</a></li>
						<li class="b-inreports__aside-submenu-item"><a href="#$" class="b-inreports__aside-submenu-link">Объём и дубликаты</a></li>
						<li class="b-inreports__aside-submenu-item">
							<a href="#$" class="b-inreports__aside-submenu-link">Текст</a>
							<ul class="b-inreports__aside-signals">
								<li class="b-inreports__aside-signal common">1</li>
							</ul>
						</li>
						<li class="b-inreports__aside-submenu-item">
							<a href="#$" class="b-inreports__aside-submenu-link">Анкор-лист</a>
							<ul class="b-inreports__aside-signals">
								<li class="b-inreports__aside-signal common">2</li>
							</ul>
						</li>
						<li class="b-inreports__aside-submenu-item"><a href="#$" class="b-inreports__aside-submenu-link">Релевантность</a></li>
						<li class="b-inreports__aside-submenu-item"><a href="#$" class="b-inreports__aside-submenu-link locked">Семантика</a></li>						
					</ul>
				</li>
			
				<li class="b-inreports__aside-menu-item">
					<span class="b-inreports__aside-menu-link icon-external">Внешняя оптимизация</span>
					<ul class="b-inreports__aside-submenu">
						<li class="b-inreports__aside-submenu-item"><a href="#$" class="b-inreports__aside-submenu-link">Обратные ссылки</a></li>
						<li class="b-inreports__aside-submenu-item"><a href="#$" class="b-inreports__aside-submenu-link locked">Позиции и конкуренты</a></li>
					</ul>
				</li>
			
				<li class="b-inreports__aside-menu-item">
					<a href="#$" download class="b-inreports__aside-menu-link icon-export">Экспорт данных</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="b-inreports__aside-toggler" data-action="toggle-aside"></div>
</aside>