<aside class="b-inreports__aside">
	<div class="b-inreports__aside-item active">
		<a href="#$" class="b-inreports__aside-back">К сводному аудиту</a>
		<div class="b-inreports__aside-menu-wrapper">
			<ul class="b-inreports__aside-menu">
				<li class="b-inreports__aside-menu-item">

					<a class="b-inreports__aside-menu-link" href="#">
						<svg class="b-inreports__aside-menu-icon">
							<use xmlns:xlink="http://www.w3.org/2000/svg" xlink:href="images/icon/svg-sprite/symbol/svg/sprite.symbol.svg#icon-chain">
						</svg>
						<span class="b-inreports__aside-menu-text"> Внешние ссылки </span>
					</a>

					<ul class="b-inreports__aside-submenu">
						<li class="b-inreports__aside-submenu-item"><a href="#$" class="b-inreports__aside-submenu-link">Общий отчет</a></li>
						<li class="b-inreports__aside-submenu-item"><a href="#$" class="b-inreports__aside-submenu-link">Все внешние</a></li>
						<li class="b-inreports__aside-submenu-item"><a href="#$" class="b-inreports__aside-submenu-link">Домены ссылок</a></li>
						<li class="b-inreports__aside-submenu-item"><a href="#$" class="b-inreports__aside-submenu-link">Превышение количества > 7</a></li>
						<li class="b-inreports__aside-submenu-item"><a href="#$" class="b-inreports__aside-submenu-link">Битые</a></li>
						<li class="b-inreports__aside-submenu-item"><a href="#$" class="b-inreports__aside-submenu-link">С перенаправлением</a></li>
						<li class="b-inreports__aside-submenu-item"><a href="#$" class="b-inreports__aside-submenu-link">Сквозные</a></li>
						<li class="b-inreports__aside-submenu-item"><a href="#$" class="b-inreports__aside-submenu-link">Follow</a></li>
						<li class="b-inreports__aside-submenu-item"><a href="#$" class="b-inreports__aside-submenu-link">Nofollow</a></li>
						<li class="b-inreports__aside-submenu-item"><span class="b-inreports__aside-submenu-link active">Без target="_blank"</span></li>
						<li class="b-inreports__aside-submenu-item"><a href="#$" class="b-inreports__aside-submenu-link">Target="_blank" без rel="noopener"</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
	<div class="b-inreports__aside-toggler" data-action="toggle-aside"></div>
</aside>