{% if layout != "report" %}
<footer class="both" id="footer">
	{% if layout != 'authorization' %}
	<nav class="row__menu">
		<div class="container">
			<ul class="social">
				<li><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
				<li><a href=""><i class="fa fa-vk" aria-hidden="true"></i></a></li>
				<li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
				<li><a href=""><i class="fa fa-odnoklassniki" aria-hidden="true"></i></a></li>
				<li><a href=""><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
			</ul>
			<a class="mobile__menu-btn" id="open__fm" href="javascript:;">Меню</a>
			<ul class="footer__menu">
				<li><a href="#">Клиентам</a>
					<ul>
						<li><a href="#">Цены</a></li>
						<li><a href="#">Отзывы</a></li>
						<li><a href="#">Инструменты</a></li>
						<li><a href="#">Технологии</a></li>
						<li><a href="#">Семантика</a></li>
					</ul>
				</li>
				<li><a href="#">О компании</a>
					<ul>
						<li><a href="#">Новости проекта</a></li>
						<li><a href="#">Карта сайта</a></li>
						<li><a href="#">Обратная связь</a></li>
						<li><a href="#">Партнёрам</a></li>
						<li><a href="#">Наши партнёры</a></li>
					</ul>
				</li>
				<li><a href="#">Технологии</a>
					<ul>
						<li><a href="#">Новости проекта</a></li>
						<li><a href="#">Карта сайта</a></li>
						<li><a href="#">Наши партнёры</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</nav>
	{% endif %}
	<div class="row__copyright both">
		<div class="container">
			<p class="left">© СайтРепорт 2011—2017, seo-анализ и аудит сайта онлайн</p>
			<ul class="payments">
				<li><a href="#"><img src="images/icon/visa.svg" alt=""></a></li>
				<li><a href="#"><img src="images/icon/master.svg" alt=""></a></li>
				<li><a href="#"><img src="images/icon/yandex.svg" alt=""></a></li>
			</ul>
			<p class="right"><a class="created-by" href="#">Дизайн — И.Г.<span>Сделано с оптимизмом!</span></a></p>
		</div>
	</div>
</footer>
{% endif %}
<div class="hidden">
    <div id="sign-in">
        <form action="#" method="get" accept-charset="utf-8" novalidate="">
            <h6 class="sign-in__title">Войти</h6>
            <div class="form-item">
                <input class="email" type="email" name="email" value="" placeholder="Email">
            </div>
            <div class="form-item">
                <input class="pass" type="password" name="password" value="" placeholder="Пароль">
            </div>
            <div class="form-item form-item--button">
                <button type="submit" name="send">Войти</button>
            </div>
            <div class="form-item">
                <a class="btn btn-registration js-popup" href="#registration">Регистрация</a>
            </div>
            <span>Забыли пароль? <a class="js-popup" href="#restore-password">Восстановить</a></span>
        </form>
    </div>
    <div id="registration">
        <form action="#" method="get" accept-charset="utf-8" novalidate="">
            <h6 class="sign-in__title">Регистрация</h6>
            <div class="form-item">
                <input id="fname" type="text" name="name" value="" placeholder="Имя">
            </div>
            <div class="form-item">
                <input class="email" type="email" name="email" value="" placeholder="Email">
            </div>
            <div class="form-item">
                <input class="pass" type="password" name="password" value="" placeholder="Пароль">
            </div>
            <div class="form-item b-main-checkbox">
                <input type="checkbox" name="consent" id="b-consent1">
                <label for="b-consent1">Согласен с <a href="#">правилами сервиса</a>
                </label>
            </div>
            <!-- <= form-item -->
            <div class="form-item b-main-checkbox">
                <input type="checkbox" name="consent" id="b-consent2">
                <label for="b-consent2">Согласен на обработку персональных данных в соответствии с <a href="#">правилами</a>
                </label>
            </div>
            <!-- <= form-item -->
            <div class="form-item form-item--button">
                <button type="submit" name="send">Зарегистрироваться</button>
            </div>
            <a class="btn btn-registration js-popup" href="#sign-in">Войти</a>	
        </form>
    </div>
    <div id="restore-password">
        <form action="#" method="get" accept-charset="utf-8" novalidate="">
            <h6 class="sign-in__title">Восстановить пароль</h6>
            <div class="form-item">
                <input class="email" type="email" name="email" value="" placeholder="Email">
            </div>
            <div class="form-item form-item--button">
                <button type="submit" name="send">Отправить</button>
            </div>
            <a class="btn btn-registration js-popup" href="#sign-in">Войти</a>
        </form>
    </div>
    <div class="b-delete-account" id="b-delete-account2">
        <div class="b-delete-account__container">
            <div class="b-delete-account__topic">Удалить проект?</div>
            <div class="b-delete-account__aftertopic">Мы не сможем восстановить проект после удаления.</div>
            <div class="b-delete-account__btns">
                <div class="b-delete-account__delete-btn b-main-button b-main-button_white"><a href="#">Удалить</a>
                </div>
                <div class="b-delete-account__cansel-btn b-main-button">
                    <button>Отмена</button>
                </div>
            </div>
        </div>
    </div>
    <div class="promo-ok" id="promo-ok">
        <div class="promo-ok__topic">Промокод успешно активирован</div>
        <div class="promo-ok__text"></div>
        <div class="promo-ok__btn b-main-button b-main-button_white"><a href="#">Хорошо</a>
        </div>
    </div>
    <div class="b-delete-account" id="b-delete-account">
        <div class="b-delete-account__container">
            <div class="b-delete-account__topic">Удалить аккаунт?</div>
            <div class="b-delete-account__aftertopic">Мы уже не сможем восстановить ваш аккаунт после удаления</div>
            <div class="b-delete-account__btns">
                <div class="b-delete-account__delete-btn b-main-button b-main-button_white"><a href="#">Удалить</a>
                </div>
                <div class="b-delete-account__cansel-btn b-main-button">
                    <button>Отмена</button>
                </div>
            </div>
        </div>
    </div>
</div>