<header class="main-header {{ header_class }}{% if auth == 1 %} is-auth{% endif %}" id="header">
	<div class="container">
		<div class="b-top-wrapper">
			<div class="b-top-wrapper__item" id="header-left">
				<div class="hamburger hamburger--slider" tabindex="0" aria-label="Menu" role="button" aria-controls="navigation">
					<div class="hamburger-box">
						<div class="hamburger-inner"></div>
					</div>
				</div>
				{% if header_logo == 'sr' %}

					<a class="logo" href="/">
						<span>СайтРепорт</span><span>диагностика и аудит</span>
					</a>

				{% endif %}


				{% if header_logo == 'sa' %}
				<a class="logo" href="/">
					<span>СайтАудитор</span>
				</a>
				{% endif %}

			</div>
			<nav class="header__menu" id="navigation">
				<ul class="header__menu-list">
					<li>
						<div class="sub-menu-title">{% if auth == 1 %}Сервисы{% else %}О сервисах{% endif %}</div>
						<ul class="sub-menu">
							<li>
								<a href="#" class="sub-menu-link active">
									<span class="sub-menu-link__icon" style="background-image: url('/images/icon/utility/cases.svg');"></span>
									СайтАудитор
								</a>
							</li>
							<li>
								<a href="#">
									<span class="sub-menu-link__icon" style="background-image: url('/images/icon/utility/note_copy.svg');"></span>
									Текстовый анализатор
								</a>
							</li>
							<li>
								<a href="#">
									<span class="sub-menu-link__icon" style="background-image: url('/images/icon/utility/knowledge_base.svg');"></span>
									Тематические слова
								</a>
							</li>
							<li>
								<a href="#">
									<span class="sub-menu-link__icon" style="background-image: url('/images/icon/utility/table.svg');"></span>
									Калькулятор вхождений
								</a>
							</li>
						</ul>
					</li>
					<li>
						<div class="sub-menu-title">Информация</div>
						<ul class="sub-menu">
							<li>
								<a href="#">
									<span class="sub-menu-link__icon" style="background-image: url('/images/icon/utility/moneybag.svg');"></span>
									Цены
								</a>
							</li>
							<li>
								<a href="#">
									<span class="sub-menu-link__icon" style="background-image: url('/images/icon/utility/questions_and_answers.svg');"></span>
									Помощь
								</a>
							</li>
							{% if auth != 1 %}
							<li>
                                <a href="#">
                                    <span class="sub-menu-link__icon" style="background-image: url('/images/icon/utility/chat.svg');"></span>
                                    Отзывы
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="sub-menu-link__icon" style="background-image: url('/images/icon/utility/groups.svg');"></span>
                                    Партнерская программа
                                </a>
                            </li>
                            {% endif %}
						</ul>
					</li>
				</ul>
			</nav>
			{% if auth == 1 %}

				{% if layout == "report" %}
				<div class="b-top-wrapper__item b-top-wrapper__item-project">
					<div class="b-project">
						<div class="b-project__item">
							<a href="#$" class="b-project__main">Мои проекты</a>
							<i class="fa fa-angle-right" aria-hidden="true"></i>
							<div class="b-project__current">
								<img src="./images/icon/siterepost_fav.png" alt="sitereport.ru - favicon" class="b-project__current-icon">
								<span class="b-project__current-name">sitereport.ru</span>
							</div>
						</div>
						<div class="b-project__item">
							<div class="b-project__report-wrapper">
								<div class="b-project__report">
									<span class="b-project__report-date">28.11.16</span>
									<span class="b-project__report-time">13:21</span>
								</div>
								<div class="b-project__helper-wrapper">
									<div class="b-project__helper">
										<div class="b-project__helper-container">
											<ul class="b-project__helper-list">
												<li>
													<span class="b-project__report-date">28.11.16</span>
													<span class="b-project__report-time">13:21</span>
												</li>
												<li>
													<span class="b-project__report-date">28.11.16</span>
													<span class="b-project__report-time">13:21</span>
												</li>
												<li>
													<span class="b-project__report-date">28.11.16</span>
													<span class="b-project__report-time">13:21</span>
												</li>
												<li>
													<span class="b-project__report-date">28.11.16</span>
													<span class="b-project__report-time">13:21</span>
												</li>
												<li>
													<span class="b-project__report-date">28.11.16</span>
													<span class="b-project__report-time">13:21</span>
												</li>
											</ul>
										</div>
									</div>
								</div>

							</div>
						</div>
						<div class="b-project__item">
							<div class="b-project__limits">
								<span class="b-project__limits-cur">125 000</span>
								<span class="b-project__limits-total">500 000</span>
							</div>
						</div>

						<div class="b-project__item">
							<div class="b-project__mobbuttons-wrapper">
								<div class="b-project__mobbuttons-toggler">
									<div class="b-project__mobbuttons-toggler-dot"></div>
									<div class="b-project__mobbuttons-toggler-dot"></div>
									<div class="b-project__mobbuttons-toggler-dot"></div>
								</div>

								<div class="b-project__mobbuttons-helper-wrapper">
									<div class="b-project__mobbuttons-helper">
										<div class="b-project__mobbuttons-helper-container">
											<ul class="b-project__mobbuttons-helper-list">
												<li>
													<div class="b-project__mobbuttons-restart"><span>Перезапуск</span></div>
												</li>
												<li>
													<div class="b-project__mobbuttons-autostart"><span>Автозапуск</span></div>
												</li>
												<li>
													<div class="b-project__mobbuttons-settings"><span>Настройки</span></div>
												</li>
											</ul>
										</div>
									</div>
								</div>

							</div>
							<div class="b-project__buttons">
								<div class="b-project__buttons-restart">Перезапуск</div>
								<div class="b-project__buttons-autostart">Автозапуск</div>
								<div class="b-project__buttons-settings">Настройки</div>
							</div>
						</div>
					</div>				
				</div>
				{% else %}
				<div class="b-top-wrapper__item">
					<nav class="header__menu">
						<ul class="header__menu-list">
							<li class="visible-desktop active"><a href="javascript:;">Мои проекты</a></li>
							<li class="visible-desktop"><a href="javascript:;">Цены</a></li>
							<li class="visible-desktop"><a href="javascript:;">Помощь</a></li>
						</ul>
					</nav>
				</div>
				{% endif %}

			{% else %}
			<div class="b-top-wrapper__item">
                <nav class="header__menu">
                    <ul class="header__menu-list">
                        <li class="visible-desktop active"><a href="javascript:;">Цены</a></li>
                        <li class="visible-desktop dropdown-list">
                            <a href="javascript:;">Инструменты</a>
                            <div class="dropdown-block">
                                <div class="dropdown-group">
                                    <div class="dropdown-items">
                                        <a href="#" class="dropdown-item full-width">
                                            <span class="dropdown-item__icon" style="background-image: url('/images/icon/tools/auditor.svg')"></span>
                                            <span class="dropdown-item__title">СайтАудитор</span>
                                            <span class="dropdown-item__description">
                                                    Сервис, предоставляющий пользователю инструмент диагностики внутренних
                                                    и внешних факторов с целью оптимизации сайта.
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="dropdown-group">
                                    <div class="dropdown-items">
                                        <a href="#" class="dropdown-item">
                                            <span class="dropdown-item__icon" style="background-image: url('/images/icon/tools/text_analys.svg')"></span>
                                            <span class="dropdown-item__title">Текстовый анализатор</span>
                                            <span class="dropdown-item__description">Подскажет оптимальное количество вхождений слов.</span>
                                        </a>
                                        <a href="#" class="dropdown-item">
                                            <span class="dropdown-item__icon" style="background-image: url('/images/icon/tools/knowledge_base.svg')"></span>
                                            <span class="dropdown-item__title">Тематические слова</span>
                                            <span class="dropdown-item__description">Анализ текстов на тематическое соответствие запросу.</span>
                                        </a>
                                        <a href="#" class="dropdown-item">
                                            <span class="dropdown-item__icon" style="background-image: url('/images/icon/tools/table.svg')"></span>
                                            <span class="dropdown-item__title">Калькулятор вхождений</span>
                                            <span class="dropdown-item__description">Расчет вхождений ключевых слов в текст и другие зоны документа.</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="visible-desktop"><a href="javascript:;">Отзывы</a></li>
                        <li class="visible-desktop"><a href="javascript:;">О проекте</a></li>
                        <li class="visible-desktop"><a href="javascript:;">Помощь</a></li>
                        <li class="visible-desktop"><a href="javascript:;">Партнерская <br> программа</a></li>
                    </ul>
                </nav>
            </div>
			{% endif %}

			{# Покажет Инфо пользователя или пусто или кнопка Войти #}
			{% if auth == 1 %}
			<div class="b-top-wrapper__item">
				<div class="b-user">
					<a href="#" class="b-user__item">
						<div class="b-user__link"><span>Оптимальный</span></div>
						<div class="b-user__text"> <span class="users-tariff-balance">15 500</span> / 10 дней</div>
					</a>
					
					<div class="b-user__item">
						<div class="b-user__name-wrapper">
							<div class="b-user__name-ico" tabindex="0">
								<div class="b-user__name-ico-inkognito"></div>
								<img src="./images/icon/user_grey.svg" alt="">
							</div>
							<div class="b-user__name">Константин</div>
							<div class="b-user__helper-wrapper">
								<div class="b-user__helper">
									<div class="b-user__helper-container">
										<ul class="b-user__helper-list">
											<li><a href="">Профиль</a></li>
											<li><a href="">Баланс и статистика</a></li>
											<li><a href="">Партнерка</a></li>
											<li><a href="">Выйти</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			{% elif layout == "authorization" %}
			{% else %}
			<div class="b-top-wrapper__item">
                <a class="btn btn-input js-popup" href="#sign-in">Войти</a>
            </div>
			{% endif %}

		</div>
		{% if auth == 1 %}
		<nav class="header__menu" id="navigation-profile">
			<div class="user-information">
				<div class="close-profile" tabindex="0">
					<div class="hamburger-box">
						<div class="hamburger-inner"></div>
					</div>
				</div>
				<a class="user-card" href="#">
					<figure class="user-card__photo">
						<img src="images/demo.jpg" alt="">
					</figure>
					<span class="user-card__name">Panarin-Anatoly</span>
				</a>
				<ul class="user-balance">
					<li>
						<span class="user-balance__title">Оптимальный</span>
						<span class="user-balance__cash">1 250 Р / 10 дней</span>
					</li>
					
					<li class="user-balance__sign-out">
						<a class="sign-out" href="#"><span>Выйти</span></a>
					</li>
				</ul>
			</div>
			<ul class="header__menu-list">
				<li>
					<span class="menu-title">Профиль</span>
					<ul class="sub-menu">
						<li><a href="#">Настройки</a></li>
						<li><a href="#">Баланс и статистика</a></li>
						<li><a href="#">Партнерские начисления</a></li>
					</ul>
				</li>
			</ul>
		</nav>
		{% endif %}

		{% if layout == "main" %}
		<div class="header_content both">
			<h1>Автоматический анализ сайта</h1>
			<p>328 800 сайтов уже проверено в нашей системе</p>
			<form class="site-analysis" action="#" method="get" accept-charset="utf-8">
				<div class="form-item form-item--input">
					<input class="input__url" type="text" name="url" value="" placeholder="Адрес вашего сайта">
				</div>
				<div class="form-item form-item--button">
					<button class="input__send" type="submit">Запустить</button>
				</div>
			</form>
		</div>
		{% endif %}
	</div>
</header>