<div class="b-inreports__filters">
	<div class="b-inreports__filters-item">
		<form class="b-inreports__search">
			<input name="search" type="text" class="b-inreports__search-input" placeholder="Поиск по таблице">
			<div class="b-inreports__search-clear" data-action="clear-target" data-target=".b-inreports__search-input"></div>
		</form>
		<div class="b-inreports__addfilter">Фильтр</div>
		<div class="b-inreports__export">Выгрузить
			<div class="b-inreports__export-helper-wrapper">
				<div class="b-inreports__export-helper">
					<div class="b-inreports__export-helper-container">
						<ul class="b-inreports__export-helper-list">
							<li><a download href="1.csv">CSV таблица</a></li>
							<li><a download href="1.pdf">PDF файл</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="b-inreports__filters-item">
		<div class="b-pagination">
			<div class="b-pagination__limits">
				<span class="b-pagination__limits-wrapper">
					1-100
					<div class="b-pagination__helper-wrapper">
						<div class="b-pagination__helper">
							<div class="b-pagination__helper-container">
								<ul class="b-pagination__helper-list">
									<li><span>1-100</span></li>
									<li><a href="#$">101-200</a></li>
									<li><a href="#$">201-300</a></li>
									<li><a href="#$">301-400</a></li>
									<li><a href="#$">401-500</a></li>
									<li><a href="#$">501-600</a></li>
									<li><a href="#$">601-650</a></li>
								</ul>
							</div>
						</div>
					</div>
				</span>
				из 650
			</div>
			<div class="b-pagination__arrows">
				<span class="b-pagination__prev">Prev page</span>
				<a href="#$" class="b-pagination__next">Next page</a>
			</div>
			<div class="b-pagination__fullscreen" data-action="toggle-fullscreen">
				<span>Во весь экран</span>
			</div>
		</div>
	</div>
	<div class="b-inreports__filters-row">
		<div class="b-inreports__filters-part-l">Фильтрация по:</div>
		<div class="b-inreports__filters-part-r"></div>
	</div>
</div>