.l-menu-line
	position absolute
	top 0
	left 0
	bottom 0
	width 4px
	z-index 9
	&:before
		content ''
		position absolute
		top 40px
		bottom 0
		left 0
		width 4px
		background #2E97DF
.l-menu__button
	position absolute
	top 0
	left 0
	width 18px
	height 40px
	z-index 11
	background #2E97DF
	display flex
	align-items center
	justify-content center
	cursor pointer
	z-index 11
	.svg-icon
		margin-right 2px
		width 8px
		fill #fff  
		transform rotate(180deg)
	&.slide-open
		.svg-icon
			transform rotate(0deg)
.l-menu
	width 300px
	background #fff
	overflow visible
	transition transform .5s, linear .5s, width .5s
	position absolute
	left 0
	top 0
	bottom 0
	transform translateX(-100%)
	z-index 10
	&:before
		content ''
		position absolute
		top 0
		right 0
		bottom 0
		width 1px
		background #E1E4E6 
		z-index 11
	&.slide-open
		transform translateX(0)
	&__top
		display flex
		align-items center 
		box-shadow 0 1px 0 0 #E1E4E6 
		position relative
		z-index 11
	&__tabs
		display flex
		align-items center
		padding-left 40px
		&-item1
			margin-right 24px
		&-item1,
		&-item2
			color #2F353B
			text-transform uppercase
			font-size 15px
			padding 11px 25px
			position relative
			cursor pointer
			&:before
				display none
				content ''
				position absolute
				bottom 0
				height 4px
				left 0
				right 0
				background #E03632
			&.open
				&:before
					display block
	&.open
		overflow hidden
		overflow-y auto
	&.second
		overflow hidden
		overflow-y auto
	.is-has-child
		position relative
	.sub-menu-trigger
		position absolute
		top 5px
		left 0
		transform rotate(-90deg)
		cursor pointer
		&.open
			transform rotate(0deg)
		.svg-icon
			width 20px
			height 20px 
	&__list
		padding-top 17px
		padding-bottom 17px
		&.openslide
			display block
		&.closeslide
			display none
		&.second
			position relative
			z-index 10	
			background #fff
			display none
			&.openslide2
				display block
			&.closeslide2
				display none
			li
				a
					white-space nowrap
					position relative
					z-index 1
					span 
						color #AFBAC1
						margin-left 3px
					&:before
						display none
						content ''
						position absolute
						top 0
						left 0
						right 0
						bottom 0
						z-index -1 
						background: rgba(198, 207, 217, 0.45);
					&:hover
						text-decoration none
						&:before
							display block
					&.active
						color #fff
						pointer-events none
						&:before
							display block
							background #e03632
							color #fff
						span 
							color #fff
				&:nth-child(1)
					.svg-icon
						fill #FC6620
				&:nth-child(2)
					.svg-icon
						fill #F5A623
				&:nth-child(3)
					.svg-icon
						fill #FECB2E
		& > li
			& > a
				color #2F353B
				font-size 15px
				line-height 30px
				display flex
				align-items center
				padding-left 14px
				.svg-icon
					margin-right 12px
					width 16px
					height 16px 
					fill #697882
				&:hover
					background: rgba(198, 207, 217, 0.45);
					text-decoration none
				&.active
					background #E03632
					color #fff
			&.is-has-child
				& > a
					color #697882
					.svg-icon
						fill #A8AAB7
	&__inner
		background #fff
		padding-left 14px
		& > li
			& > a
				color #2F353B
				font-size 15px
				line-height 30px
				padding-left 30px
				display block
				&:hover
					background: rgba(198, 207, 217, 0.45);
					text-decoration none
				&.active
					background #E03632
					color #fff
			&.is-has-child
				position relative
				ul
					opacity 0
					visibility hidden
					position absolute
					li 
						a
							display block
				&:hover
					background: rgba(198, 207, 217, 0.45);
					ul
						opacity 1
						visibility visible
						top -133px
						left 272px
						background #fff
						width 352px
						border: 1px solid #E1E4E6;
						box-shadow: 0px 0px 20px rgba(162, 174, 183, 0.29546);
						border-radius: 5px;
						z-index 12
						padding 11px 0
						&:before
							content ''
							position absolute
							top 139px
							left -6px
							width 6px
							height 14px
							background url(../images/icon/white-arrow.svg) 0 0 no-repeat
						li
							padding 0
							a
								padding 0 20px
								display block
				&.open
					background #fff
					ul
						opacity 1
						visibility visible
						position relative
						top auto
						left auto
						border none
						box-shadow none
						border-radius none
						padding 0
						margin 0
						padding-left 32px
						&:before
							display none
						li
							a
								padding 0
								padding-left 14px
								position relative
								z-index 1
								&:before
									right -46px
			& > ul
				padding-left 32px
				& > li
					& > a
						display inline-block    
						white-space nowrap
						color #2F353B
						font-size 14px
						line-height 30px
						padding-left 14px
						position relative
						z-index 1
						span 
							color #AFBAC1
							margin-left 3px
						&:before
							display none
							content ''
							position absolute
							top 0
							left 0
							right 0
							bottom 0
							z-index -1 
							background: rgba(198, 207, 217, 0.45);
						&:hover
							text-decoration none
							&:before
								display block
						&.active
							color #fff
							pointer-events none
							&:before
								display block
								background #E03632
								color #fff
							span 
								color #fff
								
.l-menu__list > li.is-has-child > a
	pointer-events none