{% set title = 'Рерайтер статей' %}
{% set header_logo = "sa" %}
{% set auth = 1 %}
{% set layout = "copywriter" %}
{% set top_h1 = 1 %}

{% extends "src/views/layout/main.njk" %}

{% block content %}
  <section class="b-copywriter">
    <div class="b-copywriter__container">
      <div class="b-copywriter__item">
        <div class="b-rewrite">
          <div class="b-rewrite__topic">Paste (Ctrl + V) your article below then click Submit to watch this article rewriter do it's thing!</div>
          <div class="b-rewrite__textarea b-main-textarea">
            <textarea name="" cols="30" rows="10"></textarea>
          </div>
          <div class="b-rewrite__btn b-main-button"><a href="#">Отправить</a></div>
          <div class="b-rewrite__main-topic">Как повысить уникальность текста</div>
          <div class="b-rewrite__text">Повышение уникальности текста может понадобиться, даже если при написании вы не копировали информацию из других источников, а работали самостоятельно. Глубокий рерайт статьи принесет сайту не меньшую пользу, чем абсолютно новый контент. На качество текста влияет множество факторов, определить которые можно только с помощью специальных инструментов. Поэтому чтобы быть уверенным в том, что вы размещаете на сайте по-настоящему уникальную информацию, необходимо дорабатывать текст с помощью дополнительных программ. Используя удобный и понятный онлайн-сервис Saitreport, вы можете быстро переработать любой текст или его отрывок и повысить уникальность абсолютно бесплатно. Для того чтобы воспользоваться инструментом:</div>
          <ul class="b-rewrite__list">
            <li>Скопируйте текст или ту его часть, в которой нужно повысить уникальность;</li>
            <li>Вставьте его в специальное поле на сайте;</li>
            <li>Нажмите кнопку «отправить» и запустите программу по улучшению контента;</li>
            <li>Дождитесь результатов.</li>
          </ul>
          <div class="b-rewrite__main-topic b-rewrite__main-topic_forwhat">Для чего необходим рерайтер текста</div>
          <div class="b-rewrite__text">Повышение уникальности текста может понадобиться, даже если при написании вы не копировали информацию из других источников, а работали самостоятельно. Глубокий рерайт статьи принесет сайту не меньшую пользу, чем абсолютно новый контент. На качество текста влияет множество факторов, определить которые можно только с помощью специальных инструментов. Поэтому чтобы быть уверенным в том, что вы размещаете на сайте по-настоящем</div>
          <ul class="b-rewrite__list b-rewrite__list_number">
            <li><span></span>Когда сроки сдачи текста истекают, а материал еще не готов;</li>
            <li><span></span>Когда не удается произвести самостоятельный рерайт и добиться высокого показателя уникальности;</li>
            <li><span></span>Когда необходимо оптимизировать готовый тест для продвижения сайта;</li>
            <li><span></span>Когда исходный текст является нечитабельным, то есть слишком сложным для восприятия</li>
          </ul>
          <form class="b-rewrite__form">
            <div class="b-rewrite__select-wrap b-rewrite__select-wrap_hidden">
              <div class="b-rewrite__select b-main-select">
                <select>
                  <option default="">По умолчанию все работы «Разрешенное»</option>
                  <option>По умолчанию все работы «Разрешенное»</option>
                  <option>По умолчанию все работы «Разрешенное»</option>
                </select>
              </div>
            </div>
            <div class="b-rewrite__select-wrap">
              <div class="b-rewrite__select-topic">Подпись к селекту</div>
              <div class="b-rewrite__select b-main-select">
                <select>
                  <option default="">Yandex</option>
                  <option>Google</option>
                </select>
              </div>
            </div>
            <div class="b-rewrite__select-wrap">
              <div class="b-rewrite__select-topic">Подпись к селекту</div>
              <div class="b-rewrite__select b-main-select">
                <select>
                  <option default="">Yandex</option>
                  <option>Google</option>
                </select>
              </div>
            </div>
            <div class="b-rewrite__checks">
              <div class="b-main-checkbox">
                <input type="checkbox" name="default" id="b-check19" checked="">
                <label for="b-check19">По умолчанию все работы «Разрешенное»</label>
              </div>
              <div class="b-main-checkbox">
                <input type="checkbox" name="default" id="b-check20" checked="">
                <label for="b-check20">По умолчанию все работы «Разрешенное»</label>
              </div>
              <div class="b-main-checkbox disabled">
                <input type="checkbox" name="default" id="b-check21" checked="">
                <label for="b-check21">По умолчанию все работы «Разрешенное»</label>
              </div>
              <div class="b-main-checkbox disabled">
                <input type="checkbox" name="default" id="b-check22" checked="">
                <label for="b-check22">По умолчанию все работы «Разрешенное»</label>
              </div>
            </div>
            <div class="b-rewrite__textarea-wrap">
              <div class="b-rewrite__textarea-topic">Вставьте в поле текст для анализа:</div>
              <div class="b-rewrite__textarea b-main-textarea">
                <textarea name="" cols="30" rows="10"></textarea>
              </div>
            </div>
            <div class="b-rewrite__btn b-main-button"><a href="#">Количество слов</a></div>
            <div class="b-rewrite__result">
              <div class="b-rewrite__result-topic">Результат:</div>
              <div class="b-rewrite__result-item-wrap">
                <div class="b-rewrite__result-item">Общее количество слов:</div><strong>14 500</strong>
              </div>
              <div class="b-rewrite__result-item-wrap">
                <div class="b-rewrite__result-item">Общее количество символов:</div><strong>70 000</strong>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="b-copywriter__item">
      	<div class="b-card-list">
          <h2>Похожие инструменты</h2>
          <nav>
            <div><a href="#">Проверка сайта на валидность</a></div>
            <div><a href="#">Проверка скорости загрузки сайта</a></div>
            <div><a href="#">Seo-анализ сайта</a></div>
            <div><a href="#">Анализ исходящих ссылок</a></div>
            <div><a href="#">Проверка сайта на валидность</a></div>
            <div><a href="#">Проверка скорости загрузки сайта</a></div>
            <div><a href="#">Seo-анализ сайта</a></div>
            <div><a href="#">Анализ исходящих ссылок</a></div>
            <hr>
            <div><a href="#">Похожие инструменты</a></div>
          </nav>
        </div>
      </div>
    </div>
  </section>
{% endblock %}