{% set title = 'Калькулятор вхождений' %}
{% set header_logo = "sa" %}
{% set auth = 1 %}
{% set layout = "inquiry-calculator" %}
{% set body_class = "app--inner" %}
{% set nomobile = 1 %}
{% set top_h1 = 1 %}
{% set top_classes = "b-page-topic--checking" %}

{% extends "src/views/layout/main.njk" %}
{% block top_h1_content %}
                
<h1 class="b-page-topic__text">Калькулятор вхождений</h1>


<div class="b-page-topic__more">
	<div class="b-projects-table__options js-slide-toggle" data-slidetoggle=".b-projects-table__options-body" data-slidecontext=".b-page-topic__more" data-slideeffect="fade" data-thisclass=".b-projects-table__options">
		<div class="b-projects-table__option"></div>
		<div class="b-projects-table__option"></div>
		<div class="b-projects-table__option"></div>
	</div>
	<div class="b-projects-table__options-body">
		<ul>
			<li><a href="#"><span>Перезапустить</span></a></li>
			<li><a href="#"><span>Скачать ТЗ</span></a></li>
			<li class="b-delete-btn js-magnific"><a href="#b-delete-account2">Удалить проект</a></li>
		</ul>
	</div>
</div>
{% endblock %}
        
{% block content %} 
<div class="b-site-content">
<div class="global__fix-container">
	<div class="b-site-content__inner b-site-content__inner--challenge-check">
		<div class="b-challane-check b-challane-check--calculator">
			
			<div class="b-challane-check__content b-challane-check__content--left">
				<div class="b-challane-check__editor">
					<div class="b-challane-check__editor-header">
						<div class="b-challane-check__editor-title">Текст</div><!-- <= editor-title -->
						<a href="#" class="b-challane-check__editor-clear">Очистить</a><!-- <= editor-clear -->
						<div class="b-challane-check__download">
							<a href="#" class="b-challane-check__download-link">Скачать</a>
							<div class="b-challane-check__download-content">
								<div class="b-main-checkbox">
									<input type="checkbox" name="block" checked="checked" id="download1">
									<label for="download1">Задание и ключевики</label>
								</div>
								<div class="b-main-checkbox">
									<input type="checkbox" name="block" checked="checked" id="download2">
									<label for="download2">Подсветка вхождений</label>
								</div>
								<div class="b-main-checkbox">
									<input type="checkbox" name="block" checked="checked" id="download3">
									<label for="download3">HTML-разметка</label>
								</div>
							</div><!-- <= download-content -->
						</div><!-- <= download -->
					</div><!-- <= editor-header -->
					<textarea name="editor" cols="30" rows="10"></textarea>
					<div class="b-challane-check__line">
						<div class="b-challane-check__line-item">Объем: 2500  сим.</div><!-- <= line-item -->
						<div class="b-challane-check__line-item">Слов: 86</div><!-- <= line-item -->
						<div class="b-challane-check__line-item">Уник. лемм: 73</div><!-- <= line-item -->
						<div class="b-challane-check__line-item">Предложений: 8</div><!-- <= line-item -->
						<div class="b-challane-check__line-item">Индекс Ганнинга: 10</div><!-- <= line-item -->
						<div class="b-challane-check__line-item">Индекс Флеша: 29</div><!-- <= line-item -->
					</div><!-- <= line -->
				</div><!-- <= editor -->
			</div><!-- <= content -->
			<div class="b-challane-check__content b-challane-check__content--right">
				<div class="b-challane-check__info">
													
					<div class="b-challane-check__info-title">
						<div class="b-challane-check__info-title-text">Ключевые слова</div><!-- <= info-title-text -->
						<a href="#calculator-popup" class="b-challane-check__reports-add">Добавить</a><!-- <= reports-add -->
					</div><!-- <= info-title -->
				</div><!-- <= info -->
			</div><!-- <= content -->
		</div><!-- /b-challane-check -->
	</div><!-- <= inner -->
</div>
<div class="b-challenge-popup b-challenge-popup--calculator">
	<div class="b-challenge-popup__form-wrapper">
		<a href="#" class="b-challenge-popup__close"></a><!-- <= close -->
		<form action="#" id="calculator-popup" class="b-challenge-popup__form b-challenge-popup__form--calculator no-validate">
			<div class="b-challenge-popup__title">Добавление ключевых слов</div><!-- <= title -->
			<div class="b-challenge-popup__item">
				<div class="b-challenge-popup__item-title">Ключевые слова</div><!-- <= item-title -->
				<div class="b-challenge-popup__item-content">
					<textarea name="group-list" cols="30" rows="7"></textarea>
				</div><!-- <= item-content -->
			</div><!-- <= item -->
			<div class="b-challenge-popup__item">
				<div class="b-challenge-popup__item-title">Тематические слова</div><!-- <= item-title -->
				<div class="b-challenge-popup__item-content">
					<textarea name="thematic-words" cols="30" rows="7"></textarea>
				</div><!-- <= item-content -->
			</div><!-- <= item -->
			<div class="b-challenge-popup__footer">
				<div class="b-challenge-popup__cancel b-main-button b-main-button_white">
					<a href="#">Отмена</a>
				</div><!-- <= cancel -->
				<div class="b-challenge-popup__save b-main-button">
					<button>Сохранить</button>
				</div><!-- <= save -->
			</div><!-- <= footer -->
		</form><!-- <= form -->
	</div><!-- <= form-wrapper -->
</div>
</div><!-- /b-add-text -->
{% endblock %}
