{% set title = "Новости" %}
{% set header_logo = "sa" %}
{% set auth = 1 %}
{% set layout = "news" %}
{% set top_h1 = 1 %}

{% extends "src/views/layout/main.njk" %}

{% block content %}
<section class="b-news-wrap">
  <div class="global__fix-container">
    <div class="b-news-wrap__container">
      <div class="b-news-wrap__item">
        <div class="b-news">
          <div class="b-news__item"><a class="b-news__img" href="#"><img src="./img/news/news_img1.png" alt="Новость"></a>
            <div class="b-news__about"><a class="b-news__about-topic" href="#">Семантика за полцены!</a>
              <div class="b-news__about-date">31 октября 2016</div>
              <div class="b-news__about-text">Весь январь вы можете покупать семантику за половину её стоимости в сервисе. Войдите в раздел "Мои проекты", выберите проект и в колонке "Отчёт" нажмите на ссылку "Семантика" и далее "Разблокировать".</div>
            </div>
          </div>
          <div class="b-news__item"><a class="b-news__img" href="#"><img src="./img/news/news_img1.png" alt="Новость"></a>
            <div class="b-news__about"><a class="b-news__about-topic" href="#">Новая услуга сервиса СайтРепорт — «Мониторинг»!</a>
              <div class="b-news__about-date">31 октября 2016</div>
              <div class="b-news__about-text">Весь январь вы можете покупать семантику за половину её стоимости в сервисе. Войдите в раздел "Мои проекты", выберите проект и в колонке "Отчёт" нажмите на ссылку "Семантика" и далее "Разблокировать".</div>
            </div>
          </div>
          <div class="b-news__item"><a class="b-news__img" href="#"><img src="./img/news/news_img1.png" alt="Новость"></a>
            <div class="b-news__about"><a class="b-news__about-topic" href="#">Новая услуга сервиса СайтРепорт — «Мониторинг»!</a>
              <div class="b-news__about-date">31 октября 2016</div>
              <div class="b-news__about-text">Весь январь вы можете покупать семантику за половину её стоимости в сервисе. Войдите в раздел "Мои проекты", выберите проект и в колонке "Отчёт" нажмите на ссылку "Семантика" и далее "Разблокировать".</div>
            </div>
          </div>
        </div>
      </div>
      <div class="b-news-wrap__item">
      	<div class="b-card-list">
          <h2>Основное меню</h2>
          <nav>
          	<div><a href="">О сервисе</a></div>
          	<div><span class="active">Новости</span></a></div>
            <div><a href="">Ответы на вопросы<a></div>
            <div><a href="">Инструменты</a></div>
            <div><a href="">Технологии</a></div>
            <div><a href="">Семантика</a></div>
            <hr>
            <div><a href="#">На главную страницу</a></div>
          </nav>
      	</div>
      </div>
    </div>
    <div class="b-news-wrap__btn-wrap">
      <div class="b-news-wrap__btn b-main-button b-main-button_white"><a href="#">Показать еще</a></div>
    </div>
  </div>
</section>

  <div class="both block-analysis bottom">
    <div class="container">
      <h4 class="title">Готовы проверить свой сайт?</h4>
      <form class="site-analysis" action="#" method="get" accept-charset="utf-8">
        <input class="input__url" type="text" name="url" value="" placeholder="Адрес вашего сайта">
        <input class="input__send" type="submit" name="send" value="Запустить">
      </form>
    </div>
  </div>
{% endblock %}