{% set title = "Мои проекты" %}
{% set header_logo = "sa" %}
{% set auth = 1 %}
{% set layout = "projects" %}
{% set top_h1 = 1 %}

{% extends "src/views/layout/main.njk" %}

{% block content %}
<section class="b-projects">
    <div class="b-projects__container">
      <div class="b-projects__top-wrap">
        <div class="b-projects__btn-new b-main-button"><a href="">Новый аудит</a></div>
        <div class="b-projects__search b-main-input">
          <input type="text" placeholder="Найти проект">
        </div>
      </div>
      <div class="b-projects-table">
        <div class="b-projects-table__top-wrap">
          <div class="b-projects-table__item">Проект</div>
          <div class="b-projects-table__item">Страниц / лимит</div>
          <div class="b-projects-table__item">Дата / время</div>
          <div class="b-projects-table__item">Действие</div>
          <div class="b-projects-table__item">Автозапуск</div>
          <div class="b-projects-table__item">Опции</div>
        </div>
        <div class="b-projects-table__content">
          <div class="b-projects-table__line">
            <div class="b-projects-table__link"><a href="#"><img src="./img/projects/project-icon.png" alt=""><span>ilyagordeev.com</span></a></div>
            <div class="b-projects-table__limit-wrap">
              <div class="b-projects-table__limit"><span>125 000</span><span>/ 500 000</span></div>
            </div>
            <div class="b-projects-table__date">
              <!-- - .b-icon_loading , .b-icon_timer, .b-icon_time--><span class="b-icon b-icon_flag"></span><span>22.09.17</span><span>18:00</span>
            </div>
            <div class="b-projects-table__action"><a href="">Перезапустить</a></div>
            <div class="b-projects-table__start b-projects-table__start_not"><a href="#">Не настроен</a></div>
            <div class="b-projects-table__options-head">
              <div class="b-projects-table__options js-slide-toggle" data-slidetoggle=".b-projects-table__options-body" data-slidecontext=".b-projects-table__options-head" data-slideeffect="fade" data-thisclass=".b-projects-table__options">
                <div class="b-projects-table__option"></div>
                <div class="b-projects-table__option"></div>
                <div class="b-projects-table__option"></div>
              </div>
              <div class="b-projects-table__options-body">
                <ul>
                  <li><a href="#"><span>Перезапустить</span></a></li>
                  <li><a href="#"><span>Мониторинг сайта</span></a></li>
                  <li><a href="#"><span>Дополнительно</span></a></li>
                  <li class="b-delete-btn js-magnific"><a href="#b-delete-account2">Удалить проект</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="b-projects-table__line">
            <div class="b-projects-table__link"><a href="#"><img src="./img/projects/project-icon.png" alt=""><span>ilyagordeev.com</span></a></div>
            <div class="b-projects-table__limit-wrap">
              <div class="b-projects-table__limit"><span>125 000</span><span>/ 500 000</span></div>
            </div>
            <div class="b-projects-table__date">
              <!-- - .b-icon_loading , .b-icon_timer--><span class="b-icon b-icon_loading"></span><span>22.09.17</span><span>18:00</span>
            </div>
            <div class="b-projects-table__action"><a href="#">Запустить</a></div>
            <div class="b-projects-table__start b-projects-table__start"><a href="#">Ежемесячно</a></div>
            <div class="b-projects-table__options-head">
              <div class="b-projects-table__options js-slide-toggle" data-slidetoggle=".b-projects-table__options-body" data-slidecontext=".b-projects-table__options-head" data-slideeffect="fade" data-thisclass=".b-projects-table__options">
                <div class="b-projects-table__option"></div>
                <div class="b-projects-table__option"></div>
                <div class="b-projects-table__option"></div>
              </div>
              <div class="b-projects-table__options-body">
                <ul>
                  <li><a href="#"><span>Перезапустить</span></a></li>
                  <li><a href="#"><span>Мониторинг сайта</span></a></li>
                  <li><a href="#"><span>Дополнительно</span></a></li>
                  <li class="b-delete-btn js-magnific"><a href="#b-delete-account2">Удалить проект</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="b-projects-table__line">
            <div class="b-projects-table__link"><a href="#"><img src="./img/projects/project-icon.png" alt=""><span>ilya.com</span></a></div>
            <div class="b-projects-table__limit-wrap">
              <div class="b-projects-table__limit"><span>125 000</span><span>/ 500 000</span></div>
            </div>
            <div class="b-projects-table__date">
              <!-- - .b-icon_loading , .b-icon_timer--><span class="b-icon b-icon_time"></span><span>22.09.17</span><span>18:00</span>
            </div>
            <div class="b-projects-table__action"><a href="#">Остановить</a></div>
            <div class="b-projects-table__start b-projects-table__start"><a href="#">Ежемесячно</a></div>
            <div class="b-projects-table__options-head">
              <div class="b-projects-table__options js-slide-toggle" data-slidetoggle=".b-projects-table__options-body" data-slidecontext=".b-projects-table__options-head" data-slideeffect="fade" data-thisclass=".b-projects-table__options">
                <div class="b-projects-table__option"></div>
                <div class="b-projects-table__option"></div>
                <div class="b-projects-table__option"></div>
              </div>
              <div class="b-projects-table__options-body">
                <ul>
                  <li><a href="#"><span>Перезапустить</span></a></li>
                  <li><a href="#"><span>Мониторинг сайта</span></a></li>
                  <li><a href="#"><span>Дополнительно</span></a></li>
                  <li class="b-delete-btn js-magnific"><a href="#b-delete-account2">Удалить проект</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="b-projects-table__line">
            <div class="b-projects-table__link"><a href="#"><img src="./img/projects/project-icon.png" alt=""><span>agordeev.com</span></a></div>
            <div class="b-projects-table__limit-wrap">
              <div class="b-projects-table__limit"><span>125 000</span><span>/ 500 000</span></div>
            </div>
            <div class="b-projects-table__date">
              <!-- - .b-icon_loading , .b-icon_timer--><span class="b-icon b-icon_time"></span><span>22.09.17</span><span>18:00</span>
            </div>
            <div class="b-projects-table__action"><a href="#">Остановить</a></div>
            <div class="b-projects-table__start b-projects-table__start"><a href="#">Ежемесячно</a></div>
            <div class="b-projects-table__options-head">
              <div class="b-projects-table__options js-slide-toggle" data-slidetoggle=".b-projects-table__options-body" data-slidecontext=".b-projects-table__options-head" data-slideeffect="fade" data-thisclass=".b-projects-table__options">
                <div class="b-projects-table__option"></div>
                <div class="b-projects-table__option"></div>
                <div class="b-projects-table__option"></div>
              </div>
              <div class="b-projects-table__options-body">
                <ul>
                  <li><a href="#"><span>Перезапустить</span></a></li>
                  <li><a href="#"><span>Мониторинг сайта</span></a></li>
                  <li><a href="#"><span>Дополнительно</span></a></li>
                  <li class="b-delete-btn js-magnific"><a href="#b-delete-account2">Удалить проект</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="b-projects-table__line">
            <div class="b-projects-table__link"><a href="#"><img src="./img/projects/project-icon.png" alt=""><span>gordeev.com</span></a></div>
            <div class="b-projects-table__limit-wrap">
              <div class="b-projects-table__limit"><span>125 000</span><span>/ 500 000</span></div>
            </div>
            <div class="b-projects-table__date">
              <!-- - .b-icon_loading , .b-icon_timer--><span class="b-icon b-icon_time"></span><span>22.09.17</span><span>18:00</span>
            </div>
            <div class="b-projects-table__action"><a href="#">Остановить</a></div>
            <div class="b-projects-table__start b-projects-table__start"><a href="#">Ежемесячно</a></div>
            <div class="b-projects-table__options-head">
              <div class="b-projects-table__options js-slide-toggle" data-slidetoggle=".b-projects-table__options-body" data-slidecontext=".b-projects-table__options-head" data-slideeffect="fade" data-thisclass=".b-projects-table__options">
                <div class="b-projects-table__option"></div>
                <div class="b-projects-table__option"></div>
                <div class="b-projects-table__option"></div>
              </div>
              <div class="b-projects-table__options-body">
                <ul>
                  <li><a href="#"><span>Перезапустить</span></a></li>
                  <li><a href="#"><span>Мониторинг сайта</span></a></li>
                  <li><a href="#"><span>Дополнительно</span></a></li>
                  <li class="b-delete-btn js-magnific"><a href="#b-delete-account2">Удалить проект</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="b-page-nav --position-in-b-projects">
	    <div class="b-page-nav__container">
	        <div class="b-page-nav__list-wrapper">
	            <a href="#" class="b-page-nav__prev"></a>
	            <ul class="b-page-nav__list">
	                <li><a href="#">1</a></li>
	                <li><a class="ellipsis" href="#">...</a></li>
	                <li><a href="#">4</a></li>
	                <li class="active"><a href="#">5</a></li>
	                <li><a href="#">6</a></li>
	                <li><a class="ellipsis" href="#">...</a></li>
	                <li><a href="#">12</a></li>
	            </ul>
	            <a href="#" class="b-page-nav__next"></a>
	        </div>
	        <div class="b-page-nav__amount">
	            <div class="b-page-nav__amount-title">Элементов:</div>
	            <ul>
	                <li><a href="#">50</a></li>
	                <li class="active"><a href="#">250</a></li>
	                <li><a href="#">500</a></li>
	            </ul>
	        </div>
	    </div>
	  </div>
</section>
{% endblock %}