{% set title = 'Производительность' %}
{% set header_class = "reports-header" %}
{% set header_logo = "sa" %}
{% set auth = 1 %}
{% set layout = "report" %}

{% extends "src/views/layout/main.njk" %}

{% from "src/views/macro/macros.njk" import informSlide, informHover %}

{% block content %}
<div class="b-inreports" id="content">
	{% include "src/views/parts/aside_ext.njk" %}
	<main class="b-inreports__main">
		<h1 class="b-inreports__main-name">{{ title }}</h1>		
		{{ informSlide('b-inreports__main-desc') }}
		<div class="b-inreports__workarea">
			<div class="b-pagespeed">
				<div class="b-pagespeed__switcher" data-action="switcher" data-target=".b-pagespeed__item">
					<div class="b-pagespeed__switcher-item active">Для компьютеров</div>
					<div class="b-pagespeed__switcher-item">Для мобильных</div>
				</div>
				<div class="b-pagespeed__item active">
					<div class="b-pagespeed__index">
						Индекс производительности <span class="b-pagespeed__index-current color_orange">57</span>/100 <span class="b-pagespeed__index-refresh">Перезапустить</span>
					</div>
					<div class="b-pagespeed__section-wrapper">
						<div class="b-pagespeed__section">
							<div class="b-pagespeed__section-title icon-alert">
								Удалите код JavaScript и CSS, блокирующий отображение верхней части страницы <span class="b-pagespeed__section-economy color_orange">экономия 637,6 КБ (77 %)</span>
							</div>
							<div class="b-pagespeed__section-description">
								Количество блокирующих скриптов на странице: 4. Количество блокирующих ресурсов CSS на странице: 2. Они замедляют отображение контента.
							</div>
							<a download href="#$" class="b-pagespeed__section-export">Выгрузить</a>
							<div class="b-pagespeed__section-toggler" data-action="toggle" data-target="#js-css"></div>
						</div>

						<table class="b-inreports__table table" id="js-css">
							<thead>
								<tr>
									<th class="w-600" width="600" data-action="sort-column" data-sortable="js-css-source">
										<div class="b-inreports__table-headname">
											<span>Реусурс</span>
											{{ informHover('Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo velit provident autem atque consequuntur sed incidunt reiciendis corporis quos natus.', 'span') }}
										</div>
									</th>
									<th class="w-150" width="150" data-action="sort-column" data-sortable="js-css-size">
										<div class="b-inreports__table-headname">
											<span>Текущий размер</span>
											{{ informHover('Я подсказко', 'span') }}
										</div>
									</th>
									<th class="w-150" width="150" data-action="sort-column" data-sortable="js-css-size-after">
										<div class="b-inreports__table-headname">
											<span>Размер после сжатия</span>
											{{ informHover('Я подсказко', 'span') }}
										</div>
									</th>
									<th class="w-150" width="150" data-action="sort-column" data-sortable="js-css-economy">
										<div class="b-inreports__table-headname">
											<span>Экономия, %</span>
											{{ informHover('Я подсказко', 'span') }}
										</div>
									</th>
								</tr>
							</thead>
							<tbody>
								<tr class="b-inreports__table-item">
									<td class="w-600" width="600">
										<a href=" https://skoda-vostokmotors.ru/bitrix/cache/js/s1/main_page_alter/kernel_main/kernel_main.js?1374433 " title=" https://skoda-vostokmotors.ru/bitrix/cache/js/s1/main_page_alter/kernel_main/kernel_main.js?1374433 "> https://skoda-vostokmotors.ru/bitrix/cache/js/s1/main_page_alter/kernel_main/kernel_main.js?1374433 </a>
									</td>
									<td class="w-150" width="150">465,22 КБ</td>
									<td class="w-150" width="150">281,9 КБ</td>
									<td class="w-150" width="150">77,7</td>
								</tr>
								<tr class="b-inreports__table-item">
									<td class="w-600" width="600">
										<a href=" https://skoda-vostokmotors.ru/bitrix/cache/js/s1/main_page_alter/kernel_main/kernel_main.js?1374433 " title=" https://skoda-vostokmotors.ru/bitrix/cache/js/s1/main_page_alter/kernel_main/kernel_main.js?1374433 "> https://skoda-vostokmotors.ru/bitrix/cache/js/s1/main_page_alter/kernel_main/kernel_main.js?1374433 </a>
									</td>
									<td class="w-150" width="150">465,22 КБ</td>
									<td class="w-150" width="150">281,9 КБ</td>
									<td class="w-150" width="150">77,7</td>
								</tr>
								<tr class="b-inreports__table-item">
									<td class="w-600" width="600">
										<a href=" https://skoda-vostokmotors.ru/bitrix/cache/js/s1/main_page_alter/kernel_main/kernel_main.js?1374433 " title=" https://skoda-vostokmotors.ru/bitrix/cache/js/s1/main_page_alter/kernel_main/kernel_main.js?1374433 "> https://skoda-vostokmotors.ru/bitrix/cache/js/s1/main_page_alter/kernel_main/kernel_main.js?1374433 </a>
									</td>
									<td class="w-150" width="150">465,22 КБ</td>
									<td class="w-150" width="150">281,9 КБ</td>
									<td class="w-150" width="150">77,7</td>
								</tr>
								<tr class="b-inreports__table-item">
									<td class="w-600" width="600">
										<a href=" https://skoda-vostokmotors.ru/bitrix/cache/js/s1/main_page_alter/kernel_main/kernel_main.js?1374433 " title=" https://skoda-vostokmotors.ru/bitrix/cache/js/s1/main_page_alter/kernel_main/kernel_main.js?1374433 "> https://skoda-vostokmotors.ru/bitrix/cache/js/s1/main_page_alter/kernel_main/kernel_main.js?1374433 </a>
									</td>
									<td class="w-150" width="150">465,22 КБ</td>
									<td class="w-150" width="150">281,9 КБ</td>
									<td class="w-150" width="150">77,7</td>
								</tr>
								<tr class="b-inreports__table-item">
									<td class="w-600" width="600">
										<a href=" https://skoda-vostokmotors.ru/bitrix/cache/js/s1/main_page_alter/kernel_main/kernel_main.js?1374433 " title=" https://skoda-vostokmotors.ru/bitrix/cache/js/s1/main_page_alter/kernel_main/kernel_main.js?1374433 "> https://skoda-vostokmotors.ru/bitrix/cache/js/s1/main_page_alter/kernel_main/kernel_main.js?1374433 </a>
									</td>
									<td class="w-150" width="150">465,22 КБ</td>
									<td class="w-150" width="150">281,9 КБ</td>
									<td class="w-150" width="150">77,7</td>
								</tr>
								<tr class="b-inreports__table-item">
									<td class="w-600" width="600">
										<a href=" https://skoda-vostokmotors.ru/bitrix/cache/js/s1/main_page_alter/kernel_main/kernel_main.js?1374433 " title=" https://skoda-vostokmotors.ru/bitrix/cache/js/s1/main_page_alter/kernel_main/kernel_main.js?1374433 "> https://skoda-vostokmotors.ru/bitrix/cache/js/s1/main_page_alter/kernel_main/kernel_main.js?1374433 </a>
									</td>
									<td class="w-150" width="150">465,22 КБ</td>
									<td class="w-150" width="150">281,9 КБ</td>
									<td class="w-150" width="150">77,7</td>
								</tr>
							</tbody>
						</table>
					</div>

					<div class="b-pagespeed__section-wrapper">
						<div class="b-pagespeed__section">
							<div class="b-pagespeed__section-title icon-alert">
								Сократите CSS <span class="b-pagespeed__section-economy color_red">экономия 637,6 КБ (99 %)</span>
							</div>
							<div class="b-pagespeed__section-description">
								Сжатие кода CSS позволяет сократить объем данных, чтобы ускорить загрузку и обработку.
							</div>
							<a download href="#$" class="b-pagespeed__section-export">Выгрузить</a>
							<div class="b-pagespeed__section-toggler" data-action="toggle" data-target="#css"></div>
						</div>

						<table class="b-inreports__table table" id="css">
							<thead>
								<tr>
									<th class="w-600" width="600" data-action="sort-column" data-sortable="css-source">
										<div class="b-inreports__table-headname">
											<span>Реусурс</span>
											{{ informHover('Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo velit provident autem atque consequuntur sed incidunt reiciendis corporis quos natus.', 'span') }}
										</div>
									</th>
									<th class="w-150" width="150" data-action="sort-column" data-sortable="css-size">
										<div class="b-inreports__table-headname">
											<span>Текущий размер</span>
											{{ informHover('Я подсказко', 'span') }}
										</div>
									</th>
									<th class="w-150" width="150" data-action="sort-column" data-sortable="css-size-after">
										<div class="b-inreports__table-headname">
											<span>Размер после сжатия</span>
											{{ informHover('Я подсказко', 'span') }}
										</div>
									</th>
									<th class="w-150" width="150" data-action="sort-column" data-sortable="css-economy">
										<div class="b-inreports__table-headname">
											<span>Экономия, %</span>
											{{ informHover('Я подсказко', 'span') }}
										</div>
									</th>
								</tr>
							</thead>
							<tbody>
								<tr class="b-inreports__table-item">
									<td class="w-600" width="600">
										<a href=" https://skoda-vostokmotors.ru/bitrix/cache/js/s1/main_page_alter/kernel_main/kernel_main.js?1374433 " title=" https://skoda-vostokmotors.ru/bitrix/cache/js/s1/main_page_alter/kernel_main/kernel_main.js?1374433 "> https://skoda-vostokmotors.ru/bitrix/cache/js/s1/main_page_alter/kernel_main/kernel_main.js?1374433 </a>
									</td>
									<td class="w-150" width="150">465,22 КБ</td>
									<td class="w-150" width="150">281,9 КБ</td>
									<td class="w-150" width="150">77,7</td>
								</tr>
								<tr class="b-inreports__table-item">
									<td class="w-600" width="600">
										<a href=" https://skoda-vostokmotors.ru/bitrix/cache/js/s1/main_page_alter/kernel_main/kernel_main.js?1374433 " title=" https://skoda-vostokmotors.ru/bitrix/cache/js/s1/main_page_alter/kernel_main/kernel_main.js?1374433 "> https://skoda-vostokmotors.ru/bitrix/cache/js/s1/main_page_alter/kernel_main/kernel_main.js?1374433 </a>
									</td>
									<td class="w-150" width="150">465,22 КБ</td>
									<td class="w-150" width="150">281,9 КБ</td>
									<td class="w-150" width="150">77,7</td>
								</tr>
								<tr class="b-inreports__table-item">
									<td class="w-600" width="600">
										<a href=" https://skoda-vostokmotors.ru/bitrix/cache/js/s1/main_page_alter/kernel_main/kernel_main.js?1374433 " title=" https://skoda-vostokmotors.ru/bitrix/cache/js/s1/main_page_alter/kernel_main/kernel_main.js?1374433 "> https://skoda-vostokmotors.ru/bitrix/cache/js/s1/main_page_alter/kernel_main/kernel_main.js?1374433 </a>
									</td>
									<td class="w-150" width="150">465,22 КБ</td>
									<td class="w-150" width="150">281,9 КБ</td>
									<td class="w-150" width="150">77,7</td>
								</tr>
								<tr class="b-inreports__table-item">
									<td class="w-600" width="600">
										<a href=" https://skoda-vostokmotors.ru/bitrix/cache/js/s1/main_page_alter/kernel_main/kernel_main.js?1374433 " title=" https://skoda-vostokmotors.ru/bitrix/cache/js/s1/main_page_alter/kernel_main/kernel_main.js?1374433 "> https://skoda-vostokmotors.ru/bitrix/cache/js/s1/main_page_alter/kernel_main/kernel_main.js?1374433 </a>
									</td>
									<td class="w-150" width="150">465,22 КБ</td>
									<td class="w-150" width="150">281,9 КБ</td>
									<td class="w-150" width="150">77,7</td>
								</tr>
								<tr class="b-inreports__table-item">
									<td class="w-600" width="600">
										<a href=" https://skoda-vostokmotors.ru/bitrix/cache/js/s1/main_page_alter/kernel_main/kernel_main.js?1374433 " title=" https://skoda-vostokmotors.ru/bitrix/cache/js/s1/main_page_alter/kernel_main/kernel_main.js?1374433 "> https://skoda-vostokmotors.ru/bitrix/cache/js/s1/main_page_alter/kernel_main/kernel_main.js?1374433 </a>
									</td>
									<td class="w-150" width="150">465,22 КБ</td>
									<td class="w-150" width="150">281,9 КБ</td>
									<td class="w-150" width="150">77,7</td>
								</tr>
							</tbody>
						</table>
					</div>

					<div class="b-pagespeed__section-wrapper">
						<div class="b-pagespeed__section">
							<div class="b-pagespeed__section-title icon-alert">
								Используйте кеш браузера <span class="b-pagespeed__section-economy color_orange">экономия 88 КБ (77 %)</span>
							</div>
							<div class="b-pagespeed__section-description">
								Если указывать в заголовках HTTP дату или срок действия статических ресурсов, браузер будет загружать уже полученные ранее <a href="#$">подробнее...</a>
							</div>
							<a download href="#$" class="b-pagespeed__section-export">Выгрузить</a>
							<div class="b-pagespeed__section-toggler" data-action="toggle" data-target="#cache"></div>
						</div>

						<table class="b-inreports__table table" id="cache">
							<thead>
								<tr>
									<th class="w-600" width="600" data-action="sort-column" data-sortable="cache-source">
										<div class="b-inreports__table-headname">
											<span>Реусурс</span>
											{{ informHover('Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo velit provident autem atque consequuntur sed incidunt reiciendis corporis quos natus.', 'span') }}
										</div>
									</th>
									<th class="w-150" width="150" data-action="sort-column" data-sortable="cache-size">
										<div class="b-inreports__table-headname">
											<span>Текущий размер</span>
											{{ informHover('Я подсказко', 'span') }}
										</div>
									</th>
									<th class="w-150" width="150" data-action="sort-column" data-sortable="cache-size-after">
										<div class="b-inreports__table-headname">
											<span>Размер после сжатия</span>
											{{ informHover('Я подсказко', 'span') }}
										</div>
									</th>
									<th class="w-150" width="150" data-action="sort-column" data-sortable="cache-economy">
										<div class="b-inreports__table-headname">
											<span>Экономия, %</span>
											{{ informHover('Я подсказко', 'span') }}
										</div>
									</th>
								</tr>
							</thead>
							<tbody>
								<tr class="b-inreports__table-item">
									<td class="w-600" width="600">
										<a href=" https://skoda-vostokmotors.ru/bitrix/cache/js/s1/main_page_alter/kernel_main/kernel_main.js?1374433 " title=" https://skoda-vostokmotors.ru/bitrix/cache/js/s1/main_page_alter/kernel_main/kernel_main.js?1374433 "> https://skoda-vostokmotors.ru/bitrix/cache/js/s1/main_page_alter/kernel_main/kernel_main.js?1374433 </a>
									</td>
									<td class="w-150" width="150">465,22 КБ</td>
									<td class="w-150" width="150">281,9 КБ</td>
									<td class="w-150" width="150">77,7</td>
								</tr>
								<tr class="b-inreports__table-item">
									<td class="w-600" width="600">
										<a href=" https://skoda-vostokmotors.ru/bitrix/cache/js/s1/main_page_alter/kernel_main/kernel_main.js?1374433 " title=" https://skoda-vostokmotors.ru/bitrix/cache/js/s1/main_page_alter/kernel_main/kernel_main.js?1374433 "> https://skoda-vostokmotors.ru/bitrix/cache/js/s1/main_page_alter/kernel_main/kernel_main.js?1374433 </a>
									</td>
									<td class="w-150" width="150">465,22 КБ</td>
									<td class="w-150" width="150">281,9 КБ</td>
									<td class="w-150" width="150">77,7</td>
								</tr>
								<tr class="b-inreports__table-item">
									<td class="w-600" width="600">
										<a href=" https://skoda-vostokmotors.ru/bitrix/cache/js/s1/main_page_alter/kernel_main/kernel_main.js?1374433 " title=" https://skoda-vostokmotors.ru/bitrix/cache/js/s1/main_page_alter/kernel_main/kernel_main.js?1374433 "> https://skoda-vostokmotors.ru/bitrix/cache/js/s1/main_page_alter/kernel_main/kernel_main.js?1374433 </a>
									</td>
									<td class="w-150" width="150">465,22 КБ</td>
									<td class="w-150" width="150">281,9 КБ</td>
									<td class="w-150" width="150">77,7</td>
								</tr>
								<tr class="b-inreports__table-item">
									<td class="w-600" width="600">
										<a href=" https://skoda-vostokmotors.ru/bitrix/cache/js/s1/main_page_alter/kernel_main/kernel_main.js?1374433 " title=" https://skoda-vostokmotors.ru/bitrix/cache/js/s1/main_page_alter/kernel_main/kernel_main.js?1374433 "> https://skoda-vostokmotors.ru/bitrix/cache/js/s1/main_page_alter/kernel_main/kernel_main.js?1374433 </a>
									</td>
									<td class="w-150" width="150">465,22 КБ</td>
									<td class="w-150" width="150">281,9 КБ</td>
									<td class="w-150" width="150">77,7</td>
								</tr>
								<tr class="b-inreports__table-item">
									<td class="w-600" width="600">
										<a href=" https://skoda-vostokmotors.ru/bitrix/cache/js/s1/main_page_alter/kernel_main/kernel_main.js?1374433 " title=" https://skoda-vostokmotors.ru/bitrix/cache/js/s1/main_page_alter/kernel_main/kernel_main.js?1374433 "> https://skoda-vostokmotors.ru/bitrix/cache/js/s1/main_page_alter/kernel_main/kernel_main.js?1374433 </a>
									</td>
									<td class="w-150" width="150">465,22 КБ</td>
									<td class="w-150" width="150">281,9 КБ</td>
									<td class="w-150" width="150">77,7</td>
								</tr>
							</tbody>
						</table>
					</div>

					<div class="b-pagespeed__section-wrapper">
						<div class="b-pagespeed__section">
							<div class="b-pagespeed__section-title icon-alert">
								Сократите время ответа сервера
							</div>
							<div class="b-pagespeed__section-description">
								По результатам проверки время ответа вашего сервера составило {{RESPONSE_TIME}}. <a href="#$">Как скоратить время ответа</a>.
							</div>
						</div>
					</div>

					<div class="b-pagespeed__section-wrapper">
						<div class="b-pagespeed__section">
							<div class="b-pagespeed__section-title icon-success">
								Оптимизируйте загрузку видимого контента <span class="b-pagespeed__section-economy color_green">экономия 79 КБ</span>
							</div>
							<div class="b-pagespeed__section-description">
								Содержание верхней части страницы оптимизировано для быстрого отображения. <a href="#$"> Подробнее...</a>
							</div>
						</div>
					</div>
				</div>

				<div class="b-pagespeed__item">
					<div class="b-pagespeed__index">
						Индекс производительности (мобильные) <span class="b-pagespeed__index-current color_red">9</span>/100 <span class="b-pagespeed__index-refresh">Перезапустить</span>
					</div>
					<div class="b-pagespeed__section-wrapper">
						<div class="b-pagespeed__section">
							<div class="b-pagespeed__section-title icon-alert">
								Удалите код JavaScript и CSS, блокирующий отображение верхней части страницы <span class="b-pagespeed__section-economy color_orange">экономия 637,6 КБ (77 %)</span>
							</div>
							<div class="b-pagespeed__section-description">
								Количество блокирующих скриптов на странице: 4. Количество блокирующих ресурсов CSS на странице: 2. Они замедляют отображение контента.
							</div>
							<a download href="#$" class="b-pagespeed__section-export">Выгрузить</a>
							<div class="b-pagespeed__section-toggler" data-action="toggle" data-target="#mob__js-css"></div>
						</div>

						<table class="b-inreports__table table" id="mob__js-css">
							<thead>
								<tr>
									<th class="w-600" width="600" data-action="sort-column" data-sortable="mob__js-css-source">
										<div class="b-inreports__table-headname">
											<span>Реусурс</span>
											{{ informHover('Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo velit provident autem atque consequuntur sed incidunt reiciendis corporis quos natus.', 'span') }}
										</div>
									</th>
									<th class="w-150" width="150" data-action="sort-column" data-sortable="mob__js-css-size">
										<div class="b-inreports__table-headname">
											<span>Текущий размер</span>
											{{ informHover('Я подсказко', 'span') }}
										</div>
									</th>
									<th class="w-150" width="150" data-action="sort-column" data-sortable="mob__js-css-size-after">
										<div class="b-inreports__table-headname">
											<span>Размер после сжатия</span>
											{{ informHover('Я подсказко', 'span') }}
										</div>
									</th>
									<th class="w-150" width="150" data-action="sort-column" data-sortable="mob__js-css-economy">
										<div class="b-inreports__table-headname">
											<span>Экономия, %</span>
											{{ informHover('Я подсказко', 'span') }}
										</div>
									</th>
								</tr>
							</thead>
							<tbody>
								<tr class="b-inreports__table-item">
									<td class="w-600" width="600">
										<a href=" https://skoda-vostokmotors.ru/bitrix/cache/js/s1/main_page_alter/kernel_main/kernel_main.js?1374433 " title=" https://skoda-vostokmotors.ru/bitrix/cache/js/s1/main_page_alter/kernel_main/kernel_main.js?1374433 "> https://skoda-vostokmotors.ru/bitrix/cache/js/s1/main_page_alter/kernel_main/kernel_main.js?1374433 </a>
									</td>
									<td class="w-150" width="150">465,22 КБ</td>
									<td class="w-150" width="150">281,9 КБ</td>
									<td class="w-150" width="150">77,7</td>
								</tr>
								<tr class="b-inreports__table-item">
									<td class="w-600" width="600">
										<a href=" https://skoda-vostokmotors.ru/bitrix/cache/js/s1/main_page_alter/kernel_main/kernel_main.js?1374433 " title=" https://skoda-vostokmotors.ru/bitrix/cache/js/s1/main_page_alter/kernel_main/kernel_main.js?1374433 "> https://skoda-vostokmotors.ru/bitrix/cache/js/s1/main_page_alter/kernel_main/kernel_main.js?1374433 </a>
									</td>
									<td class="w-150" width="150">465,22 КБ</td>
									<td class="w-150" width="150">281,9 КБ</td>
									<td class="w-150" width="150">77,7</td>
								</tr>
								<tr class="b-inreports__table-item">
									<td class="w-600" width="600">
										<a href=" https://skoda-vostokmotors.ru/bitrix/cache/js/s1/main_page_alter/kernel_main/kernel_main.js?1374433 " title=" https://skoda-vostokmotors.ru/bitrix/cache/js/s1/main_page_alter/kernel_main/kernel_main.js?1374433 "> https://skoda-vostokmotors.ru/bitrix/cache/js/s1/main_page_alter/kernel_main/kernel_main.js?1374433 </a>
									</td>
									<td class="w-150" width="150">465,22 КБ</td>
									<td class="w-150" width="150">281,9 КБ</td>
									<td class="w-150" width="150">77,7</td>
								</tr>
								<tr class="b-inreports__table-item">
									<td class="w-600" width="600">
										<a href=" https://skoda-vostokmotors.ru/bitrix/cache/js/s1/main_page_alter/kernel_main/kernel_main.js?1374433 " title=" https://skoda-vostokmotors.ru/bitrix/cache/js/s1/main_page_alter/kernel_main/kernel_main.js?1374433 "> https://skoda-vostokmotors.ru/bitrix/cache/js/s1/main_page_alter/kernel_main/kernel_main.js?1374433 </a>
									</td>
									<td class="w-150" width="150">465,22 КБ</td>
									<td class="w-150" width="150">281,9 КБ</td>
									<td class="w-150" width="150">77,7</td>
								</tr>
								<tr class="b-inreports__table-item">
									<td class="w-600" width="600">
										<a href=" https://skoda-vostokmotors.ru/bitrix/cache/js/s1/main_page_alter/kernel_main/kernel_main.js?1374433 " title=" https://skoda-vostokmotors.ru/bitrix/cache/js/s1/main_page_alter/kernel_main/kernel_main.js?1374433 "> https://skoda-vostokmotors.ru/bitrix/cache/js/s1/main_page_alter/kernel_main/kernel_main.js?1374433 </a>
									</td>
									<td class="w-150" width="150">465,22 КБ</td>
									<td class="w-150" width="150">281,9 КБ</td>
									<td class="w-150" width="150">77,7</td>
								</tr>
								<tr class="b-inreports__table-item">
									<td class="w-600" width="600">
										<a href=" https://skoda-vostokmotors.ru/bitrix/cache/js/s1/main_page_alter/kernel_main/kernel_main.js?1374433 " title=" https://skoda-vostokmotors.ru/bitrix/cache/js/s1/main_page_alter/kernel_main/kernel_main.js?1374433 "> https://skoda-vostokmotors.ru/bitrix/cache/js/s1/main_page_alter/kernel_main/kernel_main.js?1374433 </a>
									</td>
									<td class="w-150" width="150">465,22 КБ</td>
									<td class="w-150" width="150">281,9 КБ</td>
									<td class="w-150" width="150">77,7</td>
								</tr>
							</tbody>
						</table>
					</div>

					<div class="b-pagespeed__section-wrapper">
						<div class="b-pagespeed__section">
							<div class="b-pagespeed__section-title icon-alert">
								Сократите CSS <span class="b-pagespeed__section-economy color_red">экономия 637,6 КБ (99 %)</span>
							</div>
							<div class="b-pagespeed__section-description">
								Сжатие кода CSS позволяет сократить объем данных, чтобы ускорить загрузку и обработку.
							</div>
							<a download href="#$" class="b-pagespeed__section-export">Выгрузить</a>
							<div class="b-pagespeed__section-toggler" data-action="toggle" data-target="#mob__css"></div>
						</div>

						<table class="b-inreports__table table" id="mob__css">
							<thead>
								<tr>
									<th class="w-600" width="600" data-action="sort-column" data-sortable="mob__css-source">
										<div class="b-inreports__table-headname">
											<span>Реусурс</span>
											{{ informHover('Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo velit provident autem atque consequuntur sed incidunt reiciendis corporis quos natus.', 'span') }}
										</div>
									</th>
									<th class="w-150" width="150" data-action="sort-column" data-sortable="mob__css-size">
										<div class="b-inreports__table-headname">
											<span>Текущий размер</span>
											{{ informHover('Я подсказко', 'span') }}
										</div>
									</th>
									<th class="w-150" width="150" data-action="sort-column" data-sortable="mob__css-size-after">
										<div class="b-inreports__table-headname">
											<span>Размер после сжатия</span>
											{{ informHover('Я подсказко', 'span') }}
										</div>
									</th>
									<th class="w-150" width="150" data-action="sort-column" data-sortable="mob__css-economy">
										<div class="b-inreports__table-headname">
											<span>Экономия, %</span>
											{{ informHover('Я подсказко', 'span') }}
										</div>
									</th>
								</tr>
							</thead>
							<tbody>
								<tr class="b-inreports__table-item">
									<td class="w-600" width="600">
										<a href=" https://skoda-vostokmotors.ru/bitrix/cache/js/s1/main_page_alter/kernel_main/kernel_main.js?1374433 " title=" https://skoda-vostokmotors.ru/bitrix/cache/js/s1/main_page_alter/kernel_main/kernel_main.js?1374433 "> https://skoda-vostokmotors.ru/bitrix/cache/js/s1/main_page_alter/kernel_main/kernel_main.js?1374433 </a>
									</td>
									<td class="w-150" width="150">465,22 КБ</td>
									<td class="w-150" width="150">281,9 КБ</td>
									<td class="w-150" width="150">77,7</td>
								</tr>
								<tr class="b-inreports__table-item">
									<td class="w-600" width="600">
										<a href=" https://skoda-vostokmotors.ru/bitrix/cache/js/s1/main_page_alter/kernel_main/kernel_main.js?1374433 " title=" https://skoda-vostokmotors.ru/bitrix/cache/js/s1/main_page_alter/kernel_main/kernel_main.js?1374433 "> https://skoda-vostokmotors.ru/bitrix/cache/js/s1/main_page_alter/kernel_main/kernel_main.js?1374433 </a>
									</td>
									<td class="w-150" width="150">465,22 КБ</td>
									<td class="w-150" width="150">281,9 КБ</td>
									<td class="w-150" width="150">77,7</td>
								</tr>
								<tr class="b-inreports__table-item">
									<td class="w-600" width="600">
										<a href=" https://skoda-vostokmotors.ru/bitrix/cache/js/s1/main_page_alter/kernel_main/kernel_main.js?1374433 " title=" https://skoda-vostokmotors.ru/bitrix/cache/js/s1/main_page_alter/kernel_main/kernel_main.js?1374433 "> https://skoda-vostokmotors.ru/bitrix/cache/js/s1/main_page_alter/kernel_main/kernel_main.js?1374433 </a>
									</td>
									<td class="w-150" width="150">465,22 КБ</td>
									<td class="w-150" width="150">281,9 КБ</td>
									<td class="w-150" width="150">77,7</td>
								</tr>
								<tr class="b-inreports__table-item">
									<td class="w-600" width="600">
										<a href=" https://skoda-vostokmotors.ru/bitrix/cache/js/s1/main_page_alter/kernel_main/kernel_main.js?1374433 " title=" https://skoda-vostokmotors.ru/bitrix/cache/js/s1/main_page_alter/kernel_main/kernel_main.js?1374433 "> https://skoda-vostokmotors.ru/bitrix/cache/js/s1/main_page_alter/kernel_main/kernel_main.js?1374433 </a>
									</td>
									<td class="w-150" width="150">465,22 КБ</td>
									<td class="w-150" width="150">281,9 КБ</td>
									<td class="w-150" width="150">77,7</td>
								</tr>
								<tr class="b-inreports__table-item">
									<td class="w-600" width="600">
										<a href=" https://skoda-vostokmotors.ru/bitrix/cache/js/s1/main_page_alter/kernel_main/kernel_main.js?1374433 " title=" https://skoda-vostokmotors.ru/bitrix/cache/js/s1/main_page_alter/kernel_main/kernel_main.js?1374433 "> https://skoda-vostokmotors.ru/bitrix/cache/js/s1/main_page_alter/kernel_main/kernel_main.js?1374433 </a>
									</td>
									<td class="w-150" width="150">465,22 КБ</td>
									<td class="w-150" width="150">281,9 КБ</td>
									<td class="w-150" width="150">77,7</td>
								</tr>
							</tbody>
						</table>
					</div>

					<div class="b-pagespeed__section-wrapper">
						<div class="b-pagespeed__section">
							<div class="b-pagespeed__section-title icon-alert">
								Используйте кеш браузера <span class="b-pagespeed__section-economy color_orange">экономия 88 КБ (77 %)</span>
							</div>
							<div class="b-pagespeed__section-description">
								Если указывать в заголовках HTTP дату или срок действия статических ресурсов, браузер будет загружать уже полученные ранее <a href="#$">подробнее...</a>
							</div>
							<a download href="#$" class="b-pagespeed__section-export">Выгрузить</a>
							<div class="b-pagespeed__section-toggler" data-action="toggle" data-target="#mob__cache"></div>
						</div>

						<table class="b-inreports__table table" id="mob__cache">
							<thead>
								<tr>
									<th class="w-600" width="600" data-action="sort-column" data-sortable="mob__cache-source">
										<div class="b-inreports__table-headname">
											<span>Реусурс</span>
											{{ informHover('Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo velit provident autem atque consequuntur sed incidunt reiciendis corporis quos natus.', 'span') }}
										</div>
									</th>
									<th class="w-150" width="150" data-action="sort-column" data-sortable="mob__cache-size">
										<div class="b-inreports__table-headname">
											<span>Текущий размер</span>
											{{ informHover('Я подсказко', 'span') }}
										</div>
									</th>
									<th class="w-150" width="150" data-action="sort-column" data-sortable="mob__cache-size-after">
										<div class="b-inreports__table-headname">
											<span>Размер после сжатия</span>
											{{ informHover('Я подсказко', 'span') }}
										</div>
									</th>
									<th class="w-150" width="150" data-action="sort-column" data-sortable="mob__cache-economy">
										<div class="b-inreports__table-headname">
											<span>Экономия, %</span>
											{{ informHover('Я подсказко', 'span') }}
										</div>
									</th>
								</tr>
							</thead>
							<tbody>
								<tr class="b-inreports__table-item">
									<td class="w-600" width="600">
										<a href=" https://skoda-vostokmotors.ru/bitrix/cache/js/s1/main_page_alter/kernel_main/kernel_main.js?1374433 " title=" https://skoda-vostokmotors.ru/bitrix/cache/js/s1/main_page_alter/kernel_main/kernel_main.js?1374433 "> https://skoda-vostokmotors.ru/bitrix/cache/js/s1/main_page_alter/kernel_main/kernel_main.js?1374433 </a>
									</td>
									<td class="w-150" width="150">465,22 КБ</td>
									<td class="w-150" width="150">281,9 КБ</td>
									<td class="w-150" width="150">77,7</td>
								</tr>
								<tr class="b-inreports__table-item">
									<td class="w-600" width="600">
										<a href=" https://skoda-vostokmotors.ru/bitrix/cache/js/s1/main_page_alter/kernel_main/kernel_main.js?1374433 " title=" https://skoda-vostokmotors.ru/bitrix/cache/js/s1/main_page_alter/kernel_main/kernel_main.js?1374433 "> https://skoda-vostokmotors.ru/bitrix/cache/js/s1/main_page_alter/kernel_main/kernel_main.js?1374433 </a>
									</td>
									<td class="w-150" width="150">465,22 КБ</td>
									<td class="w-150" width="150">281,9 КБ</td>
									<td class="w-150" width="150">77,7</td>
								</tr>
								<tr class="b-inreports__table-item">
									<td class="w-600" width="600">
										<a href=" https://skoda-vostokmotors.ru/bitrix/cache/js/s1/main_page_alter/kernel_main/kernel_main.js?1374433 " title=" https://skoda-vostokmotors.ru/bitrix/cache/js/s1/main_page_alter/kernel_main/kernel_main.js?1374433 "> https://skoda-vostokmotors.ru/bitrix/cache/js/s1/main_page_alter/kernel_main/kernel_main.js?1374433 </a>
									</td>
									<td class="w-150" width="150">465,22 КБ</td>
									<td class="w-150" width="150">281,9 КБ</td>
									<td class="w-150" width="150">77,7</td>
								</tr>
								<tr class="b-inreports__table-item">
									<td class="w-600" width="600">
										<a href=" https://skoda-vostokmotors.ru/bitrix/cache/js/s1/main_page_alter/kernel_main/kernel_main.js?1374433 " title=" https://skoda-vostokmotors.ru/bitrix/cache/js/s1/main_page_alter/kernel_main/kernel_main.js?1374433 "> https://skoda-vostokmotors.ru/bitrix/cache/js/s1/main_page_alter/kernel_main/kernel_main.js?1374433 </a>
									</td>
									<td class="w-150" width="150">465,22 КБ</td>
									<td class="w-150" width="150">281,9 КБ</td>
									<td class="w-150" width="150">77,7</td>
								</tr>
								<tr class="b-inreports__table-item">
									<td class="w-600" width="600">
										<a href=" https://skoda-vostokmotors.ru/bitrix/cache/js/s1/main_page_alter/kernel_main/kernel_main.js?1374433 " title=" https://skoda-vostokmotors.ru/bitrix/cache/js/s1/main_page_alter/kernel_main/kernel_main.js?1374433 "> https://skoda-vostokmotors.ru/bitrix/cache/js/s1/main_page_alter/kernel_main/kernel_main.js?1374433 </a>
									</td>
									<td class="w-150" width="150">465,22 КБ</td>
									<td class="w-150" width="150">281,9 КБ</td>
									<td class="w-150" width="150">77,7</td>
								</tr>
							</tbody>
						</table>
					</div>

					<div class="b-pagespeed__section-wrapper">
						<div class="b-pagespeed__section">
							<div class="b-pagespeed__section-title icon-alert">
								Сократите время ответа сервера
							</div>
							<div class="b-pagespeed__section-description">
								По результатам проверки время ответа вашего сервера составило {{RESPONSE_TIME}}. <a href="#$">Как скоратить время ответа</a>.
							</div>
						</div>
					</div>

					<div class="b-pagespeed__section-wrapper">
						<div class="b-pagespeed__section">
							<div class="b-pagespeed__section-title icon-success">
								Оптимизируйте загрузку видимого контента <span class="b-pagespeed__section-economy color_green">экономия 79 КБ</span>
							</div>
							<div class="b-pagespeed__section-description">
								Содержание верхней части страницы оптимизировано для быстрого отображения. <a href="#$"> Подробнее...</a>
							</div>
						</div>
					</div>
				</div>


			</div>

			

		</div>
	</main>
</div>
{% endblock %}