{% set title = "Авторизация" %}
{% set layout = "authorization" %}
{% set body_class = "app--inner" %}

{% extends "marmelad/views/layout/main.njk" %}

{% block content %}
<div class="b-authorization">
	<div id="sign-in" class="b-authorization__content">
		<form action="#" method="get" accept-charset="utf-8" novalidate="" class="b-authorization__item">
			<h6 class="sign-in__title">Войти</h6>
			<div class="form-item">
				<input class="email" type="email" name="email" value="" placeholder="Email">
			</div>
			<div class="form-item">
				<input class="pass" type="password" name="password" value="" placeholder="Пароль">
			</div>
			<div class="form-item form-item--button">
				<button type="submit" name="send">Войти</button>
			</div>
			<div class="form-item">
				<a class="btn btn-registration b-authorization__event" href="#registration">Регистрация</a>
			</div>
			<span>Забыли пароль? <a href="#restore-password" class="b-authorization__event">Восстановить</a></span>
		</form>
	</div>
	<div id="registration" class="b-authorization__content">
		<form action="#" method="get" accept-charset="utf-8" novalidate="" class="b-authorization__item">
			<h6 class="sign-in__title">Регистрация</h6>
			<div class="form-item">
				<input class="fname" type="text" name="name" value="" placeholder="Имя">
			</div>
			<div class="form-item">
				<input class="email" type="email" name="email" value="" placeholder="Email">
			</div>
			<div class="form-item">
				<input class="pass" type="password" name="password" value="" placeholder="Пароль">
			</div>
			<div class="form-item b-main-checkbox">
                <input type="checkbox" name="consent" id="b-consent1">
                <label for="b-consent1">Согласен с <a href="#">правилами сервиса</a></label>
			</div><!-- <= form-item -->
			<div class="form-item b-main-checkbox">
                <input type="checkbox" name="consent" id="b-consent2">
                <label for="b-consent2">Согласен на обработку персональных данных в соответствии с <a href="#">правилами</a></label>
			</div><!-- <= form-item -->
			<div class="form-item form-item--button">
				<button type="submit" name="send">Зарегистрироваться</button>
			</div>
			<a class="btn btn-registration b-authorization__event" href="#sign-in">Войти</a>
			
		</form>
	</div>
	<div id="restore-password" class="b-authorization__content">
		<form action="#" method="get" accept-charset="utf-8" novalidate="" class="b-authorization__item b-authorization__item--restore-password">
			<h6 class="sign-in__title">Пароль отправлен</h6>
			<div class="form-item">
				<input class="email" type="email" name="email" value="" placeholder="Email">
			</div>
			<div class="form-item form-item--button">
				<button type="submit" name="send">Отправить</button>
			</div>
			<a class="btn btn-registration b-authorization__event" href="#sign-in">Войти</a>
		</form>
	</div>
	<div id="password-sent" class="b-authorization__content">
		<h6 class="sign-in__title">Пароль отправлен</h6>
		<ol class="b-authorization__list">
			<li>Проверьте почту email@site.ru.</li>
			<li><a class="b-authorization__event" href="#sign-in">Войдите</a> с новым паролем.</li>
		</ol><!-- <= list -->
		<a href="#" class="b-authorization__find">Не можете найти письмо <br>с подтверждением?</a>
		<ol class="b-authorization__list b-authorization__list--hidden">
			<li>Проверьте правильность адреса.</li>
			<li>Проверьте папку Спам.</li>
			<li><a href="#restore-password" class="b-authorization__event">Отправьте запрос ещё раз.</a></li>
			<li>Обратитесь в службу поддержки.</li>
		</ol><!-- <= list -->
	</div>
</div>
<!-- /b-authorization -->
{% endblock %}