{% set title = 'Проверка  ТЗ по заданию' %}
{% set header_logo = "sa" %}
{% set auth = 1 %}
{% set layout = "checking" %}
{% set body_class = "app--inner" %}
{% set nomobile = 1 %}
{% set top_h1 = 1 %}
{% set top_classes = "b-page-topic--checking" %}

{% extends "marmelad/views/layout/main.njk" %}
{% block top_h1_content %}
 


<h1 class="b-page-topic__text">Проверка  ТЗ по заданию <span class="b-page-topic__text-note">«привкус гари в электронной сигарете как убрать»</span></h1>
<div class="b-page-topic__more">
	<div class="b-projects-table__options js-slide-toggle" data-slidetoggle=".b-projects-table__options-body" data-slidecontext=".b-page-topic__more" data-slideeffect="fade" data-thisclass=".b-projects-table__options">
		<div class="b-projects-table__option"></div>
		<div class="b-projects-table__option"></div>
		<div class="b-projects-table__option"></div>
	</div>
	<div class="b-projects-table__options-body">
		<ul>
			<li><a href="#"><span>Перезапустить</span></a></li>
			<li><a href="#"><span>Скачать ТЗ</span></a></li>
			<li class="b-delete-btn js-magnific"><a href="#b-delete-account2">Удалить проект</a></li>
		</ul>
	</div>
</div>

{% endblock %}
        
{% block content %}
<div class="b-site-content">
<div class="global__fix-container">
	<div class="b-site-content__inner">
		<div class="b-cheking">
			<div class="b-cheking__title">
				Подтверждение конкурентов
				<span>«лучшие сайты росии»</span>
			</div><!-- <= title -->
			<div class="b-cheking__item">
				<div class="b-cheking__item-header">
					<div class="b-cheking__item-title">1. Сайты</div><!-- <= item-title -->
					<a href="#" class="b-cheking__item-back"><img src="images/icon/arrow-left.svg" alt="Вернуть на шаг" title="Вернуть на шаг">Вернуть на шаг</a><!-- <= item-back -->
				</div><!-- <= item-header -->
				<div class="b-cheking__item-content">
					<div class="b-cheking__line">
						<div class="b-cheking__line-name">сайты <span>1</span></div><!-- <= line-name -->
						<div class="b-cheking__line-content">
							<div style="background-color: #EF0023;" class="b-cheking__line-mark"></div><!-- <= line-mark -->
							10-ка Лучших Интересных сайтов
						</div><!-- <= line-content -->
						<a href="#" class="b-cheking__line-delete">удалить</a><!-- <= line-delete -->
					</div><!-- <= line -->
					<div class="b-cheking__line">
						<div class="b-cheking__line-name">лучшие сайты <span>3</span></div><!-- <= line-name -->
						<div class="b-cheking__line-content"><a href="#">best-links.net.ru/super/</a></div><!-- <= line-content -->
					</div><!-- <= line -->
					<div class="b-cheking__line b-cheking__line--last">
						<div class="b-cheking__line-name">самые лучшие сайты <span>1</span></div><!-- <= line-name -->
						<div class="b-cheking__line-content">
							Все сайты г. Москва. Каталог официальных сайтов города Москва. <br>
							<a href="#">gorod-moskva.ru/saity/</a>
						</div><!-- <= line-content -->
						<a href="#" class="b-cheking__line-delete">удалить</a><!-- <= line-delete -->
					</div><!-- <= line -->
				</div><!-- <= item-content -->
			</div><!-- <= item -->
			<div class="b-cheking__item">
				<div class="b-cheking__item-header">
					<div class="b-cheking__item-title">2. Сайты России</div><!-- <= item-title -->
				</div><!-- <= item-header -->
				<div class="b-cheking__item-content">
					<div class="b-cheking__line">
						<div class="b-cheking__line-name">сайты <span>1</span></div><!-- <= line-name -->
						<div class="b-cheking__line-content">
							<div style="background-color: #EF0023;" class="b-cheking__line-mark"></div><!-- <= line-mark -->
							10-ка Лучших Интересных сайтов
						</div><!-- <= line-content -->
						<a href="#" class="b-cheking__line-delete">удалить</a><!-- <= line-delete -->
					</div><!-- <= line -->
					<div class="b-cheking__line">
						<div class="b-cheking__line-name">лучшие сайты <span>3</span></div><!-- <= line-name -->
						<div class="b-cheking__line-content"><a href="#">best-links.net.ru/super/</a></div><!-- <= line-content -->
					</div><!-- <= line -->
					<div class="b-cheking__line b-cheking__line--last">
						<div class="b-cheking__line-name">самые лучшие сайты <span>1</span></div><!-- <= line-name -->
						<div class="b-cheking__line-content">
							Все сайты г. Москва. Каталог официальных сайтов города Москва. <br>
							<a href="#">gorod-moskva.ru/saity/</a>
						</div><!-- <= line-content -->
						<a href="#" class="b-cheking__line-delete">удалить</a><!-- <= line-delete -->
					</div><!-- <= line -->
				</div><!-- <= item-content -->
			</div><!-- <= item -->
			<div class="b-cheking__item">
				<div class="b-cheking__item-header">
					<div class="b-cheking__item-title">1. Сайты</div><!-- <= item-title -->
					<a href="#" class="b-cheking__item-back"><img src="images/icon/arrow-left.svg" alt="Вернуть на шаг" title="Вернуть на шаг">Вернуть на шаг</a><!-- <= item-back -->
				</div><!-- <= item-header -->
				<div class="b-cheking__item-content">
					<div class="b-cheking__line">
						<div class="b-cheking__line-name">сайты <span>1</span></div><!-- <= line-name -->
						<div class="b-cheking__line-content">
							<div style="background-color: #EF0023;" class="b-cheking__line-mark"></div><!-- <= line-mark -->
							10-ка Лучших Интересных сайтов
						</div><!-- <= line-content -->
						<a href="#" class="b-cheking__line-delete">удалить</a><!-- <= line-delete -->
					</div><!-- <= line -->
					<div class="b-cheking__line">
						<div class="b-cheking__line-name">лучшие сайты <span>3</span></div><!-- <= line-name -->
						<div class="b-cheking__line-content"><a href="#">best-links.net.ru/super/</a></div><!-- <= line-content -->
					</div><!-- <= line -->
					<div class="b-cheking__line b-cheking__line--last">
						<div class="b-cheking__line-name">самые лучшие сайты <span>1</span></div><!-- <= line-name -->
						<div class="b-cheking__line-content">
							Все сайты г. Москва. Каталог официальных сайтов города Москва. <br>
							<a href="#">gorod-moskva.ru/saity/</a>
						</div><!-- <= line-content -->
						<a href="#" class="b-cheking__line-delete">удалить</a><!-- <= line-delete -->
					</div><!-- <= line -->
				</div><!-- <= item-content -->
			</div><!-- <= item -->
			<div class="b-cheking__footer">
				<div class="b-cheking__close b-main-button b-main-button_white">
					<a href="#">Закрыть</a>
				</div>
				<div class="b-cheking__prove b-main-button">
					<a href="#">Подтвердить и поставть задачу в очередь</a>
				</div>
			</div><!-- <= footer -->
		</div><!-- /b-cheking -->
	</div>
	</div>
</div>

{% endblock %}