{% set title = "Ответы на вопросы" %}
{% set header_logo = "sa" %}
{% set auth = 1 %}
{% set layout = "faq" %}
{% set top_h1 = 1 %}

{% extends "marmelad/views/layout/main.njk" %}

{% block content %}
<section class="b-faq-wrap">
    <div class="b-faq-wrap__container">
      <div class="b-faq-wrap__item">
        <div class="b-faq">
          <div class="b-faq__list">
            <div class="b-faq__list-item">
              <div class="b-faq__list-topic js-slide-toggle" data-slidetoggle=".b-faq__list-content" data-slidecontext=".b-faq__list-item" data-thisclass=".b-faq__list-topic">Сколько времени выполняется анализ?</div>
              <div class="b-faq__list-content">
                <p>Всё зависит от размеров вашего сайта и от текущей нагрузки на наш сервер. В среднем, на анализ проекта нужно от 5 минут (для маленьких сайтов) до 5 часов (для крупных порталов и магазинов). Для очень крупных сайтов анализ может занимать больше времени. Для отчёта по индексации страниц требуется дополнительное время, помимо общего анализа.</p>
              </div>
            </div>
            <div class="b-faq__list-item">
              <div class="b-faq__list-topic js-slide-toggle" data-slidetoggle=".b-faq__list-content" data-slidecontext=".b-faq__list-item" data-thisclass=".b-faq__list-topic">Как составляется ядро для SEO?</div>
              <div class="b-faq__list-content">
                <p>Всё зависит от размеров вашего сайта и от текущей нагрузки на наш сервер. В среднем, на анализ проекта нужно от 5 минут (для маленьких сайтов) до 5 часов (для крупных порталов и магазинов). Для очень крупных сайтов анализ может занимать больше времени. Для отчёта по индексации страниц требуется дополнительное время, помимо общего анализа.</p>
              </div>
            </div>
            <div class="b-faq__list-item">
              <div class="b-faq__list-topic js-slide-toggle" data-slidetoggle=".b-faq__list-content" data-slidecontext=".b-faq__list-item" data-thisclass=".b-faq__list-topic">Сколько стоит семантика для сайта?</div>
              <div class="b-faq__list-content">
                <p>Всё зависит от размеров вашего сайта и от текущей нагрузки на наш сервер. В среднем, на анализ проекта нужно от 5 минут (для маленьких сайтов) до 5 часов (для крупных порталов и магазинов). Для очень крупных сайтов анализ может занимать больше времени. Для отчёта по индексации страниц требуется дополнительное время, помимо общего анализа.</p>
              </div>
            </div>
            <div class="b-faq__list-item">
              <div class="b-faq__list-topic js-slide-toggle" data-slidetoggle=".b-faq__list-content" data-slidecontext=".b-faq__list-item" data-thisclass=".b-faq__list-topic">Как заказать составление семантики?</div>
              <div class="b-faq__list-content">
                <p>Всё зависит от размеров вашего сайта и от текущей нагрузки на наш сервер. В среднем, на анализ проекта нужно от 5 минут (для маленьких сайтов) до 5 часов (для крупных порталов и магазинов). Для очень крупных сайтов анализ может занимать больше времени. Для отчёта по индексации страниц требуется дополнительное время, помимо общего анализа.</p>
              </div>
            </div>
            <div class="b-faq__list-item">
              <div class="b-faq__list-topic js-slide-toggle" data-slidetoggle=".b-faq__list-content" data-slidecontext=".b-faq__list-item" data-thisclass=".b-faq__list-topic">Сколько времени выполняется анализ?</div>
              <div class="b-faq__list-content">
                <p>Всё зависит от размеров вашего сайта и от текущей нагрузки на наш сервер. В среднем, на анализ проекта нужно от 5 минут (для маленьких сайтов) до 5 часов (для крупных порталов и магазинов). Для очень крупных сайтов анализ может занимать больше времени. Для отчёта по индексации страниц требуется дополнительное время, помимо общего анализа.</p>
              </div>
            </div>
            <div class="b-faq__list-item">
              <div class="b-faq__list-topic js-slide-toggle" data-slidetoggle=".b-faq__list-content" data-slidecontext=".b-faq__list-item" data-thisclass=".b-faq__list-topic">Как составляется ядро для SEO?</div>
              <div class="b-faq__list-content">
                <p>Всё зависит от размеров вашего сайта и от текущей нагрузки на наш сервер. В среднем, на анализ проекта нужно от 5 минут (для маленьких сайтов) до 5 часов (для крупных порталов и магазинов). Для очень крупных сайтов анализ может занимать больше времени. Для отчёта по индексации страниц требуется дополнительное время, помимо общего анализа.</p>
              </div>
            </div>
            <div class="b-faq__list-item">
              <div class="b-faq__list-topic js-slide-toggle" data-slidetoggle=".b-faq__list-content" data-slidecontext=".b-faq__list-item" data-thisclass=".b-faq__list-topic">Сколько стоит семантика для сайта?</div>
              <div class="b-faq__list-content">
                <p>Всё зависит от размеров вашего сайта и от текущей нагрузки на наш сервер. В среднем, на анализ проекта нужно от 5 минут (для маленьких сайтов) до 5 часов (для крупных порталов и магазинов). Для очень крупных сайтов анализ может занимать больше времени. Для отчёта по индексации страниц требуется дополнительное время, помимо общего анализа.</p>
              </div>
            </div>
            <div class="b-faq__list-item">
              <div class="b-faq__list-topic js-slide-toggle" data-slidetoggle=".b-faq__list-content" data-slidecontext=".b-faq__list-item" data-thisclass=".b-faq__list-topic">Как заказать составление семантики?</div>
              <div class="b-faq__list-content">
                <p>Всё зависит от размеров вашего сайта и от текущей нагрузки на наш сервер. В среднем, на анализ проекта нужно от 5 минут (для маленьких сайтов) до 5 часов (для крупных порталов и магазинов). Для очень крупных сайтов анализ может занимать больше времени. Для отчёта по индексации страниц требуется дополнительное время, помимо общего анализа.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="b-faq-wrap__item">
      	<div class="b-card-list">
          <h2>Основное меню</h2>
          <nav>
          	<div><a href="">О сервисе</a></div>
          	<div><a href="">Новости</a></div>
            <div><span class="active">Ответы на вопросы</span></div>
            <div><a href="">Инструменты</a></div>
            <div><a href="">Технологии</a></div>
            <div><a href="">Семантика</a></div>
            <hr>
            <div><a href="#">На главную страницу</a></div>
          </nav>
      	</div>
      </div>
    </div>
    <div class="b-faq__link-wrap">
      <div class="b-faq__link-text">Остались вопросы или нужна консультация?
        <div class="b-faq__link"><a href="#">Написать нам</a></div>
      </div>
    </div>
    </section>
    <div class="both block-analysis bottom">
    <div class="container">
      <h4 class="title">Готовы проверить свой сайт?</h4>
      <form class="site-analysis" action="#" method="get" accept-charset="utf-8">
        <input class="input__url" type="text" name="url" value="" placeholder="Адрес вашего сайта">
        <input class="input__send" type="submit" name="send" value="Запустить">
      </form>
    </div>
    </div>

{% endblock %}