{% set title = "Мои проекты" %}
{% set header_logo = "sa" %}
{% set auth = 1 %}
{% set layout = "projects" %}
{% set top_h1 = 1 %}

{% extends "marmelad/views/layout/main.njk" %}

{% block content %}
<section class="b-projects">
<div class="b-projects__container">
  <div class="b-projects-empty">
      <div class="b-projects-empty__title">
      	Здесь будут находиться проекты. А сейчас вы можете:
      </div>

      <div class="b-projects-empty__actions">
      	<div class="b-projects-empty__action">
      		<a href="#$" class="b-projects-empty__action-link">Запустить проект</a>
      		<div class="b-projects-empty__action-text">
      			<p>Создать первый проект и оценить подробный отчет по внутреннему и внешнему анализу сайта.</p>
				<p>Достпуно лимитов: <span class="b-projects-empty__action-limit">250</span><br/>
				Будет проверено: <span class="b-projects-empty__action-limit">~ 25 стр.</span></p>
      		</div>
      		<div class="b-projects-empty__action-icon">
      			<img src="/images/icon/icon-launch.svg" alt="">
      		</div>
      	</div>
      	<div class="b-projects-empty__action">
      		<a href="#$" class="b-projects-empty__action-link">Сравнить тарифы</a>
      		<div class="b-projects-empty__action-text">
      			<p>Ознакомиться с вариантами подписки, для рационального использования лимитов.</p>
				<p>Подписавшись сразу на несколько месяцев сможете получить скидку до 15%.</p>
      		</div>
      		<div class="b-projects-empty__action-icon">
      			<img src="/images/icon/icon-scale.svg" alt="">
      		</div>
      	</div>
      	<div class="b-projects-empty__action">
      		<a href="#$" class="b-projects-empty__action-link">Пополнить баланс</a>
      		<div class="b-projects-empty__action-text">
      			<p>Пополнить баланс и получить дополнительные бонусы.</p>
				<p>Неиспользованные подарочные лимиты будут удвоены при первом пополнении баланса.</p>
      		</div>
      		<div class="b-projects-empty__action-icon">
      			<img src="/images/icon/icon-moneybox.svg" alt="">
      		</div>
      	</div>
      </div>
  </div>


</div>
</section>

{% endblock %}

{% block extjs %}{% endblock %}