{% set title = 'Отчёт по релевантности ключей на сайте' %}
{% set header_class = "reports-header" %}
{% set header_logo = "sa" %}
{% set auth = 1 %}
{% set layout = "report" %}

{% extends "marmelad/views/layout/main.njk" %}

{% block content %}

<div class="b-inreports" id="content">
	{% include "marmelad/views/parts/aside_ext.njk" %}
	<main class="b-inreports__main">
		<h1 class="b-inreports__main-name">{{ title }}</h1>
		<div class="b-inform" data-action="slide-target" data-target=".b-inreports__main-desc"></div>
		<div class="b-inreports__main-desc hidden">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem soluta quam sunt vitae molestias, cum necessitatibus aliquid reiciendis adipisci deserunt eius sequi perferendis odio ipsum!</div>
		<div class="b-inreports__workarea">
			{% include "marmelad/views/parts/table_filters.njk" %}

			<div class="freeze-table">
				<table class="b-inreports__table table" id="relative">
					<thead>
						<tr>
							<th class="w-400" rowspan="2" data-action="sort-column" data-sortable="url">
								<div class="b-inreports__table-headname">
									<span>Ключи для URL</span>
									<span class="b-inform" data-action="show-hover" data-content="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo velit provident autem atque consequuntur sed incidunt reiciendis corporis quos natus."></span>
								</div>
							</th>
							<th class="w-500" width="500" colspan="6">
								<div class="b-inreports__table-headname">
									<span>Вхождений</span>
									<span class="b-inform" data-action="show-hover" data-content="Я подсказко"></span>
								</div>
							</th>
							<th class="w-150" width="150" rowspan="2" data-action="sort-column" data-sortable="rel">
								<div class="b-inreports__table-headname">
									<span>Релевантность</span>
									<span class="b-inform" data-action="show-hover" data-content="Я подсказко"></span>
								</div>
							</th>
							<th class="w-100" width="100" rowspan="2" data-action="sort-column" data-sortable="wordstat">
								<div class="b-inreports__table-headname">
									<span>Wordstat</span>
									<span class="b-inform" data-action="show-hover" data-content="Я подсказко"></span>
								</div>
							</th>
						</tr>
						<tr>
							<th class="w-100" width="100" data-action="sort-column" data-sortable="containsall">
								<div class="b-inreports__table-headname">
									<span>Все</span>										
								</div>
							</th>
							<th class="w-100" width="100" data-action="sort-column" data-sortable="containstext">
								<div class="b-inreports__table-headname">
									<span>Текст</span>										
								</div>
							</th>
							<th class="w-100" width="100" data-action="sort-column" data-sortable="containstitle">
								<div class="b-inreports__table-headname">
									<span>Title</span>										
								</div>
							</th>
							<th class="w-100" width="100" data-action="sort-column" data-sortable="containsh1">
								<div class="b-inreports__table-headname">
									<span>H1</span>										
								</div>
							</th>
							<th class="w-100" width="100" data-action="sort-column" data-sortable="containsanchors">
								<div class="b-inreports__table-headname">
									<span>Анкоры</span>										
								</div>
							</th>
							<th class="w-100" width="100" data-action="sort-column" data-sortable="containsanchorslist">
								<div class="b-inreports__table-headname">
									<span>Анкорлист</span>										
								</div>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr class="b-inreports__table-item-head" data-table-item="https://www.optimism.ru/services/content/copywriting/">
							<td colspan="9">
								<div class="b-inreports__table-item-head-container">
									<a href="https://www.optimism.ru/services/content/copywriting/" title="https://www.optimism.ru/services/content/copywriting/">https://www.optimism.ru/services/content/copywriting/</a>
									<a href="#$">Все ключи (45)</a>
								</div> 
							</td>
						</tr>
						<tr class="b-inreports__table-item-content" data-table-item="https://www.optimism.ru/services/content/copywriting/">
							<td class="w-400">оптимизация сайта поисковая оптимизация</td>
							<td class="w-100" width="100">1</td>
							<td class="w-100" width="100">1</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100 yellow-bg" width="100">15.766</td>
							<td class="w-100" width="100">~ 52</td>
						</tr>
						<tr class="b-inreports__table-item-content" data-table-item="https://www.optimism.ru/services/content/copywriting/">
							<td class="w-400">заказать копирайтинг для сайта</td>
							<td class="w-100" width="100">1</td>
							<td class="w-100" width="100">1</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">0</td>
							<td class="w-150 green-bg" width="150">13.836</td>
							<td class="w-100" width="100">~ 1</td>
						</tr>
						<tr class="b-inreports__table-item-content" data-table-item="https://www.optimism.ru/services/content/copywriting/">
							<td class="w-400">написание текстов</td>
							<td class="w-100" width="100">2</td>
							<td class="w-100" width="100">1</td>
							<td class="w-100" width="100">q</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">0</td>
							<td class="w-150 green-bg" width="150">12.963</td>
							<td class="w-100" width="100">~ 74</td>
						</tr>
						<tr class="b-inreports__table-item-content" data-table-item="https://www.optimism.ru/services/content/copywriting/">
							<td class="w-400">заказать тексты для сайтов</td>
							<td class="w-100" width="100">1</td>
							<td class="w-100" width="100">1</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">0</td>
							<td class="w-150 red-bg" width="150">12.867</td>
							<td class="w-100" width="100">~ 8366</td>
						</tr>
						<tr class="b-inreports__table-item-content" data-table-item="https://www.optimism.ru/services/content/copywriting/">
							<td class="w-400">оптимизация сайта продвижение</td>
							<td class="w-100" width="100">2</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">1</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">2</td>
							<td class="w-100" width="100">0</td>
							<td class="w-150 blue-bg" width="150">12.752</td>
							<td class="w-100" width="100">~ 8</td>
						</tr>
						<tr class="b-inreports__table-item-content" data-table-item="https://www.optimism.ru/services/content/copywriting/">
							<td class="w-400">услуги копирайтинга</td>
							<td class="w-100" width="100">1</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">0</td>
							<td class="w-150 yellow-bg" width="150">12.752</td>
							<td class="w-100" width="100">~ 2</td>
						</tr>
						<tr class="b-inreports__table-item-head" data-table-item="https://www.optimism.ru/services/content/copywriting/">
							<td colspan="9">
								<div class="b-inreports__table-item-head-container">
									<a href="https://www.optimism.ru/services/content/copywriting/" title="https://www.optimism.ru/services/content/copywriting/">https://www.optimism.ru/services/content/copywriting/</a>
									<a href="#$">Все ключи (45)</a>
								</div> 
							</td>
						</tr>
						<tr class="b-inreports__table-item-content" data-table-item="https://www.optimism.ru/services/content/copywriting/">
							<td class="w-400">оптимизация сайта поисковая оптимизация</td>
							<td class="w-100" width="100">1</td>
							<td class="w-100" width="100">1</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100 yellow-bg" width="100">15.766</td>
							<td class="w-100" width="100">~ 52</td>
						</tr>
						<tr class="b-inreports__table-item-content" data-table-item="https://www.optimism.ru/services/content/copywriting/">
							<td class="w-400">заказать копирайтинг для сайта</td>
							<td class="w-100" width="100">1</td>
							<td class="w-100" width="100">1</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">0</td>
							<td class="w-150 green-bg" width="150">13.836</td>
							<td class="w-100" width="100">~ 1</td>
						</tr>
						<tr class="b-inreports__table-item-content" data-table-item="https://www.optimism.ru/services/content/copywriting/">
							<td class="w-400">написание текстов</td>
							<td class="w-100" width="100">2</td>
							<td class="w-100" width="100">1</td>
							<td class="w-100" width="100">q</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">0</td>
							<td class="w-150 green-bg" width="150">12.963</td>
							<td class="w-100" width="100">~ 74</td>
						</tr>
						<tr class="b-inreports__table-item-content" data-table-item="https://www.optimism.ru/services/content/copywriting/">
							<td class="w-400">заказать тексты для сайтов</td>
							<td class="w-100" width="100">1</td>
							<td class="w-100" width="100">1</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">0</td>
							<td class="w-150 red-bg" width="150">12.867</td>
							<td class="w-100" width="100">~ 8366</td>
						</tr>
						<tr class="b-inreports__table-item-content" data-table-item="https://www.optimism.ru/services/content/copywriting/">
							<td class="w-400">оптимизация сайта продвижение</td>
							<td class="w-100" width="100">2</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">1</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">2</td>
							<td class="w-100" width="100">0</td>
							<td class="w-150 blue-bg" width="150">12.752</td>
							<td class="w-100" width="100">~ 8</td>
						</tr>
						<tr class="b-inreports__table-item-content" data-table-item="https://www.optimism.ru/services/content/copywriting/">
							<td class="w-400">услуги копирайтинга</td>
							<td class="w-100" width="100">1</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">0</td>
							<td class="w-150 yellow-bg" width="150">12.752</td>
							<td class="w-100" width="100">~ 2</td>
						</tr>
						<tr class="b-inreports__table-item-head" data-table-item="https://www.optimism.ru/services/content/copywriting/">
							<td colspan="9">
								<div class="b-inreports__table-item-head-container">
									<a href="https://www.optimism.ru/services/content/copywriting/" title="https://www.optimism.ru/services/content/copywriting/">https://www.optimism.ru/services/content/copywriting/</a>
									<a href="#$">Все ключи (45)</a>
								</div> 
							</td>
						</tr>
						<tr class="b-inreports__table-item-content" data-table-item="https://www.optimism.ru/services/content/copywriting/">
							<td class="w-400">оптимизация сайта поисковая оптимизация</td>
							<td class="w-100" width="100">1</td>
							<td class="w-100" width="100">1</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100 yellow-bg" width="100">15.766</td>
							<td class="w-100" width="100">~ 52</td>
						</tr>
						<tr class="b-inreports__table-item-content" data-table-item="https://www.optimism.ru/services/content/copywriting/">
							<td class="w-400">заказать копирайтинг для сайта</td>
							<td class="w-100" width="100">1</td>
							<td class="w-100" width="100">1</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">0</td>
							<td class="w-150 green-bg" width="150">13.836</td>
							<td class="w-100" width="100">~ 1</td>
						</tr>
						<tr class="b-inreports__table-item-content" data-table-item="https://www.optimism.ru/services/content/copywriting/">
							<td class="w-400">написание текстов</td>
							<td class="w-100" width="100">2</td>
							<td class="w-100" width="100">1</td>
							<td class="w-100" width="100">q</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">0</td>
							<td class="w-150 green-bg" width="150">12.963</td>
							<td class="w-100" width="100">~ 74</td>
						</tr>
						<tr class="b-inreports__table-item-content" data-table-item="https://www.optimism.ru/services/content/copywriting/">
							<td class="w-400">заказать тексты для сайтов</td>
							<td class="w-100" width="100">1</td>
							<td class="w-100" width="100">1</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">0</td>
							<td class="w-150 red-bg" width="150">12.867</td>
							<td class="w-100" width="100">~ 8366</td>
						</tr>
						<tr class="b-inreports__table-item-content" data-table-item="https://www.optimism.ru/services/content/copywriting/">
							<td class="w-400">оптимизация сайта продвижение</td>
							<td class="w-100" width="100">2</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">1</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">2</td>
							<td class="w-100" width="100">0</td>
							<td class="w-150 blue-bg" width="150">12.752</td>
							<td class="w-100" width="100">~ 8</td>
						</tr>
						<tr class="b-inreports__table-item-content" data-table-item="https://www.optimism.ru/services/content/copywriting/">
							<td class="w-400">услуги копирайтинга</td>
							<td class="w-100" width="100">1</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">0</td>
							<td class="w-150 yellow-bg" width="150">12.752</td>
							<td class="w-100" width="100">~ 2</td>
						</tr>
						<tr class="b-inreports__table-item-head" data-table-item="https://www.optimism.ru/services/content/copywriting/">
							<td colspan="9">
								<div class="b-inreports__table-item-head-container">
									<a href="https://www.optimism.ru/services/content/copywriting/" title="https://www.optimism.ru/services/content/copywriting/">https://www.optimism.ru/services/content/copywriting/</a>
									<a href="#$">Все ключи (45)</a>
								</div> 
							</td>
						</tr>
						<tr class="b-inreports__table-item-content" data-table-item="https://www.optimism.ru/services/content/copywriting/">
							<td class="w-400">оптимизация сайта поисковая оптимизация</td>
							<td class="w-100" width="100">1</td>
							<td class="w-100" width="100">1</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100 yellow-bg" width="100">15.766</td>
							<td class="w-100" width="100">~ 52</td>
						</tr>
						<tr class="b-inreports__table-item-content" data-table-item="https://www.optimism.ru/services/content/copywriting/">
							<td class="w-400">заказать копирайтинг для сайта</td>
							<td class="w-100" width="100">1</td>
							<td class="w-100" width="100">1</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">0</td>
							<td class="w-150 green-bg" width="150">13.836</td>
							<td class="w-100" width="100">~ 1</td>
						</tr>
						<tr class="b-inreports__table-item-content" data-table-item="https://www.optimism.ru/services/content/copywriting/">
							<td class="w-400">написание текстов</td>
							<td class="w-100" width="100">2</td>
							<td class="w-100" width="100">1</td>
							<td class="w-100" width="100">q</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">0</td>
							<td class="w-150 green-bg" width="150">12.963</td>
							<td class="w-100" width="100">~ 74</td>
						</tr>
						<tr class="b-inreports__table-item-content" data-table-item="https://www.optimism.ru/services/content/copywriting/">
							<td class="w-400">заказать тексты для сайтов</td>
							<td class="w-100" width="100">1</td>
							<td class="w-100" width="100">1</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">0</td>
							<td class="w-150 red-bg" width="150">12.867</td>
							<td class="w-100" width="100">~ 8366</td>
						</tr>
						<tr class="b-inreports__table-item-content" data-table-item="https://www.optimism.ru/services/content/copywriting/">
							<td class="w-400">оптимизация сайта продвижение</td>
							<td class="w-100" width="100">2</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">1</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">2</td>
							<td class="w-100" width="100">0</td>
							<td class="w-150 blue-bg" width="150">12.752</td>
							<td class="w-100" width="100">~ 8</td>
						</tr>
						<tr class="b-inreports__table-item-content" data-table-item="https://www.optimism.ru/services/content/copywriting/">
							<td class="w-400">услуги копирайтинга</td>
							<td class="w-100" width="100">1</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">0</td>
							<td class="w-150 yellow-bg" width="150">12.752</td>
							<td class="w-100" width="100">~ 2</td>
						</tr>
						<tr class="b-inreports__table-item-head" data-table-item="https://www.optimism.ru/services/content/copywriting/">
							<td colspan="9">
								<div class="b-inreports__table-item-head-container">
									<a href="https://www.optimism.ru/services/content/copywriting/" title="https://www.optimism.ru/services/content/copywriting/">https://www.optimism.ru/services/content/copywriting/</a>
									<a href="#$">Все ключи (45)</a>
								</div> 
							</td>
						</tr>
						<tr class="b-inreports__table-item-content" data-table-item="https://www.optimism.ru/services/content/copywriting/">
							<td class="w-400">оптимизация сайта поисковая оптимизация</td>
							<td class="w-100" width="100">1</td>
							<td class="w-100" width="100">1</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100 yellow-bg" width="100">15.766</td>
							<td class="w-100" width="100">~ 52</td>
						</tr>
						<tr class="b-inreports__table-item-content" data-table-item="https://www.optimism.ru/services/content/copywriting/">
							<td class="w-400">заказать копирайтинг для сайта</td>
							<td class="w-100" width="100">1</td>
							<td class="w-100" width="100">1</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">0</td>
							<td class="w-150 green-bg" width="150">13.836</td>
							<td class="w-100" width="100">~ 1</td>
						</tr>
						<tr class="b-inreports__table-item-content" data-table-item="https://www.optimism.ru/services/content/copywriting/">
							<td class="w-400">написание текстов</td>
							<td class="w-100" width="100">2</td>
							<td class="w-100" width="100">1</td>
							<td class="w-100" width="100">q</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">0</td>
							<td class="w-150 green-bg" width="150">12.963</td>
							<td class="w-100" width="100">~ 74</td>
						</tr>
						<tr class="b-inreports__table-item-content" data-table-item="https://www.optimism.ru/services/content/copywriting/">
							<td class="w-400">заказать тексты для сайтов</td>
							<td class="w-100" width="100">1</td>
							<td class="w-100" width="100">1</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">0</td>
							<td class="w-150 red-bg" width="150">12.867</td>
							<td class="w-100" width="100">~ 8366</td>
						</tr>
						<tr class="b-inreports__table-item-content" data-table-item="https://www.optimism.ru/services/content/copywriting/">
							<td class="w-400">оптимизация сайта продвижение</td>
							<td class="w-100" width="100">2</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">1</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">2</td>
							<td class="w-100" width="100">0</td>
							<td class="w-150 blue-bg" width="150">12.752</td>
							<td class="w-100" width="100">~ 8</td>
						</tr>
						<tr class="b-inreports__table-item-content" data-table-item="https://www.optimism.ru/services/content/copywriting/">
							<td class="w-400">услуги копирайтинга</td>
							<td class="w-100" width="100">1</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">0</td>
							<td class="w-150 yellow-bg" width="150">12.752</td>
							<td class="w-100" width="100">~ 2</td>
						</tr>
						<tr class="b-inreports__table-item-head" data-table-item="https://www.optimism.ru/services/content/copywriting/">
							<td colspan="9">
								<div class="b-inreports__table-item-head-container">
									<a href="https://www.optimism.ru/services/content/copywriting/" title="https://www.optimism.ru/services/content/copywriting/">https://www.optimism.ru/services/content/copywriting/</a>
									<a href="#$">Все ключи (45)</a>
								</div> 
							</td>
						</tr>
						<tr class="b-inreports__table-item-content" data-table-item="https://www.optimism.ru/services/content/copywriting/">
							<td class="w-400">оптимизация сайта поисковая оптимизация</td>
							<td class="w-100" width="100">1</td>
							<td class="w-100" width="100">1</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100 yellow-bg" width="100">15.766</td>
							<td class="w-100" width="100">~ 52</td>
						</tr>
						<tr class="b-inreports__table-item-content" data-table-item="https://www.optimism.ru/services/content/copywriting/">
							<td class="w-400">заказать копирайтинг для сайта</td>
							<td class="w-100" width="100">1</td>
							<td class="w-100" width="100">1</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">0</td>
							<td class="w-150 green-bg" width="150">13.836</td>
							<td class="w-100" width="100">~ 1</td>
						</tr>
						<tr class="b-inreports__table-item-content" data-table-item="https://www.optimism.ru/services/content/copywriting/">
							<td class="w-400">написание текстов</td>
							<td class="w-100" width="100">2</td>
							<td class="w-100" width="100">1</td>
							<td class="w-100" width="100">q</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">0</td>
							<td class="w-150 green-bg" width="150">12.963</td>
							<td class="w-100" width="100">~ 74</td>
						</tr>
						<tr class="b-inreports__table-item-content" data-table-item="https://www.optimism.ru/services/content/copywriting/">
							<td class="w-400">заказать тексты для сайтов</td>
							<td class="w-100" width="100">1</td>
							<td class="w-100" width="100">1</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">0</td>
							<td class="w-150 red-bg" width="150">12.867</td>
							<td class="w-100" width="100">~ 8366</td>
						</tr>
						<tr class="b-inreports__table-item-content" data-table-item="https://www.optimism.ru/services/content/copywriting/">
							<td class="w-400">оптимизация сайта продвижение</td>
							<td class="w-100" width="100">2</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">1</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">2</td>
							<td class="w-100" width="100">0</td>
							<td class="w-150 blue-bg" width="150">12.752</td>
							<td class="w-100" width="100">~ 8</td>
						</tr>
						<tr class="b-inreports__table-item-content" data-table-item="https://www.optimism.ru/services/content/copywriting/">
							<td class="w-400">услуги копирайтинга</td>
							<td class="w-100" width="100">1</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">0</td>
							<td class="w-150 yellow-bg" width="150">12.752</td>
							<td class="w-100" width="100">~ 2</td>
						</tr>
						<tr class="b-inreports__table-item-head" data-table-item="https://www.optimism.ru/services/content/copywriting/">
							<td colspan="9">
								<div class="b-inreports__table-item-head-container">
									<a href="https://www.optimism.ru/services/content/copywriting/" title="https://www.optimism.ru/services/content/copywriting/">https://www.optimism.ru/services/content/copywriting/</a>
									<a href="#$">Все ключи (45)</a>
								</div> 
							</td>
						</tr>
						<tr class="b-inreports__table-item-content" data-table-item="https://www.optimism.ru/services/content/copywriting/">
							<td class="w-400">оптимизация сайта поисковая оптимизация</td>
							<td class="w-100" width="100">1</td>
							<td class="w-100" width="100">1</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100 yellow-bg" width="100">15.766</td>
							<td class="w-100" width="100">~ 52</td>
						</tr>
						<tr class="b-inreports__table-item-content" data-table-item="https://www.optimism.ru/services/content/copywriting/">
							<td class="w-400">заказать копирайтинг для сайта</td>
							<td class="w-100" width="100">1</td>
							<td class="w-100" width="100">1</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">0</td>
							<td class="w-150 green-bg" width="150">13.836</td>
							<td class="w-100" width="100">~ 1</td>
						</tr>
						<tr class="b-inreports__table-item-content" data-table-item="https://www.optimism.ru/services/content/copywriting/">
							<td class="w-400">написание текстов</td>
							<td class="w-100" width="100">2</td>
							<td class="w-100" width="100">1</td>
							<td class="w-100" width="100">q</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">0</td>
							<td class="w-150 green-bg" width="150">12.963</td>
							<td class="w-100" width="100">~ 74</td>
						</tr>
						<tr class="b-inreports__table-item-content" data-table-item="https://www.optimism.ru/services/content/copywriting/">
							<td class="w-400">заказать тексты для сайтов</td>
							<td class="w-100" width="100">1</td>
							<td class="w-100" width="100">1</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">0</td>
							<td class="w-150 red-bg" width="150">12.867</td>
							<td class="w-100" width="100">~ 8366</td>
						</tr>
						<tr class="b-inreports__table-item-content" data-table-item="https://www.optimism.ru/services/content/copywriting/">
							<td class="w-400">оптимизация сайта продвижение</td>
							<td class="w-100" width="100">2</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">1</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">2</td>
							<td class="w-100" width="100">0</td>
							<td class="w-150 blue-bg" width="150">12.752</td>
							<td class="w-100" width="100">~ 8</td>
						</tr>
						<tr class="b-inreports__table-item-content" data-table-item="https://www.optimism.ru/services/content/copywriting/">
							<td class="w-400">услуги копирайтинга</td>
							<td class="w-100" width="100">1</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">0</td>
							<td class="w-100" width="100">0</td>
							<td class="w-150 yellow-bg" width="150">12.752</td>
							<td class="w-100" width="100">~ 2</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</main>
</div>
{% include "marmelad/views/parts/table_popups.njk" %}

{% endblock %}

{% block extjs %}

<script src="js/freezytable.js"></script>

{% endblock %}