{% set title = 'Генератор карты сайта' %}
{% set header_class = "reports-header" %}
{% set header_logo = "sa" %}
{% set auth = 1 %}
{% set layout = "report" %}

{% extends "marmelad/views/layout/main.njk" %}

{% block content %}
<div class="b-inreports" id="content">
	{% include "marmelad/views/parts/aside_ext.njk" %}
	<main class="b-inreports__main">
		<h1 class="b-inreports__main-name">{{ title }}</h1>
		<div class="b-inreports__workarea">
			<div class="b-inreports__row">
				<div class="b-inreports__form">
					<form action="" class="b-form">
						<div class="b-form__row">
							<div class="b-form__row-left">Тип карты</div>
							<div class="b-form__row-right">
								<div class="b-form__select-wrapper">
									<div class="b-form__select changed" data-target="[name='type']">HTML</div>
									<ul class="b-form__select-list">
										<li class="b-form__select-item" data-value="html">HTML</li>
										<li class="b-form__select-item" data-value="xml">XML</li>
										<li class="b-form__select-item" data-value="txt">TXT</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="b-form__row">
							<div class="b-form__row-left">Частота изменений</div>
							<div class="b-form__row-right">
								<div class="b-form__select-wrapper">
									<div class="b-form__select changed" data-target="[name='frequency']">Ежедневно</div>
									<ul class="b-form__select-list">											
										<li class="b-form__select-item" data-value="hourly">Каждый час</li>
										<li class="b-form__select-item" data-value="daily">Ежедневно</li>
										<li class="b-form__select-item" data-value="weekly">Еженедельно</li>
										<li class="b-form__select-item" data-value="monthly">Ежемесячно</li>
										<li class="b-form__select-item" data-value="yearly">Ежегодно</li>
										<li class="b-form__select-item" data-value="always">Всегда</li>
										<li class="b-form__select-item" data-value="never">Никогда</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="b-form__row">
							<div class="b-form__row-left">Приоритет</div>
							<div class="b-form__row-right">
								<div class="b-form__select-wrapper">
									<div class="b-form__select changed" data-target="[name='priority']">0.9</div>
									<ul class="b-form__select-list">
										<li class="b-form__select-item" data-value="0.1">0.1</li>
										<li class="b-form__select-item" data-value="0.2">0.2</li>
										<li class="b-form__select-item" data-value="0.3">0.3</li>
										<li class="b-form__select-item" data-value="0.4">0.4</li>
										<li class="b-form__select-item" data-value="0.5">0.5</li>
										<li class="b-form__select-item" data-value="0.6">0.6</li>
										<li class="b-form__select-item" data-value="0.7">0.7</li>
										<li class="b-form__select-item" data-value="0.8">0.8</li>
										<li class="b-form__select-item" data-value="0.9">0.9</li>
										<li class="b-form__select-item" data-value="1">1</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="b-form__row">
							<div class="b-form__row-left">Включить страницы</div>
							<div class="b-form__row-right">
								<div class="b-form__select-wrapper">
									<div class="b-form__select changed" data-target="[name='include']">Все</div>
									<ul class="b-form__select-list">
										<li class="b-form__select-item" data-value="all">Все</li>
										<li class="b-form__select-item" data-value="nothing">Никакие</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="b-form__row">
							<div class="b-form__row-left">Модификация от</div>
							<div class="b-form__row-right">
								<div class="datepicker">
									<input type="text" id="datepicker" name="modify">
								</div>
							</div>
						</div>
						<div class="b-form__row">
							<div class="b-form__row-right">
								<div class="b-form__checkbox">
									<input type="checkbox" class="custom-checkbox" name="include-redirects" id="include-redirects" value="yes">
									<label for="include-redirects">Включить страницы с редиректом в карту</label>
								</div>
								<div class="b-form__checkbox">
									<input type="checkbox" class="custom-checkbox" name="include-canonicals" id="include-canonicals" value="yes">
									<label for="include-canonicals">Включить страницы с rel=canonical в карту</label>
								</div>
							</div>
						</div>
						<div class="b-form__row">
							<div class="b-form__row-right">
								<button class="b-form__submit" type="submit">Создать карту</button>
							</div>
						</div>

						<input type="hidden" name="type" value="HTML">
						<input type="hidden" name="frequency" value="daily">
						<input type="hidden" name="include" value="all">
						<input type="hidden" name="priority" value="0.9">
					</form>
				</div>
				<div class="b-inreports__text">
					<p>
						Карта сайта — это загруженный на ваш сайт текстовый (Xml) файл специального вида для роботов поисковых систем. Преимущества при использовании файла Sitemap для вашего сайта:
					</p>

					<ol>
						<li>
							ускорение процесса обнаружения и добавления страниц сайта в индексы поисковых систем и, соответственно, в результаты поисковой выдачи
						</li>
						<li>
							более быстрое нахождение поисковиками изменившихся страниц сайта;
						</li>
						<li>
							помощь поисковикам в пополнении индексов свежим контентом, вследствие чего пользователи получают в ответ на свои поисковые запросы более актуальный и свежий контент.
						</li>
					</ol>

					<p>
						Данный инструмент поможет вам сгенерировать карту сайта на основе проведённого анализа. После генерации поменяйте название карты на sitemap.xml и разместите в корне сайта. Если вы используете файл robots.txt, то можно дополнительно указать роботу на наличие вашей карты.
					</p>

					<a href="#$">Узнать как</a>
				</div>
			</div>
			
		</div>
	</main>
</div>
{% endblock %}

{% block extjs %}
	<link rel="stylesheet" type="text/css" href="js/datapicker/jquery-ui.min.css">
    <script src="js/datapicker/jquery-ui.min.js"></script>
    <script src="js/datapicker/ru-loc.js"></script>
{% endblock %}