{% set title = "Настройкa запуска sitereport.ru" %}
{% set header_logo = "sa" %}
{% set auth = 1 %}
{% set layout = "settings2" %}
{% set top_h1 = 1 %}

{% extends "marmelad/views/layout/main.njk" %}

{% block content %}

  <section class="b-user-settings" style="display: block">

  <div class="b-user-settings__container-outer">

    <div class="b-user-settings__wrapper b-user-settings__wrapper-buttons">

      <button class="b-user-settings__button-container js-slide-toggle" data-thisclass=".b-user-settings__button-container"
        data-slidetoggle=".b-user-settings__container-settings" data-selectorsharedclass=".b-user-settings__tab" data-slideeffect="show" >
        Настройки сканирования
      </button>

      <button class="b-user-settings__button-container js-slide-toggle activate" data-thisclass=".b-user-settings__button-container"
        data-slidetoggle=".b-user-settings__container-autostart" data-selectorsharedclass=".b-user-settings__tab" data-slideeffect="show" >
        Автозапуск
      </button>

    </div>

    <div class="b-user-settings__wrapper">




      <div class="b-user-settings__line-topic b-user-settings__line-topic-settings js-slide-toggle"
      data-thisclass=".b-user-settings__line-topic-settings"
        data-slidetoggle=".b-user-settings__container-settings" data-selectorsharedclass=".b-user-settings__tab" data-slideeffect="scrolldown"> 
        <a class="b-user-settings__line-topic-link">Настройки сканирования</a>
      </div>

      <div class="b-user-settings__container b-user-settings__tab b-user-settings__container-settings">
        <div class="b-user-settings__lines">
          <div class="b-user-settings__line">

            <div class="b-user-settings__line-item b-user-settings__line-item-robotx ">
            
              <div class="b-user-settings__line-topic b-user-settings__line-topic-sources">Источники</div>

              <div class="b-user-robotx">

                <div class="b-user-robotx__checkbox b-main-checkbox">
                  <input type="checkbox" name="block" id="b-check211">
                  <label for="b-check211">Ссылки сайта</label>
                </div>

                <div class="b-user-robotx__checkbox b-main-checkbox">
                  <input type="checkbox" name="block" id="b-check212">
                  <label for="b-check212">Sitemap.xml</label>
                </div>

                <div class="b-user-robotx__checkbox-textarea b-user-robotx__checkbox b-main-checkbox b-main-hastextarea ">
                  <input type="checkbox" name="block" id="b-check213">
                  <label for="b-check213">Список страниц</label>
                  <div class="b-user-robotx__textarea b-main-textarea">
                    <textarea name="" cols="30" rows="10"></textarea>
                  </div>
                </div>

              </div>

            </div>

          </div>

          <div class="b-user-settings__line">
            <div class="b-user-settings__line-item b-user-settings__line-item-instructions">

              <div class="b-user-settings__line-topic b-user-settings__line-topic-instructions">Инструкции</div>

              <div class="b-user-robotx">

                <div class="b-user-robotx__title">Robots.txt</div>
                <div class="b-user-robotx__radios b-main-radios">
                  <div class="b-user-robotx__radio b-main-radios__item">
                    <input type="radio" name="robotx" id="radio1" checked="">
                    <label for="radio1">Использовать <a class="--color-blue" href="#">с сайта</a></label>
                  </div>
                  <div class="b-user-robotx__radio b-main-radios__item">
                    <input type="radio" name="robotx" id="radio2">
                    <label for="radio2">Не использовать</label>
                  </div>
                  <div class="b-user-robotx__radio b-main-radios__item b-main-hastextarea">
                    <input type="radio" name="robotx" id="radio3">
                    <label for="radio3">Добавить свой</label>
                    <div class="b-user-robotx__textarea b-main-textarea">
                      <textarea name="" cols="30" rows="10"></textarea>
                    </div>
                  </div>
                </div>

              </div>

            </div>

            <div class="b-user-settings__line-item b-user-settings__line-item-robot-name">

              <div class="b-user-robotx b-user-robotx-robot-name">

                <div class="b-user-robotx__select-wrapper">
                  <div class="b-user-robotx__topic b-user-robotx__topic-robot-name">Сканировать от имени робота</div>
                  <div class="b-user-robotx__select b-main-select">
                    <select>
                      <option default="">Yandex</option>
                      <option>Google</option>
                      <option>Yahoo</option>
                    </select>
                  </div>
                </div>
                {# <div class="b-user-robotx__checkbox-wrapper"> #}

                  <div class="b-user-robotx__checkbox b-main-checkbox">
                    <input type="checkbox" checked="checked" name="block1" id="b-check21">
                    <label for="b-check21">Пропускать ссылки с meta nofollow</label>
                  </div>

                  <div class="b-user-robotx__checkbox b-main-checkbox">
                    <input type="checkbox" name="block2" id="b-check22">
                    <label class="b-main-checkbox__text" for="b-check22">Пропускать страницы с meta <br class="b-user-robotx__checkbox-text-break"> noindex</label>
                  </div>

                {# </div> #}

              </div>

            </div>

          </div>
          <div class="b-user-settings__line b-user-settings__line-load">

            <div class="b-user-settings__line-item">

              <div class="b-user-settings__line-topic">Нагрузка</div>

              <div class="b-site-load">
                <div class="b-site-load__inputs">

                  <div class="b-site-load__input-wrapper">
                    <div class="b-site-load__input-topic">Глубина загрузки</div>
                    <div class="b-main-input">
                      <input class="b-site-load__input" type="text">
                    </div>
                  </div>

                  <div class="b-site-load__input-wrapper">
                    <div class="b-site-load__input-topic">Параллельных соединений до</div>
                    <div class="b-site-load__input b-site-load__input_net b-main-input">
                      <input class="b-site-load__input" type="text">
                    </div>
                  </div>

                  <div class="b-site-load__input-wrapper">
                    <div class="b-site-load__input-topic">Задержка между запросами</div>
                    <div class="b-site-load__input b-site-load__input_net b-main-input">
                      <input class="b-site-load__input" type="text">
                      <div class="b-site-load__afterinput">сек.</div>
                    </div>
                  </div>

                </div>
                
                <div class="b-site-load__notify">Внимание! При проблемах с загрузкой сайта (загружается одна страница и подобных)  следует:</div>
                <div class="b-main-checkbox b-site-load__checkbox">
                  <input type="checkbox" name="proxy" id="b-check3">
                  <label for="b-check3">Использовать прокси</label>
                </div>
              </div>

            </div>

          </div>

          <div class="b-user-settings__line">

            <div class="b-user-settings__line-item">
              <div class="b-user-settings__line-topic b-user-settings__line-topic-reports">Отчёты по:</div>
              <div class="b-user-reports">
                <div class="b-user-reports__container">
                  <div class="b-user-reports__item">
                    <div class="b-user-reports__checkbox b-user-reports__checkbox-inner-links b-main-checkbox">
                      <input type="checkbox" name="proxy" id="b-check4">
                      <label class="b-main-checkbox__text" for="b-check4">Внутренним ссылкам</label>
                    </div>
                    <div class="b-user-reports__checkbox b-main-checkbox">
                      <input type="checkbox" name="proxy" id="b-check5">
                      <label class="b-main-checkbox__text" for="b-check5">Ресурсам (изображения, js, css и тп.)</label>
                    </div>
                    <div class="b-user-reports__checkbox b-main-checkbox">
                      <input type="checkbox" name="proxy" id="b-check6">
                      <label class="b-main-checkbox__text" for="b-check6">Контенту (дублирование, ошибки орфографии)</label>
                    </div>
                    <div class="b-user-reports__checkbox b-main-checkbox">
                      <input type="checkbox" name="proxy" id="b-check7">
                      <label class="b-main-checkbox__text" for="b-check7">Тегам (заполенение, дублирование)</label>
                    </div>
                    <div class="b-user-reports__checkbox b-main-checkbox">
                      <input type="checkbox" name="proxy" id="b-check8">
                      <label class="b-main-checkbox__text" for="b-check8">Тексту (плотность, частота)</label>
                    </div>
                    <div class="b-user-reports__checkbox b-main-checkbox">
                      <input type="checkbox" name="proxy" id="b-check9">
                      <label class="b-main-checkbox__text" for="b-check9">Позициям и конкурентам (бета)</label>
                    </div>
                  </div>
                  <div class="b-user-reports__item">
                    <div class="b-user-reports__checkbox b-main-checkbox">
                      <input type="checkbox" name="proxy" id="b-check10">
                      <label class="b-main-checkbox__text" for="b-check10">Релевантности ключей</label>
                    </div>
                    <div class="b-user-reports__checkbox b-main-checkbox">
                      <input type="checkbox" name="proxy" id="b-check11">
                      <label class="b-main-checkbox__text" for="b-check11">Структуре сайта (дерево структуры)</label>
                    </div>
                    <div class="b-user-reports__checkbox b-main-checkbox">
                      <input type="checkbox" name="proxy" id="b-check12">
                      <label class="b-main-checkbox__text" for="b-check12">Генератор карт (генерация xml/html карт сайта)</label>
                    </div>
                    <div class="b-user-reports__checkbox b-main-checkbox">
                      <input type="checkbox" name="proxy" id="b-check13">
                      <label class="b-main-checkbox__text" for="b-check13">Проверка Микроразметки на ошибки</label>
                    </div>
                    <div class="b-user-reports__checkbox b-main-checkbox">
                      <input type="checkbox" name="proxy" id="b-check14">
                      <label class="b-main-checkbox__text" for="b-check14">Обратным ссылкам (бета)</label>
                    </div>
                  </div>
                </div>
                <div class="b-user-reports__notify">Отключение ненужных отчётов снижает нагрузку на сервис и увеличивает скорость обработки проекта.</div>
              </div>
            </div>

          </div>

        </div>
      </div>




      <div class="b-user-settings__line-topic b-user-settings__line-topic-settings b-user-settings__line-topic-autostart js-slide-toggle activate2"
      data-thisclass=".b-user-settings__line-topic-settings"
        data-slidetoggle=".b-user-settings__container-autostart" data-selectorsharedclass=".b-user-settings__tab" data-slideeffect="scrolldown">
        <a class="b-user-settings__line-topic-link">Автозапуск</a>
      </div>

      <div class="b-user-settings__container b-user-settings__tab b-user-settings__container-autostart">
        <div class="b-user-settings__line b-user-settings__line_autostart">
          <div class="b-user-settings__line-item">

            {# Переключатель "Автозапуск включен"; Используются CSS объекты ":before" и ":after" #}
            <label class="b-switch b-user-settings__switch" >
              <input class="b-switch__input" type="checkbox" name="proxy" id="b-check16">
              <span class="b-switch__slider b-user-settings__switch-slider"></span>
            </label>

            <div class="b-settings-autostart disabled">
              <div class="b-settings-autostart__selects">
                <div class="b-settings-autostart__select b-settings-autostart__select--period">
                  <div class="b-settings-autostart__select-topic">Период запуска</div>
                  <div class="b-main-select" style="height: 40px;">
                    <select style="height: 40px;" data-class="select-period" disabled="disabled">
                      <option style="height: 40px;" default="">День</option>
                      <option>Неделя</option>
                      <option>Месяц</option>
                      <option>N дней</option>
                    </select>
                  </div>
                </div>
                <div class="b-settings-autostart__select b-settings-autostart__select--week">
                  <div class="b-settings-autostart__select-topic">День недели:</div>
                  <div class="b-main-select">
                    <select data-class="select-week">
                      <option default="">Понедельник</option>
                      <option>Вторник</option>
                      <option>Среда</option>
                      <option>Четверг</option>
                      <option>Пятница</option>
                      <option>Суббота</option>
                      <option>Воскресенье</option>
                    </select>
                  </div>
                </div>
                <div class="b-settings-autostart__select b-settings-autostart__select--month">
                  <div class="b-settings-autostart__select-topic">Число:</div>
                  <div class="b-main-select">
                    <select data-class="select-month">
                      <option default="">1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                      <option>6</option>
                      <option>7</option>
                      <option>8</option>
                      <option>9</option>
                      <option>10</option>
                      <option>11</option>
                      <option>12</option>
                      <option>13</option>
                      <option>14</option>
                      <option>15</option>
                      <option>16</option>
                      <option>17</option>
                      <option>18</option>
                      <option>19</option>
                      <option>20</option>
                      <option>21</option>
                      <option>22</option>
                      <option>23</option>
                      <option>24</option>
                      <option>25</option>
                      <option>26</option>
                      <option>27</option>
                      <option>28</option>
                      <option>29</option>
                      <option>30</option>
                      <option>31</option>
                      <option></option>
                    </select>
                  </div>
                </div>
                <div class="b-settings-autostart__input b-settings-autostart__input--ndays">
                  <div class="b-settings-autostart__input-topic">Период в днях (от 1 до 30):</div>
                  <div class="b-main-input">
                    <input class="b-settings-autostart__input-field" data-class="select-ndays" value="1">
                  </div>
                </div>
              </div>
              <div class="b-settings-autostart__period"><span>Следующий запуск:</span><strong class="autostart-date">09.10.17</strong></div>
              <div class="b-settings-autostart__text">
                <p>Наш робот будет автоматически, в указанный вами день, анализировать состояние Вашего проекта и по окончании проверки высылать результаты на почтовый ящик, указанный при регистрации.</p>
                <p>Это позволит Вам обладать актуальной информацией о состоянии Вашего проекта и сэкономить время. По завершению сканирования на почту будут отправлены отчеты.</p>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="b-user-settings__border-middle"></div>

      <div class="b-user-settings__container b-user-settings__container-start">
        <div class="b-user-settings__line b-user-settings__line_start">
            <div class="b-user-settings__line-item">
              <div class="b-user-settings__line-topic b-user-settings__line-topic_start">Запуск</div>
              <div class="b-user-settings__limit-md">Лимит страниц для анализа</div>
              <div class="b-user-settings__index-md">Проверить индексацию</div>
            </div>
            <div class="b-user-settings__line-item">
              <div class="b-user-counts b-user-settings__counts">
                <div class="b-user-counts__top-container">
                  <div class="b-user-counts__top-line b-user-settings__counts-top-line">
                    <div class="b-user-counts__input b-main-input ">
                      <input class="b-user-settings__counts-input" type="text" data-priceindexing="0.03" data-listprice="0.1" data-minimalprice="50" data-limitpage="25">
                    </div>
                    <div class="b-user-counts__number"><span class="b-numb">0</span></div>
                  </div>
                  <div class="b-user-settings__index-xs">Проверить индексацию</div>
                  <div class="b-user-counts__top-line b-user-counts__top-line_yandex b-user-settings__counts-line-yandex">
                    <div class="b-user-counts__checkbox b-main-checkbox">
                      <input type="checkbox" name="remind-pass" id="b-check15">
                      <label for="b-check15">В Яндексе</label>
                    </div>
                    <div class="b-user-counts__checkbox-number"><span class="b-numb">0</span></div>
                  </div>
                  <div class="b-user-counts__top-line">
                    <div class="b-user-counts__checkbox b-main-checkbox">
                      <input type="checkbox" name="remind-pass" id="b-check17">
                      <label for="b-check17">В Google</label>
                    </div>
                    <div class="b-user-counts__checkbox-number b-user-counts__checkbox-number_go"><span class="b-numb">0</span></div>
                  </div>
                </div>
                <div class="b-user-counts__total">
                  <div class="b-user-counts__total-container b-user-settings__counts-total-container">
                    <div class="b-user-counts__total-item-text">Итого</div>
                    <div class="b-user-counts__total-item"><span class="b-numb">0</span></div>
                  </div>
                </div>
                <div class="b-user-counts__date b-user-settings__counts-date">
                  <span class="b-user-settings__counts-date-text">Следующий запуск по расписанию:</span>
                  <strong class="autostart-date b-user-settings__counts-date-numbers">09.10.17</strong></div>
              </div>
            </div>
        </div>
        <div class="b-user-settings__stuff">
          <div class="b-user-counts__notify few-limits">
            <span>Для запуска аудита не хватает лимитов:</span> <strong><span class="limits-amount">500</span>.</strong> <a target="blank" class="buy-limits" href="/settings01.html#buy">Купить лимиты</a> <span>или</span> <a target="blank" href="/settings01.html#start[1]">приобрести подписку</a>
          </div>
          <div class="b-user-counts__notify b-user-counts__notify_login"><span>Для запуска сканирования необходимо</span><a class="js-popup" href="#sign-in">войти или зарегистрироваться.<br></a><span>При регистрации вы получите на счет 250 р. и сможете провести пробный анализ сайта</span></div>
          <div class="b-user-counts__btns">
            <div class="b-user-counts__btn-start b-main-button b-user-settings__counts-btn-start disabled">
            <a class="b-user-counts__btn-start-link b-user-settings__counts-btn-link" href="#">Запустить сканирование</a></div>
            <div class="b-user-counts__btn-save b-main-button b-main-button_white b-user-settings__counts-btn-save">
              <a class="b-user-counts__btn-save-link b-user-settings__counts-btn-link" href="#">Сохранить и запустить позже</a>
            </div>
          </div>
        </div> 

      </div>

    </div>
  </div>

  </section>
{% endblock %}