{% set title = 'Текстовый анализатор' %}
{% set header_logo = "sa" %}
{% set auth = 1 %}
{% set layout = "textraktor-projects" %}
{% set top_h1 = 1 %}

{% extends "marmelad/views/layout/main.njk" %}

{% block content %}
<section class="b-projects b-projects--textraktor">
	<div class="b-projects__container">
		<div class="b-projects__top-wrap">
			<div class="b-projects__btn-new b-main-button"><a href="">Новая задача</a></div>
			<div class="b-projects__search b-main-input">
				<input type="text" placeholder="Найти задачу">
			</div>
		</div>
		<div class="b-projects-table">
			<div class="b-projects-table__top-wrap">
				<div class="b-projects-table__item">Задача</div>
				<div class="b-projects-table__item">Запросов / кластеров</div>
				<div class="b-projects-table__item">Дата / время</div>
				<div class="b-projects-table__item">Действие</div>
				<div class="b-projects-table__item">Резутьтат</div>
				<div class="b-projects-table__item">Опции</div>
			</div>
			<div class="b-projects-table__content">
				<div class="b-projects-table__line">
					<div class="b-projects-table__link">
						<a href="#"><span>ilyagordeev.com</span></a>
					</div>
					<div class="b-projects-table__limit-wrap">
						<div class="b-projects-table__limit">
							<span>125 </span><span>/ 12</span>
						</div>
					</div>
					<!-- - .b-icon_loading , .b-icon_timer, .b-icon_time-->
					<div class="b-projects-table__date">
						<span class="b-icon b-icon_flag"></span><span>22.09.17</span><span>18:00</span>
					</div>
					<div class="b-projects-table__action">
						<a href="#" class="confirm-link">Подтвердить</a>
					</div>
					<div class="b-projects-table__start b-projects-table__start_not">
						<!-- Резутьтат -->
					</div>
					<div class="b-projects-table__options-head">
						<div class="b-projects-table__options js-slide-toggle" data-slidetoggle=".b-projects-table__options-body" data-slidecontext=".b-projects-table__options-head" data-slideeffect="fade" data-thisclass=".b-projects-table__options">
							<div class="b-projects-table__option"></div>
							<div class="b-projects-table__option"></div>
							<div class="b-projects-table__option"></div>
						</div>
						<div class="b-projects-table__options-body">
							<ul>
								<li><a href="#"><span>Перезапустить</span></a></li>
								<li class="b-delete-btn js-magnific"><a href="#b-delete-account2">Удалить задачу</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="b-projects-table__line">
					<div class="b-projects-table__link">
						<a href="#"><span>ilyagordeev.com</span></a>
					</div>
					<div class="b-projects-table__limit-wrap">
						<div class="b-projects-table__limit">
							<span>8 </span><span>/ 1</span>
						</div>
					</div>
					<!-- - .b-icon_loading , .b-icon_timer, .b-icon_time-->
					<div class="b-projects-table__date">
						<span class="b-icon b-icon_loading"></span><span>22.09.17</span><span>18:00</span>
					</div>
					<div class="b-projects-table__action">
						<a href="#">Запустить</a>
					</div>
					<div class="b-projects-table__start b-projects-table__start_not">
						<a href="#"><span class="b-icon b-icon__desktop"></span></a>
						<a href="#"><span class="b-icon b-icon__excel"></span></a>
						<a href="#"><span class="b-icon b-icon__word"></span></a>
					</div>
					<div class="b-projects-table__options-head">
						<div class="b-projects-table__options js-slide-toggle" data-slidetoggle=".b-projects-table__options-body" data-slidecontext=".b-projects-table__options-head" data-slideeffect="fade" data-thisclass=".b-projects-table__options">
							<div class="b-projects-table__option"></div>
							<div class="b-projects-table__option"></div>
							<div class="b-projects-table__option"></div>
						</div>
						<div class="b-projects-table__options-body">
							<ul>
								<li><a href="#"><span>Перезапустить</span></a></li>
								<li class="b-delete-btn js-magnific"><a href="#b-delete-account2">Удалить задачу</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="b-projects-table__line">
					<div class="b-projects-table__link">
						<a href="#"><span>ilya.com</span></a>
					</div>
					<div class="b-projects-table__limit-wrap">
						<div class="b-projects-table__limit">
							<span>36 </span><span>/ 4</span>
						</div>
					</div>
					<!-- - .b-icon_loading , .b-icon_timer, .b-icon_time-->
					<div class="b-projects-table__date">
						<span class="b-icon b-icon_timer"></span><span>22.09.17</span><span>18:00</span>
					</div>
					<div class="b-projects-table__action">
						<span>Подготовка - 50%</span>
					</div>
					<div class="b-projects-table__start b-projects-table__start_not">
						<a href="#"><span class="b-icon b-icon__desktop"></span></a>
						<a href="#"><span class="b-icon b-icon__excel"></span></a>
						<a href="#"><span class="b-icon b-icon__word"></span></a>
					</div>
					<div class="b-projects-table__options-head">
						<div class="b-projects-table__options js-slide-toggle" data-slidetoggle=".b-projects-table__options-body" data-slidecontext=".b-projects-table__options-head" data-slideeffect="fade" data-thisclass=".b-projects-table__options">
							<div class="b-projects-table__option"></div>
							<div class="b-projects-table__option"></div>
							<div class="b-projects-table__option"></div>
						</div>
						<div class="b-projects-table__options-body">
							<ul>
								<li><a href="#"><span>Перезапустить</span></a></li>
								<li class="b-delete-btn js-magnific"><a href="#b-delete-account2">Удалить задачу</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="b-projects-table__line">
					<div class="b-projects-table__link">
						<a href="#"><span>agordeev.com</span></a>
					</div>
					<div class="b-projects-table__limit-wrap">
						<div class="b-projects-table__limit">
							<span>29 </span><span>/ 5</span>
						</div>
					</div>
					<!-- - .b-icon_loading , .b-icon_timer, .b-icon_time-->
					<div class="b-projects-table__date">
						<span class="b-icon b-icon_timer"></span><span>22.09.17</span><span>18:00</span>
					</div>
					<div class="b-projects-table__action">
						<a href="#">Остановить</a>
					</div>
					<div class="b-projects-table__start b-projects-table__start_not">
						<a href="#"><span class="b-icon b-icon__desktop"></span></a>
						<a href="#"><span class="b-icon b-icon__excel"></span></a>
						<a href="#"><span class="b-icon b-icon__word"></span></a>
					</div>
					<div class="b-projects-table__options-head">
						<div class="b-projects-table__options js-slide-toggle" data-slidetoggle=".b-projects-table__options-body" data-slidecontext=".b-projects-table__options-head" data-slideeffect="fade" data-thisclass=".b-projects-table__options">
							<div class="b-projects-table__option"></div>
							<div class="b-projects-table__option"></div>
							<div class="b-projects-table__option"></div>
						</div>
						<div class="b-projects-table__options-body">
							<ul>
								<li><a href="#"><span>Перезапустить</span></a></li>
								<li class="b-delete-btn js-magnific"><a href="#b-delete-account2">Удалить задачу</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="b-projects-table__line">
					<div class="b-projects-table__link">
						<a href="#"><span>gordeev.com</span></a>
					</div>
					<div class="b-projects-table__limit-wrap">
						<div class="b-projects-table__limit">
							<span>14 </span><span>/ 2</span>
						</div>
					</div>
					<!-- - .b-icon_loading , .b-icon_timer, .b-icon_time-->
					<div class="b-projects-table__date">
						<span class="b-icon b-icon_timer"></span><span>22.09.17</span><span>18:00</span>
					</div>
					<div class="b-projects-table__action">
						<a href="#">Остановить</a>
					</div>
					<div class="b-projects-table__start b-projects-table__start_not">
						<a href="#"><span class="b-icon b-icon__desktop"></span></a>
						<a href="#"><span class="b-icon b-icon__excel"></span></a>
						<a href="#"><span class="b-icon b-icon__word"></span></a>
					</div>
					<div class="b-projects-table__options-head">
						<div class="b-projects-table__options js-slide-toggle" data-slidetoggle=".b-projects-table__options-body" data-slidecontext=".b-projects-table__options-head" data-slideeffect="fade" data-thisclass=".b-projects-table__options">
							<div class="b-projects-table__option"></div>
							<div class="b-projects-table__option"></div>
							<div class="b-projects-table__option"></div>
						</div>
						<div class="b-projects-table__options-body">
							<ul>
								<li><a href="#"><span>Перезапустить</span></a></li>
								<li class="b-delete-btn js-magnific"><a href="#b-delete-account2">Удалить задачу</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="b-page-nav">
	    <div class="b-page-nav__container">
	        <div class="b-page-nav__list-wrapper">
	            <a href="#" class="b-page-nav__prev"></a>
	            <ul class="b-page-nav__list">
	                <li><a href="#">1</a></li>
	                <li><a class="ellipsis" href="#">...</a></li>
	                <li><a href="#">4</a></li>
	                <li class="active"><a href="#">5</a></li>
	                <li><a href="#">6</a></li>
	                <li><a class="ellipsis" href="#">...</a></li>
	                <li><a href="#">12</a></li>
	            </ul>
	            <a href="#" class="b-page-nav__next"></a>
	        </div>
	        <div class="b-page-nav__amount">
	            <div class="b-page-nav__amount-title">Элементов:</div>
	            <ul>
	                <li><a href="#">50</a></li>
	                <li class="active"><a href="#">250</a></li>
	                <li><a href="#">500</a></li>
	            </ul>
	        </div>
	    </div>
	</div>
</section>
{% endblock %}