.b-cheking
	
	&__title 
		color: #2F353B
		font-weight: 500
		font-size: 18px
		line-height: 21px
		padding-bottom 30px
	
	&__item 
		padding-bottom 20px
		
		&-header 
			display: flex 
			align-items flex-start 
			justify-content space-between 
			padding-bottom 10px
		
		&-title 
			color: #2F353B;
			font-weight: 500;
			font-size: 15px
			line-height 25px
			flex 1 
			padding-right 20px
		
		&-back 
			font-size 15px
			display inline-flex
			align-items center 
			
			img 
				width 7px
				margin-right 10px	
		
		&-content 
			background-color #FAF7DF 
			padding: 10px 20px 
		
	&__line 
		position relative
		padding: 0 80px 4px 0 
		display: flex
		font-size 15px
		line-height 25px
		color: #2F353B
		
		&--last 
			padding-top 10px
	
		&-name
			width 240px
			padding-right 50px
			display: flex 
			justify-content space-between
			
			span 
				text-align right
				color: #A2AEB7;
				display inline-block
				margin-left 10px
			

		&-content 
			position relative
			flex 1 
		
		&-mark 
			position absolute
			width 16px
			height 16px
			right 100%
			top 3px
			margin-right 8px
		
		&-delete 
			color: #E03632;
			text-decoration none
			right 0
			top 0
			position absolute
	
	&__footer 
		padding-top 15px
		display: flex 
		flex-wrap wrap
		justify-content flex-end 
		
		a, button 
			padding: 15px 30px 
			margin-left 10px