<aside class="b-inreports__aside">
	<div class="b-inreports__aside-switcher" data-action="switcher" data-target=".b-inreports__aside-item">
		<div class="b-inreports__aside-switcher-item">Рекомендации</div>
		<div class="b-inreports__aside-switcher-item active">Ошибки</div>
	</div>
	<div class="b-inreports__aside-item">
		Тест
	</div>
	<div class="b-inreports__aside-item active">
		<div class="b-inreports__aside-menu-wrapper">
			<ul class="b-inreports__aside-menu">
				<li class="b-inreports__aside-menu-item">
					<span class="b-inreports__aside-menu-link critical">Высокая критичность (4)</span>
					<ul class="b-inreports__aside-submenu">
						<li class="b-inreports__aside-submenu-item"><a href="#$" class="b-inreports__aside-submenu-link">Битые ссылки <span class="b-inreports__aside-submenu-link-count">(1 027) 100,00%</span></a></li>
						<li class="b-inreports__aside-submenu-item"><span class="b-inreports__aside-submenu-link active">Дубликаты Description <span class="b-inreports__aside-submenu-link-count">(26) 2,53%</span></span></li>
						<li class="b-inreports__aside-submenu-item"><a href="#$" class="b-inreports__aside-submenu-link">Битый редирект  <span class="b-inreports__aside-submenu-link-count">(714) 69,52%</span></a></li>
						<li class="b-inreports__aside-submenu-item"><a href="#$" class="b-inreports__aside-submenu-link">Редирект, заблокированный в robots.txt <span class="b-inreports__aside-submenu-link-count">(113) 11,00%</span></a></li>
					</ul>
				</li>

				<li class="b-inreports__aside-menu-item">
					<span class="b-inreports__aside-menu-link warning">Средняя критичность (7)</span>
					<ul class="b-inreports__aside-submenu">
						<li class="b-inreports__aside-submenu-item"><a href="#$" class="b-inreports__aside-submenu-link">Отсутвующий или пустой H1 <span class="b-inreports__aside-submenu-link-count">(1 027) 100,00% </span></a></li>
						<li class="b-inreports__aside-submenu-item"><a href="#$" class="b-inreports__aside-submenu-link">3xx редиректы <span class="b-inreports__aside-submenu-link-count">(26) 2,53%</span></a></li>
						<li class="b-inreports__aside-submenu-item"><a href="#$" class="b-inreports__aside-submenu-link">Заблокировано в robots.txt <span class="b-inreports__aside-submenu-link-count">(714) 69,52%</span></a></li>
						<li class="b-inreports__aside-submenu-item"><a href="#$" class="b-inreports__aside-submenu-link">Изображения без атрибута ALT <span class="b-inreports__aside-submenu-link-count">(113) 11,00%</span></a></li>
						<li class="b-inreports__aside-submenu-item"><a href="#$" class="b-inreports__aside-submenu-link">Макс. размер изображения <span class="b-inreports__aside-submenu-link-count">(1 027) 100,00% </span></a></li>
						<li class="b-inreports__aside-submenu-item"><a href="#$" class="b-inreports__aside-submenu-link">5xx ошибки: Server Error <span class="b-inreports__aside-submenu-link-count">(26) 2,53%</span></a></li>
						<li class="b-inreports__aside-submenu-item"><a href="#$" class="b-inreports__aside-submenu-link">Большое время ответа сервера <span class="b-inreports__aside-submenu-link-count">(714) 69,52%</span></a></li>
					</ul>
				</li>

				<li class="b-inreports__aside-menu-item">
					<span class="b-inreports__aside-menu-link low">Низкая критичность (10)</span>
					<ul class="b-inreports__aside-submenu">
						<li class="b-inreports__aside-submenu-item"><a href="#$" class="b-inreports__aside-submenu-link">Кодированные URL <span class="b-inreports__aside-submenu-link-count">(1 027) 100,00% </span></a></li>
						<li class="b-inreports__aside-submenu-item"><a href="#$" class="b-inreports__aside-submenu-link">PageRank: отсутвуют связи <span class="b-inreports__aside-submenu-link-count">(26) 2,53%</span></a></li>
						<li class="b-inreports__aside-submenu-item"><a href="#$" class="b-inreports__aside-submenu-link">Макс. длина Title <span class="b-inreports__aside-submenu-link-count">(714) 69,52%</span></a></li>
						<li class="b-inreports__aside-submenu-item"><a href="#$" class="b-inreports__aside-submenu-link">Короткий Titile <span class="b-inreports__aside-submenu-link-count">(113) 11,00%</span></a></li>
						<li class="b-inreports__aside-submenu-item"><a href="#$" class="b-inreports__aside-submenu-link">Короткий Description <span class="b-inreports__aside-submenu-link-count">(1 027) 100,00% </span></a></li>
						<li class="b-inreports__aside-submenu-item"><a href="#$" class="b-inreports__aside-submenu-link">Макс. размер HTML <span class="b-inreports__aside-submenu-link-count">(26) 2,53%</span></a></li>
						<li class="b-inreports__aside-submenu-item"><a href="#$" class="b-inreports__aside-submenu-link">Мин. соотношение Text/HTML <span class="b-inreports__aside-submenu-link-count">(714) 69,52%</span></a></li>
						<li class="b-inreports__aside-submenu-item"><a href="#$" class="b-inreports__aside-submenu-link">Не HTTPS-протокол <span class="b-inreports__aside-submenu-link-count">(113) 11,00%</span></a></li>
						<li class="b-inreports__aside-submenu-item"><a href="#$" class="b-inreports__aside-submenu-link">Внутрение nofollow ссылки <span class="b-inreports__aside-submenu-link-count">(26) 2,53%</span></a></li>
					</ul>
				</li>
			
				<li class="b-inreports__aside-menu-item">
					<a href="#$" download class="b-inreports__aside-menu-link icon-export">Экспорт данных</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="b-inreports__aside-toggler" data-action="toggle-aside"></div>
</aside>