{% if layout != "report" %}
<footer class="both" id="footer">
	{% if layout != 'authorization' %}
	<nav class="row__menu">
		<div class="container">
			<ul class="social">
				<li><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
				<li><a href=""><i class="fa fa-vk" aria-hidden="true"></i></a></li>
				<li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
				<li><a href=""><i class="fa fa-odnoklassniki" aria-hidden="true"></i></a></li>
				<li><a href=""><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
			</ul>
			<a class="mobile__menu-btn" id="open__fm" href="javascript:;">Меню</a>
			<ul class="footer__menu">
				<li><a href="#">Клиентам</a>
					<ul>
						<li><a href="#">Цены</a></li>
						<li><a href="#">Отзывы</a></li>
						<li><a href="#">Инструменты</a></li>
						<li><a href="#">Технологии</a></li>
						<li><a href="#">Семантика</a></li>
					</ul>
				</li>
				<li><a href="#">О компании</a>
					<ul>
						<li><a href="#">Новости проекта</a></li>
						<li><a href="#">Карта сайта</a></li>
						<li><a href="#">Обратная связь</a></li>
						<li><a href="#">Партнёрам</a></li>
						<li><a href="#">Наши партнёры</a></li>
					</ul>
				</li>
				<li><a href="#">Технологии</a>
					<ul>
						<li><a href="#">Новости проекта</a></li>
						<li><a href="#">Карта сайта</a></li>
						<li><a href="#">Наши партнёры</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</nav>
	{% endif %}
	<div class="row__copyright both">
		<div class="container">
			<p class="left">© СайтРепорт 2011—2017, seo-анализ и аудит сайта онлайн</p>
			<ul class="payments">
				<li><a href="#"><img src="images/icon/visa.svg" alt=""></a></li>
				<li><a href="#"><img src="images/icon/master.svg" alt=""></a></li>
				<li><a href="#"><img src="images/icon/yandex.svg" alt=""></a></li>
			</ul>
			<p class="right"><a class="created-by" href="#">Дизайн — И.Г.<span>Сделано с оптимизмом!</span></a></p>
		</div>
	</div>
</footer>
{% endif %}
<div class="hidden">

    <div id="sign-in">
        <form action="#" method="get" accept-charset="utf-8" novalidate="">
            <h6 class="sign-in__title">Войти</h6>
            <div class="form-item">
                <input class="email" type="email" name="email" value="" placeholder="Email">
            </div>
            <div class="form-item">
                <input class="pass" type="password" name="password" value="" placeholder="Пароль">
            </div>
            <div class="form-item form-item--button">
                <button type="submit" name="send">Войти</button>
            </div>
            <div class="form-item">
                <a class="btn btn-registration js-popup" href="#registration">Регистрация</a>
            </div>
            <span>Забыли пароль? <a class="js-popup" href="#restore-password">Восстановить</a></span>
        </form>
    </div>

    <div id="registration">
        <form action="#" method="get" accept-charset="utf-8" novalidate="">
            <h6 class="sign-in__title">Регистрация</h6>
            <div class="form-item">
                <input id="fname" type="text" name="name" value="" placeholder="Имя">
            </div>
            <div class="form-item">
                <input class="email" type="email" name="email" value="" placeholder="Email">
            </div>
            <div class="form-item">
                <input class="pass" type="password" name="password" value="" placeholder="Пароль">
            </div>
            <div class="form-item b-main-checkbox">
                <input type="checkbox" name="consent" id="b-consent1">
                <label for="b-consent1">Согласен с <a href="#">правилами сервиса</a>
                </label>
            </div>
            <!-- <= form-item -->
            <div class="form-item b-main-checkbox">
                <input type="checkbox" name="consent" id="b-consent2">
                <label for="b-consent2">Согласен на обработку персональных данных в соответствии с <a href="#">правилами</a>
                </label>
            </div>
            <!-- <= form-item -->
            <div class="form-item form-item--button">
                <button type="submit" name="send">Зарегистрироваться</button>
            </div>
            <a class="btn btn-registration js-popup" href="#sign-in">Войти</a>	
        </form>
    </div>

    <div id="restore-password">
        <form action="#" method="get" accept-charset="utf-8" novalidate="">
            <h6 class="sign-in__title">Восстановить пароль</h6>
            <div class="form-item">
                <input class="email" type="email" name="email" value="check@yamdex.ru" placeholder="Email" disabled="true">
            </div>
            <div class="form-item form-item--button">
                <button class="js-popup" href="#password-sent" {# type="submit" #} name="send">Отправить</button>
            </div>
            <a class="btn btn-registration js-popup" href="#sign-in">Войти</a>
        </form>
    </div>

    <div id="register-requisites" class="b-register-requisites b-personal-form__requisites" >

        <form class="b-personal-form-popup">
        
            <div class="b-register-requisites__first-line b-personal-form__line">
                <div class="b-personal-form__requisites-topic">Реквизиты для оплаты</div>
                <div class="b-personal-form__radios b-main-radios">
                <div class="b-main-radios__item ">
                    <input id="b-personal-form__requisites-button-company" type="radio" name="requisites-radio" checked="" data-content="company" >
                    <label for="b-personal-form__requisites-button-company">Как &laquoООО&raquo</label>
                </div>
                <div class="b-main-radios__item ">
                    <input id="b-personal-form__requisites-button-individual" type="radio" name="requisites-radio" data-content="individual" >
                    <label for="b-personal-form__requisites-button-individual">Как &laquoИП&raquo</label>
                </div>
                </div>
            </div>

            <div class="b-personal-form__requisites-content-all b-personal-form__requisites-company">

                <div class="b-personal-form__line">
                <div class="b-personal-form__input-label">Компания</div>
                <div class="b-personal-form__input b-main-input">
                    <input class="b-personal-form__input-company-name" type="text" name="company" value="ООО Баланс" >
                </div>
                </div>

                <div class="b-personal-form__line">
                <div class="b-personal-form__input-label">ИНН</div>
                <div class="b-personal-form__input b-main-input">
                    <input type="text" name="inn" value="1234567890">
                </div>
                </div>

                <div class="b-personal-form__line">
                <div class="b-personal-form__input-label">КПП</div>
                <div class="b-personal-form__input b-main-input">
                    <input type="text" name="kpp" value="123456789">
                </div>
                </div>
                
                <div class="b-personal-form__line">
                <div class="b-personal-form__input-label">Р/с</div>
                <div class="b-personal-form__input b-main-input">
                    <input type="text" name="rs" value="12345678901234567890">
                </div>
                </div>
                    
                <div class="b-personal-form__line">
                <div class="b-personal-form__input-label">К/с</div>
                <div class="b-personal-form__input b-main-input">
                    <input type="text" name="ks" value="12345678901234567890">
                </div>
                </div>
                
                <div class="b-personal-form__line">
                <div class="b-personal-form__input-label">БИК</div>
                <div class="b-personal-form__input b-main-input">
                    <input type="text" name="bik" value="123456789">
                </div>
                </div>
                
                <div class="b-personal-form__line">
                <div class="b-personal-form__input-label">Почтовый адрес</div>
                <div class="b-personal-form__input b-main-input">
                    <textarea class="b-personal-form__input-tall" name="Text1" cols="40" rows="5"></textarea>
                </div>
                </div>

                <div class="b-personal-form__line">
                <div class="b-personal-form__input-label">Юридический адрес</div>
                <div class="b-personal-form__input b-main-input">
                    <textarea class="b-personal-form__input-tall" name="Text1" cols="40" rows="5"></textarea>
                </div>
                </div>

                <div class="b-personal-form__line">
                <div class="b-personal-form__input-label">ОГРН</div>
                <div class="b-personal-form__input b-main-input">
                    <input type="text" class="no-validation">
                </div>
                </div>

                <div class="b-personal-form__line">
                <div class="b-personal-form__input-label">ФИО директора</div>
                <div class="b-personal-form__input b-main-input">
                    <input type="text" class="no-validation">
                </div>
                </div>

            </div>

            <div class="b-personal-form__requisites-content-all b-personal-form__requisites-individual">

                <div class="b-personal-form__line">
                <div class="b-personal-form__input-label">ФИО</div>
                <div class="b-personal-form__input b-main-input">
                    <input class="b-personal-form__input-individual-name" type="text" name="individual-name" value="Bruce Wayne Anderson">
                </div>
                </div>

                <div class="b-personal-form__line">
                <div class="b-personal-form__input-label">ИНН</div>
                <div class="b-personal-form__input b-main-input">
                    <input type="text" name="individual-inn" value="123456789012">
                </div>
                </div>
                
                <div class="b-personal-form__line">
                <div class="b-personal-form__input-label">Р/с</div>
                <div class="b-personal-form__input b-main-input">
                    <input type="text" name="individual-rs" value="12345678901234567890">
                </div>
                </div>
                            
                <div class="b-personal-form__line">
                <div class="b-personal-form__input-label">К/с</div>
                <div class="b-personal-form__input b-main-input">
                    <input type="text" name="individual-ks" value="12345678901234567890">
                </div>
                </div>
                
                
                <div class="b-personal-form__line">
                <div class="b-personal-form__input-label">БИК</div>
                <div class="b-personal-form__input b-main-input">
                    <input type="text" name="individual-bik" value="123456789">
                </div>
                </div>
                            
                <div class="b-personal-form__line">
                <div class="b-personal-form__input-label">Почтовый адрес</div>
                <div class="b-personal-form__input b-main-input">
                    <textarea class="b-personal-form__input-tall" name="Text1" cols="40" rows="5"></textarea>
                </div>
                </div>

                            
                <div class="b-personal-form__line">
                <div class="b-personal-form__input-label">Юридический адрес</div>
                <div class="b-personal-form__input b-main-input">
                    <textarea class="b-personal-form__input-tall" name="Text1" cols="40" rows="5"></textarea>
                </div>
                </div>

                <div class="b-personal-form__line">
                <div class="b-personal-form__input-label">ОГРН</div>
                <div class="b-personal-form__input b-main-input">
                    <input type="text" class="no-validation">
                </div>
                </div>

                
            </div>


            <div class="b-personal-data__btn-wrapper">
                <div class="b-register-requisites__btns">

                    <div class="b-register-requisites__close-btn b-main-button">
                        <a>Отменить</a>
                    </div>

                    <div class="b-register-requisites__save-btn b-main-button">
                        <button type="submit">Сохранить</button>
                    </div>

                </div>
            </div>

        </form>

    </div>


	<div class="b-password-sent" id="password-sent">
		<h6 class="sign-in__title">Пароль отправлен</h6>
		<ol class="b-authorization__list">
			<li>Проверьте почту email@site.ru.</li>
			<li><a class="js-popup" href="#sign-in">Войдите</a> с новым паролем.</li>
		</ol><!-- <= list -->
		<a href="#" class="b-authorization__find">Не можете найти письмо <br>с подтверждением?</a>
		<ol class="b-authorization__list b-authorization__list--hidden">
			<li>Проверьте правильность адреса.</li>
			<li>Проверьте папку Спам.</li>
			<li><a class="js-popup" href="#restore-password">Отправьте запрос ещё раз.</a></li>
			<li>Обратитесь в службу поддержки.</li>
		</ol><!-- <= list -->
	</div>

    <div class="b-delete-account" id="b-delete-account2">
        <div class="b-delete-account__container">
            <div class="b-delete-account__topic">Удалить проект?</div>
            <div class="b-delete-account__aftertopic">Мы не сможем восстановить проект после удаления.</div>
            <div class="b-delete-account__btns">
                <div class="b-delete-account__delete-btn b-main-button b-main-button_white"><a href="#">Удалить</a>
                </div>
                <div class="b-delete-account__cansel-btn b-main-button">
                    <button>Отмена</button>
                </div>
            </div>
        </div>
    </div>
    <div class="promo-ok" id="promo-ok">
        <div class="promo-ok__topic">Промокод успешно активирован</div>
        <div class="promo-ok__text"></div>
        <div class="promo-ok__btn b-main-button b-main-button_white"><a href="#">Хорошо</a>
        </div>
    </div>
    <div class="b-delete-account" id="b-delete-account">
        <div class="b-delete-account__container">
            <div class="b-delete-account__topic">Удалить аккаунт?</div>
            <div class="b-delete-account__aftertopic">Мы уже не сможем восстановить ваш аккаунт после удаления</div>
            <div class="b-delete-account__btns">
                <div class="b-delete-account__delete-btn b-main-button b-main-button_white"><a href="#">Удалить</a>
                </div>
                <div class="b-delete-account__cansel-btn b-main-button">
                    <button>Отмена</button>
                </div>
            </div>
        </div>
    
    </div>
    
    <div class="b-delete-account" id="b-delete-requisites">
        <div class="b-delete-account__container">
            <div class="b-delete-account__topic">Удалить реквизиты?</div>
            <div class="b-delete-account__aftertopic">Если реквизиты устарели, исправьте старые и сохраните изменения.</div>
            <div class="b-delete-account__btns">
                <div class="b-delete-account__delete-btn-requisites b-main-button b-main-button_white"><a>Удалить</a>
                </div>
                <div class="b-delete-account__cansel-btn b-main-button">
                    <button>Отмена</button>
                </div>
            </div>
        </div>
    </div>


</div>