/* b-challane-check--calculator */
/*========================*/
.b-challane-check--calculator
		
	.b-challane-check

		&__reports-add
			text-decoration none
			border-bottom 1px dashed currentColor
			line-height 1.2
			
			&:hover 
				border-bottom-color transparent
				text-decoration none