{% for table in tableblock.list %}
	<div block="b-reports-table" mods="{{tableblock.mod}}">
		<div elem="item" mods="title">
			<div elem="name">
				{% if tableblock.mod != 'task' %}
					<div elem="item-mark"></div><!-- <= item-mark -->
				{% endif %}
				{{table.name}}
			</div><!-- <= name -->
			{% if not tableblock.hideItem %}
				<div elem="stat">{% if loop.index == 1 %}Wordstat{% endif %}</div><!-- <= stat -->
				<div elem="mark">Т</div><!-- <= mark -->
				<div elem="mark">С</div><!-- <= mark -->
			{% endif %}
			<div elem="mark">П</div><!-- <= mark -->
		</div><!-- <= item -->
		{% for item in table.list %}
			<div elem="item"{% if item.class %} class="{{item.class}}"{% endif %}>
				<div elem="name">
					{% if item.bg and tableblock.mod != 'task' %}
						<div elem="item-mark" style="background-color:#{{item.bg}};"></div><!-- <= item-mark -->
					{% endif %}
					{{item.name}}
				</div><!-- <= name -->
				{% if tableblock.crazy %}
					<div elem="stat">{{item.stat}}</div><!-- <= stat -->
					{% for e in item.bg2 %}
						<div class="b-reports-table__mark">
							<div{% if e.bg %} class="{{e.bg}}"{% endif %}>{{e.title}}</div>
						</div>
					{% endfor %}
				{% else %}
					{% if not tableblock.hideItem %}
						<div elem="stat">{{item.stat}}</div><!-- <= stat -->
						<div elem="mark">
							{% if tableblock.input %}
								<input type="text" {% if item.bg2 %} class="{% if item.bg2 == 'F4C3C7' %}red{% elseif item.bg2 == 'C4F3C6' %}green{% endif %}"{% endif %} placeholder="—" value="1">
							{% else %}		
								<div {% if item.bg2 %} class="{% if item.bg2 == 'F4C3C7' %}red{% elseif item.bg2 == 'C4F3C6' %}green{% endif %}"{% endif %}>1</div>
							{% endif %}	
						</div><!-- <= mark -->
						<div elem="mark" mods="no">
							{% if tableblock.input %}
								<input type="text" {% if item.bg2 %} class="{% if item.bg2 == 'F4C3C7' %}red{% elseif item.bg2 == 'C4F3C6' %}green{% endif %}"{% endif %} placeholder="—">
							{% else %}		
								<div {% if item.bg2 %} class="{% if item.bg2 == 'F4C3C7' %}red{% elseif item.bg2 == 'C4F3C6' %}green{% endif %}"{% endif %}>1</div>
							{% endif %}	
						</div><!-- <= mark -->
					{% endif %}
					<div elem="mark" mods="no">
						{% if tableblock.input %}
							<input type="text" {% if item.bg2 %} class="{% if item.bg2 == 'F4C3C7' %}red{% elseif item.bg2 == 'C4F3C6' %}green{% endif %}"{% endif %} placeholder="—">
						{% else %}		
							<div {% if item.bg2 %} class="{% if item.bg2 == 'F4C3C7' %}red{% elseif item.bg2 == 'C4F3C6' %}green{% endif %}"{% endif %}>1</div>
						{% endif %}	
					</div><!-- <= mark -->
				{% endif %}
				{% if tableblock.extra %}
					<a elem="item-delete" href="#">удалить</a><!-- <= item-delete -->
				{% endif %}
			</div><!-- <= item -->
		{% endfor %}

		{% if table.list2 or tableblock.extra %}
			<div elem="add">
				{% if table.list2 %}
					<a href="#" elem="more" data-open="Ключи без вхождения" data-close="Скрыть ключи без вхождения"></a><!-- <= more -->
				{% else %}
					<span></span>
				{% endif %}
				{% if tableblock.extra %}
					<a elem="add-item" href="#">Добавить ключ</a><!-- <= add-item -->
				{% endif %}
			</div><!-- <= add -->
		{% endif %}

		{% if table.list2 %}
			<div elem="hidden">
				{% for item in table.list2 %}
					<div elem="item">
						<div elem="name">
							{% if tableblock.mod != 'task' %}
								<div elem="item-mark"></div><!-- <= item-mark -->
							{% endif %}
							{{item.name}}
						</div><!-- <= name -->
						<div elem="stat">{{item.stat}}</div><!-- <= stat -->
						<div elem="mark"></div><!-- <= mark -->
						<div elem="mark"></div><!-- <= mark -->
						<div elem="mark"></div><!-- <= mark -->
						{% if tableblock.extra %}
							<a elem="item-delete" href="#" mods="without-entry">удалить</a><!-- <= item-delete -->
							<a elem="item-add" href="#">добавить</a><!-- <= item-add -->
						{% endif %}
					</div><!-- <= item -->
				{% endfor %}    
			</div><!-- <= hidden -->                                        
		{% endif %}
		{% if table.extra2 %}
			<div elem="item" mods="use">
				<div elem="name">
					<div elem="item-mark" style="background-color:#9B78C3;"></div><!-- <= item-mark -->
					Использовать тематич. слова
				</div><!-- <= name -->
				<div elem="note-wrapper">
					<span elem="note">привкус гари</span><!-- <= note -->
					<span elem="note" class="js-active">отдает гарью</span><!-- <= note -->
					<span elem="note" class="js-active">неправильная намотка</span><!-- <= note -->
					<span elem="note">густая жидкость</span><!-- <= note -->
					<span elem="note" class="js-active">сменные испарители</span><!-- <= note -->
				</div><!-- <= note-wrapper -->
			</div><!-- <= item -->
		{% endif %}
	</div><!-- /b-reports-table -->
{% endfor %}
