.b-reports-select
    display: flex 
    align-items center 
    
    &:not(.b-reports-select--task)
        max-width 1300px
        padding-bottom 10px
        
        .b-reports-select
            
            &__content 
                min-width 540px
    
    &__button 
        font-size 0
        min-width 32px
        width 32px
        height 32px
        display: inline-flex 
        align-items center 
        justify-content center 
        
        img 
            width 12px

        &--prev 
            margin-right 10px
        
        &--next 
            margin-left 10px
    
    
    &--task 
        padding-bottom 14px
        
        .b-reports-select
            
            &__content 
                width 60%
                flex 1
    
    &-list 
        padding: 0 42px
        display none
        
        &__item 
            position relative
            padding: 0 0 10px 50px 
            
            &:before 
                content attr(data-tag)
                display block
                text-transform uppercase
                position absolute
                left 0
                top 0  
            
            &[data-tag="H1"]
                font-size 18px
            
            &[data-tag="H2"]
                font-size 15px
            
            &[data-tag="H3"]
                font-size 13px      

.b-reports-tabs
    max-width 1300px
    display: flex 
    padding-left 40px
    overflow hidden
    padding-top 10px
    
    a 
        height 50px
        display flex 
        justify-content center 
        flex-direction column 
        color: #2F353B
        font-size: 15px
        line-height: 18px
        text-decoration none
        padding: 0 40px
        
        &.js-active 
            box-shadow 0 0 10px 0 rgba(162,174,183,0.2)
            background-color #fff
            border-radius 5px 5px 0 0
            
            &:after 
                border-color transparent
        
        &:after 
            content ''
            display block
            border-top: 1px dashed #2F353B
                
.b-reports-tabs-block
    display none
    max-width 1300px
    
