<form action="#" block="b-task">
	<div elem="content">
		<div elem="content-item" mods="left">
			<div elem="item">
				<div elem="item-title" mods="bold">Типы задания</div><!-- <= item-title -->
				<div elem="item-content">
					<div elem="select" class="b-main-select">
						<select name="reports-select">
							<option>Новый текст</option>
							<option>Новый текст на основе существующего</option>
							<option>Добавление ключевых слов</option>
						</select>
					</div><!-- <= content -->
				</div><!-- <= item-content -->
			</div><!-- <= item -->
			<div elem="item">
				<div elem="item-title" mods="bold">Назначение (URL)</div><!-- <= item-title -->
				<div elem="item-content">
					<input type="text" name="function-url">
				</div><!-- <= item-content -->
			</div><!-- <= item -->
			<div elem="item">
				<div elem="item-title" mods="bold">Объем</div><!-- <= item-title -->
				<div elem="item-content" mods="several">
					<input type="text" name="size-amount1">
					<div elem="item-text">до</div><!-- <= item-text -->
					<input type="text" name="size-amount2">
					<div elem="item-text">символов с пробелами</div><!-- <= item-text -->
				</div><!-- <= item-content -->
			</div><!-- <= item -->
			<div elem="item">
				<div elem="item-title" mods="bold">Примечание</div><!-- <= item-title -->
				<div elem="item-content">
					<textarea name="note" cols="30" rows="9"></textarea>
				</div><!-- <= item-content -->
			</div><!-- <= item -->
			<div elem="item" mods="full">
				<div elem="item-title">
					<div elem="checkbox" class="b-main-checkbox">
						<input type="checkbox" name="block" id="b-check1" checked="checked">
						<label for="b-check1">Добавить в ТЗ ссылки на примеры</label>
					</div>
					<div elem="item-note">(по умолчанию по ним проведен анализ)</div><!-- <= item-note -->
				</div><!-- <= item-title -->
				<div elem="item-content">
					<textarea name="add-links" cols="30" rows="9"></textarea>
				</div><!-- <= item-content -->
			</div><!-- <= item -->
		</div><!-- <= content-item -->
		<div elem="content-item" mods="right">
			<div elem="buttons">
				<div elem="save" class="b-main-button b-main-button_white">
					<a href="#">Сохранить</a>
				</div>
				<div elem="download" class="b-main-button">
					<a href="#">Скачать ТЗ</a>
				</div>
				<div elem="buttons-text">
					Cсылка для проверки ТЗ  в калькуляторе: <br>
					<a href="#">http://textraktor.element.ru/calculator/id58454448464</a>
				</div><!-- <= buttons-text -->
			</div>
		</div><!-- <= content-item -->
	</div><!-- <= content -->
	<div elem="content">
		<div elem="content-item" mods="left">
			<div elem="item" mods="full">
				<div elem="item-title" mods="big">Ключевые слова для заголовков</div><!-- <= item-title -->
			</div><!-- <= item -->
			<div elem="item" mods="no-title">
				<div elem="item-title">
					<div elem="checkbox" class="b-main-checkbox">
						<input type="checkbox" name="block" id="b-check2" checked="checked">
						<label for="b-check2"></label>
					</div>
				</div><!-- <= item-title -->
				<div elem="item-content">
					{% set tableblock = tztable1 %}
					{% include 'reports-table.html' %}
				</div><!-- <= item-content -->
			</div><!-- <= item -->
			<div elem="item" mods="no-title">
				<div elem="item-title">
					<div elem="checkbox" class="b-main-checkbox">
						<input type="checkbox" name="block" id="b-check3" checked="checked">
						<label for="b-check3"></label>
					</div>
				</div><!-- <= item-title -->
				<div elem="item-content">
					{% set tableblock = tztable2 %}
					{% include 'reports-table.html' %}
				</div><!-- <= item-content -->
			</div><!-- <= item -->
			<div elem="item" mods="full">
				<div elem="item-title" mods="big">
					<div elem="checkbox" class="b-main-checkbox">
						<input type="checkbox" name="block" id="b-check4" checked="checked">
						<label for="b-check4">Структура текста</label>
					</div>
				</div><!-- <= item-title -->
				<div elem="item-content">
					<textarea name="add-links" cols="30" rows="9"></textarea>
				</div><!-- <= item-content -->
			</div><!-- <= item -->
		</div><!-- <= content-item -->
		<div elem="content-item" mods="right">
			<div block="b-reports-select" mods="task">
				<a elem="button" href="#" mods="prev"><img src="images/icon/arrow-left.svg" alt=""></a><!-- <= button -->
				<div elem="content" class="b-main-select">
					<select name="task-select-list" data-class="select-list">
						<option>Электронная сигарета и гарь , или что делать когда VAPE отдает гарью?</option>
						<option>Электронная сигарета 1</option>
						<option>Электронная сигарета 2</option>
						<option>Электронная сигарета 3</option>
					</select>
				</div><!-- <= content -->
				<a elem="button" href="#" mods="next"><img src="images/icon/arrow-right.svg" alt=""></a><!-- <= button -->
			</div><!-- /b-reports-select -->
			<div block="b-reports-select-list" style="display: block;">
				<div elem="item" data-tag="H1">
					Электронная сигарета и гарь , или что делать когда VAPE отдает гарью?
				</div><!-- <= item -->
				<div elem="item" data-tag="H2">
					Электронная сигарета и гарь , или что делать когда VAPE отдает гарью?
				</div><!-- <= item -->
				<div elem="item" data-tag="H3">
					Электронная сигарета и гарь , или что делать когда VAPE отдает гарью?
				</div><!-- <= item -->
				<div elem="item" data-tag="H2">
					Электронная сигарета и гарь , или что делать когда VAPE отдает гарью?
				</div><!-- <= item -->
				<div elem="item" data-tag="H3">
					Электронная сигарета и гарь , или что делать когда VAPE отдает гарью?
				</div><!-- <= item -->
			</div><!-- /b-reports-select-list -->
			<div block="b-reports-select-list">
				<div elem="item" data-tag="H1">
					Электронная сигарета 1
				</div><!-- <= item -->
			</div><!-- /b-reports-select-list -->
			<div block="b-reports-select-list">
				<div elem="item" data-tag="H1">
					Электронная сигарета 2
				</div><!-- <= item -->
			</div><!-- /b-reports-select-list -->
			<div block="b-reports-select-list">
				<div elem="item" data-tag="H1">
					Электронная сигарета 3
				</div><!-- <= item -->
			</div><!-- /b-reports-select-list -->
		</div><!-- <= content-item -->
	</div><!-- <= content -->
	<div elem="content">
		<div elem="content-item" mods="left">
			<div elem="item" mods="no-title">
				<div elem="item-title">
					<div elem="checkbox" class="b-main-checkbox">
						<input type="checkbox" name="block" id="b-check5" checked="checked">
						<label for="b-check5"></label>
					</div>
				</div><!-- <= item-title -->
				<div elem="item-content">
					<label elem="item-content-title" for="b-check5">Основные ключевые слова</label>
					{% set tableblock = tztable3 %}
					{% include 'reports-table.html' %}
				</div><!-- <= item-content -->
			</div><!-- <= item -->
			<div elem="item" mods="no-title">
				<div elem="item-title">
					<div elem="checkbox" class="b-main-checkbox">
						<input type="checkbox" name="block" id="b-check7" checked="checked">
						<label for="b-check7"></label>
					</div>
				</div><!-- <= item-title -->
				<div elem="item-content">
					<label elem="item-content-title" for="b-check7">Дополнительные ключевые слова</label>
					{% set tableblock = tztable4 %}
					{% include 'reports-table.html' %}
				</div><!-- <= item-content -->
			</div><!-- <= item -->
		</div><!-- <= content-item -->
		<div elem="content-item" mods="right">
			<div elem="item" mods="full">
				<div elem="item-title" mods="justify">
					<div elem="checkbox" class="b-main-checkbox">
						<input type="checkbox" name="block" id="b-check6" checked="checked">
						<label for="b-check6">Добавить в текст тематические слова</label>
					</div>
					<div block="b-task-tabs">
						<a href="#tab1">Монограммы</a>
						<a href="#tab2">Биграммы</a>
						<a href="#tab3" class="js-active">Триграммы</a>
					</div><!-- <= tabs -->
				</div><!-- <= item-title -->
				<div elem="item-content">
					<div block="b-task-word">
						<div elem="content" mods="selected">
							<textarea elem="content-inner"></textarea><!-- <= content-inner -->
						</div><!-- <= content -->
						<div elem="content" mods="list">
							<div elem="content-inner">
								<div elem="item" mods="title">
									<div elem="item-title">
										<span>Фраза</span>
									</div><!-- <= item-title -->
									<div elem="item-number">N</div><!-- <= item-number -->
								</div><!-- <= item -->
								<div elem="inner" class="b-task-tabs-block" id="tab1">
									<div elem="item">
										<div class="js-selected" elem="item-title">
											<div elem="item-title-inner" data-text="сигарета">
												<span>сигарета</span>
											</div><!-- <= item-title-inner -->
										</div><!-- <= item-title -->
										<div elem="item-number">1</div><!-- <= item-number -->
									</div><!-- <= item -->
									<div elem="item">
										<div class="js-selected" elem="item-title">
											<div elem="item-title-inner" data-text="гарь">
												<span>гарь</span>
											</div><!-- <= item-title-inner -->
										</div><!-- <= item-title -->
										<div elem="item-number">2</div><!-- <= item-number -->
									</div><!-- <= item -->
									<div elem="item">
										<div elem="item-title">
											<div elem="item-title-inner" data-text="электронные сигареты электронные сигареты">
												<span>электронные сигареты электронные сигареты</span>
											</div><!-- <= item-title-inner -->
										</div><!-- <= item-title -->
										<div elem="item-number">3</div><!-- <= item-number -->
									</div><!-- <= item -->
									<div elem="item">
										<div class="js-selected" elem="item-title">
											<div elem="item-title-inner" data-text="привкус гари">
												<span>привкус гари</span>
											</div><!-- <= item-title-inner -->
										</div><!-- <= item-title -->
										<div elem="item-number">4</div><!-- <= item-number -->
									</div><!-- <= item -->
									<div elem="item">
										<div class="js-selected" elem="item-title">
											<div elem="item-title-inner" data-text="вкуса гари">
												<span>вкуса гари</span>
											</div><!-- <= item-title-inner -->
										</div><!-- <= item-title -->
										<div elem="item-number">5</div><!-- <= item-number -->
									</div><!-- <= item -->
									<div elem="item">
										<div class="js-selected" elem="item-title">
											<div elem="item-title-inner" data-text="отдает гарью">
												<span>отдает гарью</span>
											</div><!-- <= item-title-inner -->
										</div><!-- <= item-title -->
										<div elem="item-number">6</div><!-- <= item-number -->
									</div><!-- <= item -->
									<div elem="item">
										<div class="js-selected" elem="item-title">
											<div elem="item-title-inner" data-text="слишком густой">
												<span>слишком густой</span>
											</div><!-- <= item-title-inner -->
										</div><!-- <= item-title -->
										<div elem="item-number">7</div><!-- <= item-number -->
									</div><!-- <= item -->
									<div elem="item">
										<div class="js-selected" elem="item-title">
											<div elem="item-title-inner" data-text="новому испарителю">
												<span>новому испарителю</span>
											</div><!-- <= item-title-inner -->
										</div><!-- <= item-title -->
										<div elem="item-number">8</div><!-- <= item-number -->
									</div><!-- <= item -->
									<div elem="item">
										<div class="js-selected" elem="item-title">
											<div elem="item-title-inner" data-text="неправильная намотка">
												<span>неправильная намотка</span>
											</div><!-- <= item-title-inner -->
										</div><!-- <= item-title -->
										<div elem="item-number">9</div><!-- <= item-number -->
									</div><!-- <= item -->
								</div><!-- <= tabs-block -->
								<div elem="inner" class="b-task-tabs-block" id="tab2">
									<div elem="item">
										<div elem="item-title">
											<div elem="item-title-inner" data-text="сигаретный дым">
												<span>сигаретный дым</span>
											</div><!-- <= item-title-inner -->
										</div><!-- <= item-title -->
										<div elem="item-number">5</div><!-- <= item-number -->
									</div><!-- <= item -->
								</div><!-- <= tabs-block -->
								<div elem="inner" class="b-task-tabs-block" style="display: block;" id="tab3">
									<div elem="item">
										<div elem="item-title">
											<div elem="item-title-inner" data-text="гари в электронной сигарете">
												<span>гари в электронной сигарете</span>
											</div><!-- <= item-title-inner -->
										</div><!-- <= item-title -->
										<div elem="item-number">1</div><!-- <= item-number -->
									</div><!-- <= item -->
									<div elem="item">
										<div class="js-selected" elem="item-title">
											<div elem="item-title-inner" data-text="почему горчит электронная">
												<span>почему горчит электронная</span>
											</div><!-- <= item-title-inner -->
										</div><!-- <= item-title -->
										<div elem="item-number">2</div><!-- <= item-number -->
									</div><!-- <= item -->
									<div elem="item">
										<div class="js-selected" elem="item-title">
											<div elem="item-title-inner" data-text="электронная сигарета отдает">
												<span>электронная сигарета отдает</span>
											</div><!-- <= item-title-inner -->
										</div><!-- <= item-title -->
										<div elem="item-number">3</div><!-- <= item-number -->
									</div><!-- <= item -->
									<div elem="item">
										<div class="js-selected" elem="item-title">
											<div elem="item-title-inner" data-text="вкуса гари в электронной">
												<span>вкуса гари в электронной</span>
											</div><!-- <= item-title-inner -->
										</div><!-- <= item-title -->
										<div elem="item-number">4</div><!-- <= item-number -->
									</div><!-- <= item -->
									<div elem="item">
										<div class="js-selected" elem="item-title">
											<div elem="item-title-inner" data-text="электронной сигареты в атомайзере">
												<span>электронной сигареты в атомайзере</span>
											</div><!-- <= item-title-inner -->
										</div><!-- <= item-title -->
										<div elem="item-number">444</div><!-- <= item-number -->
									</div><!-- <= item -->
									<div elem="item">
										<div elem="item-title">
											<div elem="item-title-inner" data-text="заменить атомайзер или испаритель">
												<span>заменить атомайзер или испаритель</span>
											</div><!-- <= item-title-inner -->
										</div><!-- <= item-title -->
										<div elem="item-number">5</div><!-- <= item-number -->
									</div><!-- <= item -->
									<div elem="item">
										<div class="js-selected" elem="item-title">
											<div elem="item-title-inner" data-text="сожалению иногда такое бывает">
												<span>сожалению иногда такое бывает</span>
											</div><!-- <= item-title-inner -->
										</div><!-- <= item-title -->
										<div elem="item-number">6</div><!-- <= item-number -->
									</div><!-- <= item -->
									<div elem="item">
										<div elem="item-title">
											<div elem="item-title-inner" data-text="возможных причин">
												<span>возможных причин</span>
											</div><!-- <= item-title-inner -->
										</div><!-- <= item-title -->
										<div elem="item-number">77</div><!-- <= item-number -->
									</div><!-- <= item -->
								</div><!-- <= tabs-block -->
							</div><!-- <= content-inner -->
						</div><!-- <= content -->
					</div><!-- <= word -->
				</div><!-- <= item-content -->
			</div><!-- <= item -->
		</div><!-- <= content-item -->
	</div><!-- <= content -->
</form><!-- /b-task -->


