.b-statistics
	color: #2F353B
	font-size 15px
	line-height 25px
	margin-bottom 40px
	
	&__title 
		padding-bottom 10px
		
		.b-main-checkbox
			margin: 10px 0 4px 26px
			line-height 20px
		
		&-inner
			font-size 30px
			line-height 36px

	
	&__table 
		overflow: hidden
		position: relative
		
		&--hidden 
			display none
			color #A2AEB7
			
			& + .b-statistics__table
				margin-top 20px
			
			.b-statistics__table-item
				padding-top 0

		table 
			empty-cells: show
			table-layout: auto
			width 100%
			border-collapse: collapse
			background-color: #fff
			
			th
				font-weight 400
				position relative
				
				&:first-child
					padding-left 0
				
				&:before 
					content attr(data-percent)
					display block
					position absolute
					bottom 100%
					color: #A2AEB7
					left 0
					right 0
					text-align center
					margin-bottom -8px
					font-size 13px
			
			td, th 
				min-width 120px
				text-align center
				padding: 10px
				border-bottom 1px solid #F6F8FA
				
				&:first-child 
					min-width 300px
					width 300px
					max-width 300px
					text-align: left
					border-radius 3px 0 0 3px 
				
				&:last-child 
					border-radius 0 3px 3px 0
				
				&.big 
					font-size 18px
					
					span 
						color #a2aeb7
				
				&.opacity
					color: #A2AEB7
				
				&.align-right
					text-align right
					min-width 90px
					max-width 90px
			
			tr:not(.description)
				&:hover, &.js-hover 
					td 
						background-color #F7F9DB
				
				&.description
					color: #A2AEB7
				
				&.small
					td 
						padding-top 0
						padding-bottom 0
						border-bottom none
						font-size 13px
						
			.table-mark 
				display inline-flex
				width 30px
				height 30px
				align-items center 
				justify-content center 
				text-align center
				border-radius: 3px
				
				&.js-hover 
					background-color: #F2EFD0
				
				&--no 
					color: #A2AEB7	
		
		&-item 
			padding-top 20px
			
			&--original
				overflow hidden
		
			&--fake
				overflow-x: auto
				overflow-y: hidden
				position: absolute
				right: 0
				top: 0
			
