<div block="b-site-content">
	<div elem="inner" mods="challenge-check">
		<div block="b-challane-check">
			<div elem="task-button">
				<a href="#">Задание</a>
			</div><!-- <= task-button -->
			<div elem="content" mods="task">
				{% for item in checkText %}
					<div elem="text">
						<div elem="text-title">{{item.title}}</div><!-- <= text-title -->
						<div elem="text-content">{{item.text}}</div><!-- <= text-content -->
					</div><!-- <= text -->
				{% endfor %}
			</div><!-- <= content -->
			{#
			<div elem="content" mods="right">
				<div elem="settings">
					<div elem="download" class="b-main-button">
						<a href="#">Скачать текст</a>
	                </div>
					<div elem="checkbox" class="b-main-checkbox">
						<input type="checkbox" name="block" id="b-check1" checked="checked">
						<label for="b-check1">Задание и ключевики</label>
					</div>
					<div elem="checkbox" class="b-main-checkbox">
						<input type="checkbox" name="block" id="b-check2" checked="checked">
						<label for="b-check2">Подсветку слов</label>
					</div>
					<div elem="checkbox" class="b-main-checkbox">
						<input type="checkbox" name="block" id="b-check3" checked="checked">
						<label for="b-check3">html разметку</label>
					</div>
				</div><!-- <= settings -->
			</div><!-- <= content -->
			#}
			<div elem="content" mods="left">
				<div elem="editor">
					<div elem="editor-header">
						<div elem="editor-title">Текст</div><!-- <= editor-title -->
						<a elem="editor-clear" href="#">Очистить</a><!-- <= editor-clear -->
						<div elem="download">
							<a href="#" elem="download-link">Скачать</a>
							<div elem="download-content">
								<div class="b-main-checkbox">
									<input type="checkbox" name="block" checked="checked" id="download1">
									<label for="download1">Задание и ключевики</label>
								</div>
								<div class="b-main-checkbox">
									<input type="checkbox" name="block" checked="checked" id="download2">
									<label for="download2">Подсветка вхождений</label>
								</div>
								<div class="b-main-checkbox">
									<input type="checkbox" name="block" checked="checked" id="download3">
									<label for="download3">HTML-разметка</label>
								</div>
							</div><!-- <= download-content -->
						</div><!-- <= download -->
					</div><!-- <= editor-header -->
					<textarea name="editor" cols="30" rows="10"></textarea>
					<div elem="line">
						<div elem="line-item">Объем: 2500  сим.</div><!-- <= line-item -->
						<div elem="line-item">Слов: 86</div><!-- <= line-item -->
						<div elem="line-item">Уник. лемм: 73</div><!-- <= line-item -->
						<div elem="line-item">Предложений: 8</div><!-- <= line-item -->
						<div elem="line-item">Индекс Ганнинга: 10</div><!-- <= line-item -->
						<div elem="line-item">Индекс Флеша: 29</div><!-- <= line-item -->
					</div><!-- <= line -->
				</div><!-- <= editor -->
			</div><!-- <= content -->
			<div elem="content" mods="right">
				<div elem="info">
					{#
					<div class="b-task__item">
						<div class="b-task__item-content b-task__item-content--several">
							<div class="b-task__item-text">Объем от</div><!-- <= item-text -->
							<input type="text" name="size-amount1">
							<div class="b-task__item-text">до</div><!-- <= item-text -->
							<input type="text" name="size-amount2">
							<div class="b-task__item-text">символов с пробелами</div><!-- <= item-text -->
						</div><!-- <= item-content -->
					</div>
					#}								
					<div elem="info-title">
						<div elem="info-title-text">Ключевые слова</div><!-- <= info-title-text -->
							<div elem="checkbox" class="b-main-checkbox">
							<input type="checkbox" name="block" id="b-info1" checked="checked">
							<label for="b-info1">показать разницу</label>
						</div>
					</div><!-- <= info-title -->
					{% set tableblock = checkTable %}
					{% include 'reports-table.html' %}
				</div><!-- <= info -->
			</div><!-- <= content -->
		</div><!-- /b-challane-check -->
	</div><!-- <= inner -->
</div>


