= yaml =
pageTitle: О проекте
bodyMods: prices
bodyClasses: ''
scrollFixClasses: ''
contentClasses: 'container'
asideLeft: false
asideRight: false
layout: !!map
  header    : no_auth
  profile   : true
  topic     : true
= yaml =

{% extends '_layout.html' %}

{% block main %}
<div class="b-prices__container">
  <section>
    <div class="main-container">
      <div class="main-wrapper">
        <div class="main-content main-block">
          <h2>Полный отчет о сайте</h2>
          <p>
            Saitreport.ru - это сервис, предоставляющий пользователю инструмент диагностики внутренних и внешних факторов с целью оптимизации сайт
          </p>
          <p>
            Профессионалы знают, что поисковое продвижение сайтов – работа сложная. SEО-специалист должен обладать не только знаниями, но и усидчивостью, чтобы уметь найти даже мелкие ошибки. Сервис Saitreport.ru был создан специально для оптимизаторов, маркетологов и владельцев порталов – всех тех, кому важны самые высокие показатели в поисковых системах
          </p>
          <h3>Другие достоинства Saitreport:</h3>
          <ul>
            <li>Полная автоматизация процесса, что экономит ваше время.</li>
            <li>Быстрая регистрация, несколько кликов – и итоги анализа перед вами на экране.</li>
            <li>Диагностика огромного количества параметров сайта.</li>
            <li>В результате диагностики вы получите в совершенстве детализированный отчет.</li>
            <li>Возможность выбора между бесплатной и платной диагностикой.</li>
          </ul>
          <h2>Saitreport.ru сократит ваши расходы на закупку ссылок</h2>
          <p>
            Отдельным преимуществом Saitreport.ru является сокращение ссылочных бюджетов в будущем. Многие оптимизаторы забывают, что закупка ссылок – только часть процесса на пути попадания в топ. Отчеты сервиса доказывают им, что грамотно выстроенный сайт, без ошибок, с отличным контентом станет лидером во много раз быстрее.
          </p>
          <img src="/images/test-image.jpg" alt="">
          <div class="image-title">Картинка в тексте</div>
          <h2>Как работает Saitreport.ru?</h2>
          <ol>
            <li>Механизм диагностики надежен и точен, так как сервис имитирует поведение поискового робота. Saitreport.ru был создан компанией «Оптимизм.ру» - одним из лидеров SEO-продвижения в Рунете.</li>
            <li>Подобная система диагностики не случайно появилась в «Оптимизме». Компания на рынке уже 12 лет, в течение которых помогла порталам самых разных размеров добиться высших позиций в поисковых системах.</li>
            <li>Таким образом, «Оптимизм.ру» знаком с поисковыми роботами и методами продвижения в Яндекс, Google и иных поисковиках «лично». Saitreport.ru – простой и важный шаг на пути выхода в топ.</li>
          </ol>
          <h2 class="centered">
            Наши парнеры
          </h2>
          <div class="banners-list">
            <a href="#" class="banner">
              <div class="banner__logo">
                <img src="/images/optimism-logo.svg" alt="">
              </div>
              <div class="banner__title">Агентство интернет-рекламы</div>
              <div class="banner__description">Все, что может потребоваться вашему бизнесу для развития в сети.</div>
            </a>
            <a href="#" class="banner">
              <div class="banner__logo">
                <img src="/images/majesctic-logo.svg" alt="">
              </div>
              <div class="banner__title">Аналитика обратных ссылок</div>
              <div class="banner__description">Полный список обратных ссылок на домен с анкорами, адресами доноров и акцепторов.</div>
            </a>
            <a href="#" class="banner">
              <div class="banner__logo">
                <img src="/images/spywords-logo.svg" alt="">
              </div>
              <div class="banner__title">Аналитика поисковых запросов</div>
              <div class="banner__description">Самая обширная в Рунете база данных позиций доменов конкурентов. </div>
            </a>
            <a href="#" class="banner">
              <div class="banner__logo">
                <img src="/images/ws-logo.svg" alt="">
              </div>
              <div class="banner__title">Ускорение и защита сайта</div>
              <div class="banner__description">
                1. CDN и Веб-файрвол <br>
                2. Резервирование и контроль <br>
                3. Внешний мониторинг.
              </div>
            </a>
          </div>
        </div>
        <div class="main-menu main-block">
          <h2>Основное меню</h2>
          <nav>
            <div><a href="#">Цены</a></div>
            <div><a href="#">Возможности</a></div>
            <div><a href="#">Отзывы</a></div>
            <div><span class="active">О проекте</span></div>
            <div><a href="#">Помощь</a></div>
            <div><a href="#">Партнерская программа</a></div>
            <hr>
            <div><a href="#">На главную страницу</a></div>
          </nav>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}
