= yaml =
pageTitle: Проверка  ТЗ по заданию
pageTitleNote: «привкус гари в электронной сигарете как убрать»
bodyMods: checking inner
bodyClasses: ''
scrollFixClasses: ''
contentClasses: 'container'
asideLeft: false
asideRight: false
noViewport: true
more : true
layout: !!map
    header    : inner
    footer    : inner
    profile   : true
    topic     : {
    	class : b-page-topic--checking
    }
    tekstrator: true
= yaml =

{% extends '_layout.html' %}

{% block main %}

	{% include 'checking.html' %}

{% endblock %}
