= yaml =
pageTitle: Главная страница
bodyMods: main
bodyClasses: ''
scrollFixClasses: ''
contentClasses: 'container'
asideLeft: false
asideRight: false
layout: !!map
    header    : main
= yaml =

{% extends '_layout.html' %}

{% block main %}

  <siction class="advantages both">
    <div class="container">
      <h2 class="title">Преимущества использования</h2>
      <div class="blocks__list" id="slider-list">
        <div class="blocks__list-item"><span class="icon icon-verify"></span>
          <h3>Внутренний и внешний аудит сайта</h3>
          <p>Воспользуйтесь сразу всем спектром услуг, сразу всем спектром услуг.</p>
        </div>
        <div class="blocks__list-item"><span class="icon icon-verify"></span>
          <h3>Сравнение отчётов</h3>
          <p>Воспользуйтесь сразу всем спектром услуг, сразу всем спектром услуг.</p>
        </div>
        <div class="blocks__list-item"><span class="icon icon-verify"></span>
          <h3>Автозапуск</h3>
          <p>Воспользуйтесь сразу всем спектром услуг, сразу всем спектром услуг.</p>
        </div>
        <div class="blocks__list-item"><span class="icon icon-verify"></span>
          <h3>Мобильность</h3>
          <p>Воспользуйтесь сразу всем спектром услуг, сразу всем спектром услуг.</p>
        </div>
        <div class="blocks__list-item"><span class="icon icon-verify"></span>
          <h3>Отчет в формате PDF</h3>
          <p>Воспользуйтесь сразу всем спектром услуг, сразу всем спектром услуг.</p>
        </div>
        <div class="blocks__list-item"><span class="icon icon-verify"></span>
          <h3>Выгрузка данных в CSV-файл</h3>
          <p>Воспользуйтесь сразу всем спектром услуг, сразу всем спектром услуг.</p>
        </div>
      </div>
      <div class="informer"><i class="fa fa-info" aria-hidden="true"></i> Остались вопросы?<a href="#">Ответы на частые вопросы</a> или<a href="#">напишите нам</a></div>
    </div>
  </siction>
  <section class="blocks__article both" id="slider-article">
    <article class="blocks__article-item both">
      <div class="container">
        <figure class="image"><img src="images/demo.jpg" alt=""></figure>
        <div class="intro">
          <h3>Полный отчет о сайте</h3>
          <p>Вы получите полный отчет о состоянии сайта и всех его параметрах. Очень полезный аудит, серьезно прорабатывается такой аспект, как внутренняя перелинковка сайта, многие оптимизаторы получат долгожданный ответ на вопрос. Внутренняя оптимизация сайта подразумевает затраты сил и времени.</p>
          <hr>
          <ul class="list-check">
            <li>Скопируйте текст или ту его часть, в которой нужно повысить уникальность;</li>
            <li>Скопируйте текст или ту его часть, в которой нужно повысить уникальность;</li>
            <li>Вставьте его в специальное поле на сайте;</li>
            <li>Вставьте его в специальное поле на сайте;</li>
          </ul>
        </div>
      </div>
    </article>
    <article class="blocks__article-item both">
      <div class="container">
        <figure class="image"><img src="images/demo.jpg" alt=""></figure>
        <div class="intro">
          <h3>Полный отчет о сайте</h3>
          <p>Вы получите полный отчет о состоянии сайта и всех его параметрах. Очень полезный аудит, серьезно прорабатывается такой аспект, как внутренняя перелинковка сайта, многие оптимизаторы получат долгожданный ответ на вопрос. Внутренняя оптимизация сайта подразумевает затраты сил и времени.</p>
          <hr>
          <ul class="list-check">
            <li>Скопируйте текст или ту его часть, в которой нужно повысить уникальность;</li>
            <li>Скопируйте текст или ту его часть, в которой нужно повысить уникальность;</li>
            <li>Вставьте его в специальное поле на сайте;</li>
            <li>Вставьте его в специальное поле на сайте;</li>
          </ul>
        </div>
      </div>
    </article>
    <article class="blocks__article-item both">
      <div class="container">
        <figure class="image"><img src="images/demo.jpg" alt=""></figure>
        <div class="intro">
          <h3>Полный отчет о сайте</h3>
          <p>Вы получите полный отчет о состоянии сайта и всех его параметрах. Очень полезный аудит, серьезно прорабатывается такой аспект, как внутренняя перелинковка сайта, многие оптимизаторы получат долгожданный ответ на вопрос. Внутренняя оптимизация сайта подразумевает затраты сил и времени.</p>
          <hr>
          <ul class="list-check">
            <li>Скопируйте текст или ту его часть, в которой нужно повысить уникальность;</li>
            <li>Скопируйте текст или ту его часть, в которой нужно повысить уникальность;</li>
            <li>Вставьте его в специальное поле на сайте;</li>
            <li>Вставьте его в специальное поле на сайте;</li>
          </ul>
        </div>
      </div>
    </article>
  </section>
  <div class="reviews both">
    <div class="container">
      <h3 class="title">Отзывы</h3>
      <div class="owl-carousel" id="reviews">
        <div class="item">
          <figure class="review__image"><img src="images/demo.jpg" alt=""></figure><a class="review__author" href="#">Александр Алаев</a><span class="review__post">генеральный директор Alaev.Co</span>
          <p class="review__content">Я впервые нашел СайтРепорт лет 5 назад и мне сервис очень понравился. Его можно сравнить с любым десктопным софтом для обхода сайтов, только возможностей намного больше, плюс красивые графики и отчеты. Вы получите полный отчет о состоянии сайта и всех его параметрах. Очень полезный аудит, серьезно прорабатывается такой аспект, как внутренняя перелинковка сайта, многие оптимизаторы получат долгожданный ответ на вопрос.</p>
        </div>
        <div class="item">
          <figure class="review__image"><img src="images/demo.jpg" alt=""></figure><a class="review__author" href="#">Александр Алаев</a><span class="review__post">генеральный директор Alaev.Co</span>
          <div class="review__content">Я впервые нашел СайтРепорт лет 5 назад и мне сервис очень понравился. Его можно сравнить с любым десктопным софтом для обхода сайтов, только возможностей намного больше, плюс красивые графики и отчеты. Вы получите полный отчет о состоянии сайта и всех его параметрах. Очень полезный аудит, серьезно прорабатывается такой аспект, как внутренняя перелинковка сайта, многие оптимизаторы получат долгожданный ответ на вопрос.</div>
        </div>
        <div class="item">
          <figure class="review__image"><img src="images/demo.jpg" alt=""></figure><a class="review__author" href="#">Александр Алаев</a><span class="review__post">генеральный директор Alaev.Co</span>
          <p class="review__content">Я впервые нашел СайтРепорт лет 5 назад и мне сервис очень понравился. Его можно сравнить с любым десктопным софтом для обхода сайтов, только возможностей намного больше, плюс красивые графики и отчеты. Вы получите полный отчет о состоянии сайта и всех его параметрах. Очень полезный аудит, серьезно прорабатывается такой аспект, как внутренняя перелинковка сайта, многие оптимизаторы получат долгожданный ответ на вопрос.</p>
        </div>
        <div class="item">
          <figure class="review__image"><img src="images/demo.jpg" alt=""></figure><a class="review__author" href="#">Александр Алаев</a><span class="review__post">генеральный директор Alaev.Co</span>
          <p class="review__content">Я впервые нашел СайтРепорт лет 5 назад и мне сервис очень понравился. Его можно сравнить с любым десктопным софтом для обхода сайтов, только возможностей намного больше, плюс красивые графики и отчеты. Вы получите полный отчет о состоянии сайта и всех его параметрах. Очень полезный аудит, серьезно прорабатывается такой аспект, как внутренняя перелинковка сайта, многие оптимизаторы получат долгожданный ответ на вопрос.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="both block-analysis bottom">
    <div class="container">
      <h4 class="title">Готовы проверить свой сайт?</h4>
      <form class="site-analysis" action="#" method="get" accept-charset="utf-8">
        <input class="input__url" type="text" name="url" value="" placeholder="Адрес вашего сайта">
        <input class="input__send" type="submit" name="send" value="Запустить">
      </form>
    </div>
  </div>

{% endblock %}
