= yaml =
pageTitle: Калькулятор вхождений
bodyMods: inquiry-calculator inner
bodyClasses: ''
scrollFixClasses: ''
contentClasses: 'container'
asideLeft: false
asideRight: false
noViewport: true
more : true
layout: !!map
    header    : inner
    footer    : inner
    profile   : true
    topic     : {
    	class : b-page-topic--checking
    }
    tekstrator: true
    tekstratorHide: true
= yaml =

{% extends '_layout.html' %}

{% block main %}
	
	{% include 'inquiry-calculator.html' %}
	
{% endblock %}
