= yaml =
pageTitle: Новый аудит
bodyMods: new_audit
bodyClasses: ''
scrollFixClasses: ''
contentClasses: 'container'
asideLeft: false
asideRight: false
layout: !!map
    header : inner
    profile   : true
    topic     : {
        button : true
    }
= yaml =

{% extends '_layout.html' %}

{% block main %}

  <section class="b-audit">
    <div class="b-audit__container">
      <div class="b-audit__item">
        <form class="b-audit-form">
          <div class="b-audit-form__input-wrapper">
            <div class="b-audit-form__input b-main-input">
              <input type="text" placeholder="Адрес сайта">
            </div>
            <div class="b-audit-form__warning-wrap">
              <div class="b-audit-form__warning">
                <div class="b-audit-form__warning-img">
                  <div class="b-audit-form__warning-img-wrap"><i class="fa fa-times" aria-hidden="true"></i></div>
                </div>
                <div class="b-audit-form__warning-text">
                  <div class="b-audit-form__warning-topic">Ошибка</div>
                  <div class="b-audit-form__warning-aftertopic">Указанный адрес (http://saitrepotr.ru), неверно ответил на запрос. Код ответа 404 — нет связи с сайтом</div>
                </div>
              </div>
            </div>
          </div>
          <div class="b-audit-form__btn b-main-button"><a href="#">Запустить аудит</a></div>
        </form>
      </div>
      <div class="b-audit__item">
        <div class="b-audit-info">
          <div class="b-audit-info__container">
            <div class="b-audit-info__topic">Платная диагностика</div>
            <div class="b-audit-info__text">Экспресс-тестирование и отчёт по 25 страницам вашего сайта. Результат — исчерпывающая информация о техническом состоянии вашего сайта и его внутренней оптимизации по итогам анализа нескольких сотен факторов.</div>
            <div class="b-audit-info__triggers">
              <div class="b-audit-info__trigger">
                <div class="b-audit-info__trigger-img">
                  <div class="b-audit-info__trigger-img-text b-round">25</div>
                </div>
                <div class="b-audit-info__trigger-text">Проверенных страниц в отчете</div>
              </div>
              <div class="b-audit-info__trigger">
                <div class="b-audit-info__trigger-img">
                  <div class="b-audit-info__trigger-img-sv b-round"><img src="./img/audit/trigger2.svg" alt=""></div>
                </div>
                <div class="b-audit-info__trigger-text">Все инструменты и типы отчетов</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
