= yaml =
pageTitle: Новости
bodyMods: news
bodyClasses: ''
scrollFixClasses: ''
contentClasses: 'container'
asideLeft: false
asideRight: false
layout: !!map
    header    : inner
    profile   : true
    topic     : true
= yaml =

{% extends '_layout.html' %}

{% block main %}
  <sections class="b-news-wrap">
    <div class="b-news-wrap__container">
      <div class="b-news-wrap__item">
        <div class="b-news">
          <div class="b-news__item"><a class="b-news__img" href="#"><img src="./img/news/news_img1.png" alt="Новость"></a>
            <div class="b-news__about"><a class="b-news__about-topic" href="#">Семантика за полцены!</a>
              <div class="b-news__about-date">31 октября 2016</div>
              <div class="b-news__about-text">Весь январь вы можете покупать семантику за половину её стоимости в сервисе. Войдите в раздел "Мои проекты", выберите проект и в колонке "Отчёт" нажмите на ссылку "Семантика" и далее "Разблокировать".</div>
            </div>
          </div>
          <div class="b-news__item"><a class="b-news__img" href="#"><img src="./img/news/news_img1.png" alt="Новость"></a>
            <div class="b-news__about"><a class="b-news__about-topic" href="#">Новая услуга сервиса СайтРепорт — «Мониторинг»!</a>
              <div class="b-news__about-date">31 октября 2016</div>
              <div class="b-news__about-text">Весь январь вы можете покупать семантику за половину её стоимости в сервисе. Войдите в раздел "Мои проекты", выберите проект и в колонке "Отчёт" нажмите на ссылку "Семантика" и далее "Разблокировать".</div>
            </div>
          </div>
          <div class="b-news__item"><a class="b-news__img" href="#"><img src="./img/news/news_img1.png" alt="Новость"></a>
            <div class="b-news__about"><a class="b-news__about-topic" href="#">Новая услуга сервиса СайтРепорт — «Мониторинг»!</a>
              <div class="b-news__about-date">31 октября 2016</div>
              <div class="b-news__about-text">Весь январь вы можете покупать семантику за половину её стоимости в сервисе. Войдите в раздел "Мои проекты", выберите проект и в колонке "Отчёт" нажмите на ссылку "Семантика" и далее "Разблокировать".</div>
            </div>
          </div>
        </div>
      </div>
      <div class="b-news-wrap__item">
        <div class="b-news-nav">
          <ul class="b-news-nav__list">
            <li><a href="#">О сервисе</a></li>
            <li><a class="active" href="#">Новости</a></li>
            <li><a href="#">Ответы на вопросы</a></li>
            <li><a href="#">Инструменты</a></li>
            <li><a href="#">Технологии</a></li>
            <li><a href="#">Семантика</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="b-news-wrap__btn-wrap">
      <div class="b-news-wrap__btn b-main-button b-main-button_white"><a href="#">Показать еще</a></div>
    </div>
  </sections>
  <div class="both block-analysis bottom">
    <div class="container">
      <h4 class="title">Готовы проверить свой сайт?</h4>
      <form class="site-analysis" action="#" method="get" accept-charset="utf-8">
        <input class="input__url" type="text" name="url" value="" placeholder="Адрес вашего сайта">
        <input class="input__send" type="submit" name="send" value="Запустить">
      </form>
    </div>
  </div>

{% endblock %}
