= yaml =
pageTitle: Профиль пользователя
bodyMods: profile
bodyClasses: ''
scrollFixClasses: ''
contentClasses: 'container'
asideLeft: false
asideRight: false
layout: !!map
    header    : inner
    profile   : true
    topic     : true
= yaml =

{% extends '_layout.html' %}

{% block main %}

  <section class="b-personal-data">
    <div class="b-personal-data__container">
      <div class="b-personal-data__item">
        <form class="b-personal-form" action="#" novalidate>
          <div class="b-personal-form__data">
            <div class="b-personal-form__topic">Персональные данные</div>
            <div class="b-personal-form__line">
              <div class="b-personal-form__input-label">Ваше имя</div>
              <div class="b-personal-form__input b-main-input">
                <input type="text" name="name">
              </div>
            </div>
            <div class="b-personal-form__line">
              <div class="b-personal-form__input-label">Email</div>
              <div class="b-personal-form__input b-main-input">
                <input type="email" value="konstantin@gmail.com" disabled>
              </div>
            </div>
            <div class="b-personal-form__line">
              <div class="b-personal-form__input-label">Телефон</div>
              <div class="b-personal-form__input b-personal-form__input_number b-main-input">
                <input type="tel" placeholder="+7 (___) ___-__-__">
                <div class="b-personal-form__checkbox b-main-checkbox">
                  <input type="checkbox" name="sms" id="b-check1">
                  <label for="b-check1">Получать SMS-уведомления</label>
                </div>
              </div>
            </div>
            <div class="b-personal-form__line b-personal-form__line_inputfile">
              <div class="b-personal-form__input-label">Аватар</div>
              <div class="b-personal-form__input b-personal-form__input_inputfile js-inputfile">
                <input class="inputfile inputfile-1" type="file" id="file-1">
                <label for="file-1"><span>+</span></label><img class="b-prev-img" src="" alt="preview">
              </div>
            </div>
          </div>
          <div class="b-personal-form__passw">
            <div class="b-personal-form__topic">Сменить пароль</div>
            <div class="b-personal-form__line">
              <div class="b-personal-form__input-label">Старый</div>
              <div class="b-personal-form__input b-main-input">
                <input type="password">
              </div>
            </div>
            <div class="b-personal-form__line">
              <div class="b-personal-form__input-label">Новый пароль</div>
              <div class="b-personal-form__input b-main-input">
                <input type="password" name="newPassword">
              </div>
            </div>
            <div class="b-personal-form__line">
              <div class="b-personal-form__input-label">Повторить новый</div>
              <div class="b-personal-form__input b-main-input">
                <input type="password" name="repeatPassword">
              </div>
            </div>
          </div>
          <div class="b-personal-form__requisites">
            <div class="b-personal-form__topic" id="b-reqv">Реквизиты фирмы</div>
            <div class="b-personal-form__line">
              <div class="b-personal-form__input-label">Название</div>
              <div class="b-personal-form__input b-main-input">
                <input type="text">
              </div>
            </div>
            <div class="b-personal-form__line">
              <div class="b-personal-form__input-label">ИНН</div>
              <div class="b-personal-form__input b-main-input">
                <input type="text">
              </div>
            </div>
            <div class="b-personal-form__line">
              <div class="b-personal-form__input-label">КПП</div>
              <div class="b-personal-form__input b-main-input">
                <input type="text">
              </div>
            </div>
            <div class="b-personal-form__line">
              <div class="b-personal-form__input-label">ОГРН</div>
              <div class="b-personal-form__input b-main-input">
                <input type="text">
              </div>
            </div>
            <div class="b-personal-form__line">
              <div class="b-personal-form__input-label">Юр. адрес</div>
              <div class="b-personal-form__input b-main-input">
                <input type="text">
              </div>
            </div>
          </div>
          <div class="b-personal-data__btn-wrapper">
            <div class="b-personal-data__btn js-slide-toggle" data-slidecontext=".b-personal-data__item" data-slidetoggle=".b-personal-form__requisites"><span>Добавить реквизиты фирмы</span></div>
            <div class="b-personal-data__btns">
              <div class="b-personal-data__save-btn b-main-button">
                <button type="submit" data-error="Исправьте ошибки в полях формы">Сохранить изменения</button>
              </div>
              <div class="b-personal-data__delete-btn js-magnific"><a href="#b-delete-account">Удалить аккаунт</a></div>
            </div>
          </div>
        </form>
      </div>
      <div class="b-personal-data__item">
        <div class="b-card-list">
          <div class="b-card-list__container">
            <ul>
              <li><a class="active" href="">Настройки профиля</a></li>
              <li><a href="">Баланс и статистика</a></li>
              <li><a href="">Партнерская программа</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
