= yaml =
pageTitle: Сводный отчет
bodyMods: report
bodyClasses: ''
scrollFixClasses: ''
contentClasses: 'container'
asideLeft: false
asideRight: false
layout: !!map
    header    : inner
noViewport : true
= yaml =

{% extends '_layout.html' %}

{% block main %}

  <div class="b-analysis-container" id="content">
    <div class="b-analysi-preload-wrap">
      <div class="b-analysi-preload">
        <div class="b-analysi-preload__container">
          <div class="b-analysi-preload__img"><img src="./img/report/preload.png" alt=""></div>
          <div class="b-analysi-preload__topic">Загрузка и анализ проекта</div>
          <div class="b-analysi-preload__text">По завершению вы получите PDF-отчет на указанную почту. СМС-уведомления отключены,<a href="#">хотите подключить</a>?</div>
        </div>
      </div>
    </div>
    <section class="b-analysis">
      <div class="b-analysis__container">
        <div class="b-analysis__item">
          <div class="b-analysis__site-name-wrap">
            <div class="b-analysis__site-name">Simples-site.com</div>
            <div class="b-analysis-name">
              <div class="b-analysis-name__container">
                <div class="b-analysis-name__head">
                  <div class="b-analysis-name__search b-main-input">
                    <input type="text" placeholder="Найти проект">
                  </div>
                  <div class="b-analysis-name__btn b-main-button"><a href="#">Новый проект</a></div>
                </div>
                <div class="b-analysis-name__body">
                  <a href="#" class="b-analysis-name__item">
                    <div class="b-analysis-name__icon"><img src="./img/report/project-icon.png" alt=""></div>
                    <div class="b-analysis-name__sitename">docs.google.com/doc001</div>
                    <div class="b-analysis-name__date-wrap">
                      <div class="b-analysis-name__status loading done"></div>
                      <div class="b-analysis-name__date">28.11.16 13:21</div>
                    </div>
                  </a>
                  <a href="#" class="b-analysis-name__item">
                    <div class="b-analysis-name__icon"><img src="./img/report/project-icon.png" alt=""></div>
                    <div class="b-analysis-name__sitename">docs.google.com/doc123</div>
                    <div class="b-analysis-name__date-wrap">
                      <div class="b-analysis-name__status loading done"></div>
                      <div class="b-analysis-name__date">28.11.16 13:21</div>
                    </div>
                  </a>
                  <a href="#" class="b-analysis-name__item">
                    <div class="b-analysis-name__icon"><img src="./img/report/project-icon.png" alt=""></div>
                    <div class="b-analysis-name__sitename">docs.google.com/documeqwewe8jkqwhejklcGn</div>
                    <div class="b-analysis-name__date-wrap">
                      <div class="b-analysis-name__status loading done"></div>
                      <div class="b-analysis-name__date">28.11.16 13:21</div>
                    </div>
                  </a>
                  <a href="#" class="b-analysis-name__item">
                    <div class="b-analysis-name__icon"><img src="./img/report/project-icon.png" alt=""></div>
                    <div class="b-analysis-name__sitename">docs.google.com/documeq8jkqwhejklcGn</div>
                    <div class="b-analysis-name__date-wrap">
                      <div class="b-analysis-name__status loading done"></div>
                      <div class="b-analysis-name__date">28.11.16 13:21</div>
                    </div>
                  </a>
                  <a href="#" class="b-analysis-name__item">
                    <div class="b-analysis-name__icon"><img src="./img/report/project-icon.png" alt=""></div>
                    <div class="b-analysis-name__sitename">docs.google.com/documeq8jkqwhejklcGn</div>
                    <div class="b-analysis-name__date-wrap">
                      <div class="b-analysis-name__status done"></div>
                      <div class="b-analysis-name__date">28.11.16 13:21</div>
                    </div>
                  </a>
                  <a href="#" class="b-analysis-name__item">
                    <div class="b-analysis-name__icon"><img src="./img/report/project-icon.png" alt=""></div>
                    <div class="b-analysis-name__sitename">docs.google.com/documeq8jkqwhejklcGn</div>
                    <div class="b-analysis-name__date-wrap">
                      <div class="b-analysis-name__status loading done"></div>
                      <div class="b-analysis-name__date">28.11.16 13:21</div>
                    </div>
                  </a>
                  <a href="#" class="b-analysis-name__item">
                    <div class="b-analysis-name__icon"><img src="./img/report/project-icon.png" alt=""></div>
                    <div class="b-analysis-name__sitename">docs.google.com/documeq8jkqwhejklcGn</div>
                    <div class="b-analysis-name__date-wrap">
                      <div class="b-analysis-name__status done"></div>
                      <div class="b-analysis-name__date">28.11.16 13:21</div>
                    </div>
                  </a>
                  <a href="#" class="b-analysis-name__item">
                    <div class="b-analysis-name__icon"><img src="./img/report/project-icon.png" alt=""></div>
                    <div class="b-analysis-name__sitename">docs.google.com/documeq8jkqwhejklcGn</div>
                    <div class="b-analysis-name__date-wrap">
                      <div class="b-analysis-name__status loading done"></div>
                      <div class="b-analysis-name__date">28.11.16 13:21</div>
                    </div>
                  </a>
                  <a href="#" class="b-analysis-name__item">
                    <div class="b-analysis-name__icon"><img src="./img/report/project-icon.png" alt=""></div>
                    <div class="b-analysis-name__sitename">docs.google.com/doc001</div>
                    <div class="b-analysis-name__date-wrap">
                      <div class="b-analysis-name__status loading done"></div>
                      <div class="b-analysis-name__date">28.11.16 13:21</div>
                    </div>
                  </a>
                  <a href="#" class="b-analysis-name__item">
                    <div class="b-analysis-name__icon"><img src="./img/report/project-icon.png" alt=""></div>
                    <div class="b-analysis-name__sitename">docs.google.com/doc123</div>
                    <div class="b-analysis-name__date-wrap">
                      <div class="b-analysis-name__status loading done"></div>
                      <div class="b-analysis-name__date">28.11.16 13:21</div>
                    </div>
                  </a>
                  <a href="#" class="b-analysis-name__item">
                    <div class="b-analysis-name__icon"><img src="./img/report/project-icon.png" alt=""></div>
                    <div class="b-analysis-name__sitename">docs.google.com/documeqwewe8jkqwhejklcGn</div>
                    <div class="b-analysis-name__date-wrap">
                      <div class="b-analysis-name__status loading done"></div>
                      <div class="b-analysis-name__date">28.11.16 13:21</div>
                    </div>
                  </a>
                  <a href="#" class="b-analysis-name__item">
                    <div class="b-analysis-name__icon"><img src="./img/report/project-icon.png" alt=""></div>
                    <div class="b-analysis-name__sitename">docs.google.com/documeq8jkqwhejklcGn</div>
                    <div class="b-analysis-name__date-wrap">
                      <div class="b-analysis-name__status loading done"></div>
                      <div class="b-analysis-name__date">28.11.16 13:21</div>
                    </div>
                  </a>
                  <a href="#" class="b-analysis-name__item">
                    <div class="b-analysis-name__icon"><img src="./img/report/project-icon.png" alt=""></div>
                    <div class="b-analysis-name__sitename">docs.google.com/documeq8jkqwhejklcGn</div>
                    <div class="b-analysis-name__date-wrap">
                      <div class="b-analysis-name__status done"></div>
                      <div class="b-analysis-name__date">28.11.16 13:21</div>
                    </div>
                  </a>
                  <a href="#" class="b-analysis-name__item">
                    <div class="b-analysis-name__icon"><img src="./img/report/project-icon.png" alt=""></div>
                    <div class="b-analysis-name__sitename">docs.google.com/documeq8jkqwhejklcGn</div>
                    <div class="b-analysis-name__date-wrap">
                      <div class="b-analysis-name__status loading done"></div>
                      <div class="b-analysis-name__date">28.11.16 13:21</div>
                    </div>
                  </a>
                  <a href="#" class="b-analysis-name__item">
                    <div class="b-analysis-name__icon"><img src="./img/report/project-icon.png" alt=""></div>
                    <div class="b-analysis-name__sitename">docs.google.com/documeq8jkqwhejklcGn</div>
                    <div class="b-analysis-name__date-wrap">
                      <div class="b-analysis-name__status done"></div>
                      <div class="b-analysis-name__date">28.11.16 13:21</div>
                    </div>
                  </a>
                  <a href="#" class="b-analysis-name__item">
                    <div class="b-analysis-name__icon"><img src="./img/report/project-icon.png" alt=""></div>
                    <div class="b-analysis-name__sitename">docs.google.com/documeq8jkqwhejklcGn</div>
                    <div class="b-analysis-name__date-wrap">
                      <div class="b-analysis-name__status loading done"></div>
                      <div class="b-analysis-name__date">28.11.16 13:21</div>
                    </div>
                  </a>
                  <a href="#" class="b-analysis-name__item">
                    <div class="b-analysis-name__icon"><img src="./img/report/project-icon.png" alt=""></div>
                    <div class="b-analysis-name__sitename">docs.google.com/doc001</div>
                    <div class="b-analysis-name__date-wrap">
                      <div class="b-analysis-name__status loading done"></div>
                      <div class="b-analysis-name__date">28.11.16 13:21</div>
                    </div>
                  </a>
                  <a href="#" class="b-analysis-name__item">
                    <div class="b-analysis-name__icon"><img src="./img/report/project-icon.png" alt=""></div>
                    <div class="b-analysis-name__sitename">docs.google.com/doc123</div>
                    <div class="b-analysis-name__date-wrap">
                      <div class="b-analysis-name__status loading done"></div>
                      <div class="b-analysis-name__date">28.11.16 13:21</div>
                    </div>
                  </a>
                  <a href="#" class="b-analysis-name__item">
                    <div class="b-analysis-name__icon"><img src="./img/report/project-icon.png" alt=""></div>
                    <div class="b-analysis-name__sitename">docs.google.com/documeqwewe8jkqwhejklcGn</div>
                    <div class="b-analysis-name__date-wrap">
                      <div class="b-analysis-name__status loading done"></div>
                      <div class="b-analysis-name__date">28.11.16 13:21</div>
                    </div>
                  </a>
                  <a href="#" class="b-analysis-name__item">
                    <div class="b-analysis-name__icon"><img src="./img/report/project-icon.png" alt=""></div>
                    <div class="b-analysis-name__sitename">docs.google.com/documeq8jkqwhejklcGn</div>
                    <div class="b-analysis-name__date-wrap">
                      <div class="b-analysis-name__status loading done"></div>
                      <div class="b-analysis-name__date">28.11.16 13:21</div>
                    </div>
                  </a>
                  <a href="#" class="b-analysis-name__item">
                    <div class="b-analysis-name__icon"><img src="./img/report/project-icon.png" alt=""></div>
                    <div class="b-analysis-name__sitename">docs.google.com/documeq8jkqwhejklcGn</div>
                    <div class="b-analysis-name__date-wrap">
                      <div class="b-analysis-name__status done"></div>
                      <div class="b-analysis-name__date">28.11.16 13:21</div>
                    </div>
                  </a>
                  <a href="#" class="b-analysis-name__item">
                    <div class="b-analysis-name__icon"><img src="./img/report/project-icon.png" alt=""></div>
                    <div class="b-analysis-name__sitename">docs.google.com/documeq8jkqwhejklcGn</div>
                    <div class="b-analysis-name__date-wrap">
                      <div class="b-analysis-name__status loading done"></div>
                      <div class="b-analysis-name__date">28.11.16 13:21</div>
                    </div>
                  </a>
                  <a href="#" class="b-analysis-name__item">
                    <div class="b-analysis-name__icon"><img src="./img/report/project-icon.png" alt=""></div>
                    <div class="b-analysis-name__sitename">docs.google.com/documeq8jkqwhejklcGn</div>
                    <div class="b-analysis-name__date-wrap">
                      <div class="b-analysis-name__status done"></div>
                      <div class="b-analysis-name__date">28.11.16 13:21</div>
                    </div>
                  </a>
                  <a href="#" class="b-analysis-name__item">
                    <div class="b-analysis-name__icon"><img src="./img/report/project-icon.png" alt=""></div>
                    <div class="b-analysis-name__sitename">docs.google.com/documeq8jkqwhejklcGn</div>
                    <div class="b-analysis-name__date-wrap">
                      <div class="b-analysis-name__status loading done"></div>
                      <div class="b-analysis-name__date">28.11.16 13:21</div>
                    </div>
                  </a>
                  <a href="#" class="b-analysis-name__item">
                    <div class="b-analysis-name__icon"><img src="./img/report/project-icon.png" alt=""></div>
                    <div class="b-analysis-name__sitename">docs.google.com/doc001</div>
                    <div class="b-analysis-name__date-wrap">
                      <div class="b-analysis-name__status loading done"></div>
                      <div class="b-analysis-name__date">28.11.16 13:21</div>
                    </div>
                  </a>
                  <a href="#" class="b-analysis-name__item">
                    <div class="b-analysis-name__icon"><img src="./img/report/project-icon.png" alt=""></div>
                    <div class="b-analysis-name__sitename">docs.google.com/doc123</div>
                    <div class="b-analysis-name__date-wrap">
                      <div class="b-analysis-name__status loading done"></div>
                      <div class="b-analysis-name__date">28.11.16 13:21</div>
                    </div>
                  </a>
                  <a href="#" class="b-analysis-name__item">
                    <div class="b-analysis-name__icon"><img src="./img/report/project-icon.png" alt=""></div>
                    <div class="b-analysis-name__sitename">docs.google.com/documeqwewe8jkqwhejklcGn</div>
                    <div class="b-analysis-name__date-wrap">
                      <div class="b-analysis-name__status loading done"></div>
                      <div class="b-analysis-name__date">28.11.16 13:21</div>
                    </div>
                  </a>
                  <a href="#" class="b-analysis-name__item">
                    <div class="b-analysis-name__icon"><img src="./img/report/project-icon.png" alt=""></div>
                    <div class="b-analysis-name__sitename">docs.google.com/documeq8jkqwhejklcGn</div>
                    <div class="b-analysis-name__date-wrap">
                      <div class="b-analysis-name__status loading done"></div>
                      <div class="b-analysis-name__date">28.11.16 13:21</div>
                    </div>
                  </a>
                  <a href="#" class="b-analysis-name__item">
                    <div class="b-analysis-name__icon"><img src="./img/report/project-icon.png" alt=""></div>
                    <div class="b-analysis-name__sitename">docs.google.com/documeq8jkqwhejklcGn</div>
                    <div class="b-analysis-name__date-wrap">
                      <div class="b-analysis-name__status done"></div>
                      <div class="b-analysis-name__date">28.11.16 13:21</div>
                    </div>
                  </a>
                  <a href="#" class="b-analysis-name__item">
                    <div class="b-analysis-name__icon"><img src="./img/report/project-icon.png" alt=""></div>
                    <div class="b-analysis-name__sitename">docs.google.com/documeq8jkqwhejklcGn</div>
                    <div class="b-analysis-name__date-wrap">
                      <div class="b-analysis-name__status loading done"></div>
                      <div class="b-analysis-name__date">28.11.16 13:21</div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="b-analysis__time">
            <div class="b-analysis__time-date">
              <div class="b-analysis__time-date-wrap"><span class="c1">22.09.17</span><span class="c2">18:00</span></div>
              <div class="b-analysis__select-wrap">
                <div class="b-analysis__select b-analysis__select_date">
                  <div class="b-analysis__select-item js-date-switcher" data-targetinner=".b-analysis__time-date-wrap" data-context=".b-analysis__time-date" data-hidetarget=".b-analysis__select-wrap"><span>22.09.17</span><span>11:00</span></div>
                  <div class="b-analysis__select-item js-date-switcher" data-targetinner=".b-analysis__time-date-wrap" data-context=".b-analysis__time-date" data-hidetarget=".b-analysis__select-wrap"><span>22.09.17</span><span>14:00</span></div>
                  <div class="b-analysis__select-item js-date-switcher" data-targetinner=".b-analysis__time-date-wrap" data-context=".b-analysis__time-date" data-hidetarget=".b-analysis__select-wrap"><span>22.09.17</span><span>15:00</span></div>
                  <div class="b-analysis__select-item js-date-switcher" data-targetinner=".b-analysis__time-date-wrap" data-context=".b-analysis__time-date" data-hidetarget=".b-analysis__select-wrap"><span>22.09.17</span><span>16:00</span></div>
                  <div class="b-analysis__select-item js-date-switcher" data-targetinner=".b-analysis__time-date-wrap" data-context=".b-analysis__time-date" data-hidetarget=".b-analysis__select-wrap"><span>22.09.17</span><span>17:00</span></div>
                  <div class="b-analysis__select-item js-date-switcher" data-targetinner=".b-analysis__time-date-wrap" data-context=".b-analysis__time-date" data-hidetarget=".b-analysis__select-wrap"><span>22.09.17</span><span>18:00</span></div>
                </div>
              </div>
            </div>
            <div class="b-analysis__time-cost"><span>125 000</span><span>/ 500 000</span></div>
          </div>
          <div class="b-analysis__btns">
            <div class="b-analysis__btn-rebuild"><i class="fa fa-refresh" aria-hidden="true"></i> Перезапустить</div>
            <div class="b-analysis__btn-calendar"><i class="fa fa-calendar" aria-hidden="true"></i> Еженедельно</div>
            <div class="b-analysis__btn-settings"><i class="fa fa-cog" aria-hidden="true"></i> Настройки загрузки</div>
          </div>
        </div>
        <div class="b-analysis__item">
          <div class="b-analysis__options-wrap">
            <div class="b-analysis__options">
              <div class="b-analysis__option"></div>
              <div class="b-analysis__option"></div>
              <div class="b-analysis__option"></div>
            </div>
            <div class="b-analysis__options-body-wrapp">
              <div class="b-analysis__options-body">
                <ul>
                  <li><a href="#"><span>Перезапустить</span></a></li>
                  <li><a href="#"><span>Мониторинг сайта</span></a></li>
                  <li><a href="#"><span>Дополнительно</span></a></li>
                  <li class="b-delete-btn js-magnific"><a href="#b-delete-account2">Удалить проект</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="b-analysis-content">
      <div class="b-analysis-content__show-btn js-report-menu" data-slidetoggle=".b-analysis-nav__wrap" data-slidecontext=".b-analysis-content" data-slideeffect="slideleft"></div>
      <div class="b-analysis-content__wrap">
        <div class="b-analysis-nav__wrap">
          <nav class="b-analysis-nav">
            <div class="b-analysis-nav__container">
              <ul class="b-analysis-nav__list">
                <li class="b-report1"><a class="b-analysis-nav__list-item" href="#"><i class="fa fa-trello" aria-hidden="true"></i> Сводный отчет</a></li>
                <li class="b-report2"><a class="b-analysis-nav__list-item" href="#"><i class="fa fa-calendar" aria-hidden="true"></i> История мониторинга</a></li>
                <li class="b-report3"><a class="b-analysis-nav__list-item" href="#"><i class="fa fa-lightbulb-o" aria-hidden="true"></i> Рекомендации</a></li>
                <li>
                  <ul class="b-analysis-nav__inner">
                    <li class="b-report4 b-analysis-nav__topic"><i class="fa fa-wrench" aria-hidden="true"></i> Техническая оптимизация</li>
                    <li><a href="#">Структура сайта</a></li>
                    <li><a href="#">Загрузка</a></li>
                    <li><a href="#">Ресурсы</a></li>
                    <li><a href="#">Ссылки</a></li>
                    <li><a href="#">Метрики и индексация</a></li>
                    <li><a href="#">Производительность</a></li>
                  </ul>
                </li>
                <li>
                  <ul class="b-analysis-nav__inner">
                    <li class="b-report5 b-analysis-nav__topic"><i class="fa fa-pencil" aria-hidden="true"></i> Текстовая оптимизация</li>
                    <li><a href="#">Теги</a></li>
                    <li><a href="#">Контент</a></li>
                    <li><a href="#">Текст</a></li>
                    <li><a href="#">Анкор-листы</a></li>
                    <li><a href="#">Релевантность ключей</a></li>
                  </ul>
                </li>
                <li>
                  <ul class="b-analysis-nav__inner">
                    <li class="b-report6 b-analysis-nav__topic"><i class="fa fa-link" aria-hidden="true"></i> Внешняя оптимизация</li>
                    <li><a href="#">Обратные ссылки</a></li>
                    <li><a href="#">Позиции конкурентов</a></li>
                  </ul>
                </li>
                <li class="b-report7"><a class="b-analysis-nav__list-item" href="#"><i class="fa fa-share-alt" aria-hidden="true"></i> Семантика</a></li>
                <li class="b-report8"><a class="b-analysis-nav__list-item" href="#"><i class="fa fa-download" aria-hidden="true"></i> Экспорт данных</a></li>
              </ul>
            </div>
          </nav>
        </div>
        <div class="b-analysis-total">
          <div class="b-analysis-total__container">
            <div class="b-analysis-total__head">
              <div class="b-analysis-total__head-item">
                <div class="b-analysis-total__topic">
                  <div class="b-analysis-total__topic-text">Сводный отчет</div>
                  <div class="b-analysis-total__topic-date-wrap">
                    <div class="b-analysis-total__topic-date-text">В сравнении:</div>
                    <div class="b-analysis-total__topic-date"><span>22.09.17</span><span>18:00</span></div>
                    <div class="b-analysis-total__topic-date-body">
                      <div class="b-analysis__select b-analysis__select_compare">
                        <div class="b-analysis__select-item js-date-switcher" data-targetinner=".b-analysis-total__topic-date" data-context=".b-analysis-total__topic-date-wrap" data-hidetarget=".b-analysis-total__topic-date-body"><span>22.09.17</span><span>11:00</span></div>
                        <div class="b-analysis__select-item js-date-switcher" data-targetinner=".b-analysis-total__topic-date" data-context=".b-analysis-total__topic-date-wrap" data-hidetarget=".b-analysis-total__topic-date-body"><span>22.09.17</span><span>14:00</span></div>
                        <div class="b-analysis__select-item js-date-switcher" data-targetinner=".b-analysis-total__topic-date" data-context=".b-analysis-total__topic-date-wrap" data-hidetarget=".b-analysis-total__topic-date-body"><span>22.09.17</span><span>15:00</span></div>
                        <div class="b-analysis__select-item js-date-switcher" data-targetinner=".b-analysis-total__topic-date" data-context=".b-analysis-total__topic-date-wrap" data-hidetarget=".b-analysis-total__topic-date-body"><span>22.09.17</span><span>16:00</span></div>
                        <div class="b-analysis__select-item js-date-switcher" data-targetinner=".b-analysis-total__topic-date" data-context=".b-analysis-total__topic-date-wrap" data-hidetarget=".b-analysis-total__topic-date-body"><span>22.09.17</span><span>17:00</span></div>
                        <div class="b-analysis__select-item js-date-switcher" data-targetinner=".b-analysis-total__topic-date" data-context=".b-analysis-total__topic-date-wrap" data-hidetarget=".b-analysis-total__topic-date-body"><span>22.09.17</span><span>18:00</span></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="b-analysis-total__head-item">
                <div class="b-analysis-total__head-links">
                  <div class="b-analysis-total__head-pdf">PDF отчет</div>
                  <div class="b-analysis-total__head-report"><i class="fa fa-link" aria-hidden="true"></i> Ссылка на отчет</div>
                </div>
              </div>
            </div>
            <div class="b-analysis-total__body">
              <div class="b-analysis-info">
                <div class="b-analysis-info__table js-fixed">
                  <div class="b-analysis-info__table-top"><a class="b-analysis-info__table-item" href="#">
                      <div class="b-analysis-info__table-item-topic">Загрузка</div></a><a class="b-analysis-info__table-item" href="#">
                      <div class="b-analysis-info__table-item-topic">Внутренние ссылки</div>
                      <div class="b-analysis-info__table-item-warning">5</div></a><a class="b-analysis-info__table-item" href="#">
                      <div class="b-analysis-info__table-item-topic">Контент</div></a><a class="b-analysis-info__table-item" href="#">
                      <div class="b-analysis-info__table-item-topic">Текст</div></a><a class="b-analysis-info__table-item" href="#">
                      <div class="b-analysis-info__table-item-topic">Теги</div></a><a class="b-analysis-info__table-item" href="#">
                      <div class="b-analysis-info__table-item-topic">Безопасность и репутация</div></a><a class="b-analysis-info__table-item pl-10" href="#">
                      <div class="b-analysis-info__table-item-topic">Обратные <br> ссылки</div></a>
                    <div class="b-analysis-info__table-item b-justify-end">
                      <div class="b-analysis-info__btn">Исправить ошибки</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

{% endblock %}
