= yaml =
pageTitle: Сигареты - 1017
bodyMods: textraktor-report inner
bodyClasses: ''
scrollFixClasses: ''
contentClasses: 'container'
asideLeft: false
asideRight: false
noViewport: true
more : true
bulet: true
layout: !!map
    header    : inner
    footer    : inner
    profile   : true
    topic     : {
    	class : b-page-topic--checking
    }
    tekstrator: true
pagePath : <a href="#">Текстовый анализатор</a><span class="path-separator"></span>
= yaml =

{% extends '_layout.html' %}

{% block main %}

	{% include 'textraktor-report.html' %}

{% endblock %}
